<div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}">

    <!-- Header -->
    <!-- [headerLibelle]="'Consultation mes simulations'" -->
    <page-header-connecte
        [headerStyle]="'mes-simul-bg-header'"
        [showUser]="'true'">
    </page-header-connecte>

    <div class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20">

        <div class="w-full max-w-400 mx-auto">

            <div class="flex flex-row">
                <div class="flex flex-col">
                    <span class="text-2xl md:text-4xl uppercase font-extrabold leading-tight tracking-tight text-primary">
                        Mes simulations
                    </span>
                    <div class="mt-2 md:text-xl text-secondary">
                        Vous avez ({{simulations.length}}) simulations
                    </div>
                </div>

                <!-- Add simulation button -->
                <button class="ml-auto"
                    mat-flat-button
                    [color]="'primary'"
                    [routerLink]="['/espace-connecte/simulation-detaillee']">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="hidden md:block ml-2 mr-1">Nouvelle simulation</span>
                    <span class="md:hidden ml-2 mr-1">Créer</span>
                </button>
            </div>
            
            <ng-container *ngIf="simulations && simulations.length > 0; else noSimulations">

                <div class="mx-auto sm:w-fit grid grid-cols-1 gap-y-14 md:gap-x-10 md:gap-y-16 mt-20"
                    [ngClass]="{'md:grid-cols-3' : simulations.length > 4 || simulations.length === 3,
                                'md:grid-cols-1' : simulations.length === 1,
                                'md:grid-cols-2' : simulations.length === 4 || simulations.length === 2}">

                    <ng-container *ngFor="let simulation of simulations; let i = index; trackBy: trackByFn">
                        
                        <fuse-card class="sm:max-w-90 relative flex flex-col items-center px-5 pb-6 overflow-visible ring-1 ring-primary-500 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.05] hover:bg-[#fae7e8]">

                            <div class="mx-auto absolute inset-x-0 -top-8 flex items-center justify-center h-16 w-16 rounded-full font-medium text-center leading-none bg-primary-500">
                                <mat-icon class="icon-size-14 text-on-primary -mt-1" svgIcon="calculation">
                                </mat-icon>
                            </div>

                            <div class="flex flex-col items-center mt-14 pb-5"
                                (click)="navigateToConsulterSimulation(simulation)">
                                <div class="text-2xl font-bold leading-tight uppercase">Simulation N° {{simulation.id}}
                                </div>
                                <div class="text-secondary">
                                    {{simulation.dateCreation}}
                                </div>
                                <div *ngIf="simulation.dossiers?.length > 1"
                                    class="text-secondary">
                                    {{simulation.dossiers.length}} dossiers
                                </div>
                                <div *ngIf="simulation.dossiers?.length === 1">
                                    <span>&nbsp;</span>
                                </div>
                                <div class="grid grid-cols-2 gap-5 px-2 mt-5">
                                    <div class="flex flex-col items-center">
                                        <span class="font-medium uppercase">Montant</span>
                                        <span class="text-xl font-semibold">{{simulation?.montantProposition}}</span>
                                    </div>
                                    <div class="flex flex-col items-center">
                                        <span class="font-medium uppercase">Mensualité</span>
                                        <span class="text-xl font-semibold">{{simulation?.mensualite}}</span>
                                    </div>
                                    <div class="flex flex-col items-center">
                                        <span class="font-medium uppercase">Durée</span>
                                        <span class="text-xl font-semibold">{{simulation?.duree}} mois</span>
                                    </div>
                                    <div class="flex flex-col items-center">
                                        <span class="font-medium uppercase">TEG</span>
                                        <span class="text-xl font-semibold">{{simulation?.tauxEffectifGlobalPondere}} %</span>
                                    </div>
                                </div>
                            </div>

                            <div class="flex items-center border-t pt-5">
                                <button
                                    mat-flat-button
                                    [color]="'primary'"
                                    (click)="navigateToDemandeCredit(simulation)">
                                    Demander mon crédit
                                </button>
                                <button
                                    class="ml-2"
                                    mat-stroked-button
                                    [matTooltip]="'J abandonne'"
                                    (click)="abandonner(simulation)">
                                    Abandonner
                                </button>
                            </div>

                        </fuse-card>
                    </ng-container>

                </div>
                
            </ng-container>

            <!-- No simulation template -->
            <ng-template #noSimulations>
                <div class="flex flex-col flex-auto items-center justify-center bg-second-100 dark:bg-transparent min-h-60 border border border-gray-200 shadow-sm rounded-md mt-10">
                    <mat-icon class="icon-size-20 md:icon-size-24" [svgIcon]="'mat_outline:search_off'"></mat-icon>
                    <div class="mt-4 text-xl md:text-2xl font-semibold tracking-tight text-secondary">
                        Il n'y a pas de simulation!
                    </div>
                </div>
            </ng-template>
        </div>

    </div>

</div>