<section class="px-6 sm:px-16 py-10 sm:pt-18 sm:pb-20 bg-gray-600 text-white">
    <div class="w-full max-w-400 mx-auto">
        <div class="text-2xl md:text-4xl uppercase font-extrabold tracking-tight leading-tight text-white">
            Pourquoi nous choisir ?
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 max-md:gap-y-3 md:gap-x-5 mt-8 md:mt-16">

            <div class="flex flex-col justify-start px-3 max-md:pb-5">
                <div class="flex flex-row items-center">
                    <span class="text-9xl md:text-10xl h-fit font-bold text-primary leading-none mr-3">
                        1
                    </span>
                    <div class="flex flex-col">
                        <span class="text-2xl md:text-4xl font-semibold uppercase leading-tight">
                            Parcours simplifié
                        </span>
                        <span class="text-3xl md:text-5xl font-bold uppercase leading-tight">
                            et 100% digital
                        </span>
                    </div>
                </div>
                <span class="md:text-lg mt-3">
                    Je demande mon crédit en ligne
                    et j'obtiens mon financement sans
                    me déplacer en agence.
                </span>
            </div>

            <span class="md:hidden border-primary-500 border-t-2 h-2 w-32 mx-auto"></span>

            <div class="flex flex-col justify-start px-3 max-md:pb-5">
                <div class="flex flex-row items-center">
                    <span class="text-9xl md:text-10xl h-fit font-bold text-primary leading-none mr-3">
                        2
                    </span>
                    <div class="flex flex-col">
                        <span class="text-2xl md:text-4xl font-semibold uppercase leading-tight">
                            Expertise
                        </span>
                        <span class="text-3xl md:text-5xl font-bold uppercase leading-tight">
                            immobilière
                        </span>
                    </div>
                </div>
                <span class="md:text-lg mt-3">
                    Notre équipe a une connaissance accrue du marché de l'immobilier grâce à une
                    collaboration étroite avec les différents acteurs du secteur.
                </span>
            </div>

            <span class="md:hidden border-primary-500 border-t-2 h-2 w-32 mx-auto"></span>

            <div class="flex flex-col justify-start px-3">
                <div class="flex flex-row items-center">
                    <span class="text-9xl md:text-10xl h-fit font-bold text-primary leading-none mr-3">
                        3
                    </span>
                    <div class="flex flex-col">
                        <span class="text-2xl md:text-4xl font-semibold uppercase leading-tight">
                            Conventions
                        </span>
                        <span class="text-3xl md:text-5xl font-bold uppercase leading-tight">
                            Multiples
                        </span>
                    </div>
                </div>
                <span class="md:text-lg mt-3">
                    Pour vous faciliter l'accès à la propriété, nous mettons à votre disposition de
                    nombreuses conventions signées avec d'importantes institutions publiques et privées
                </span>
            </div>

        </div>
    </div>
</section>