.simul-bg-header {
    background-image:linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('/assets/images/pages/simulation/cle-maison.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@media (max-width: 575px) {
    .simul-bg-header {
        background-image: url('/assets/images/pages/simulation/cle-maison-sm.jpg');
    }
}

