<div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRightBis]>

    <!-- Header -->
    <div class="flex flex-col items-center justify-center px-6 sm:px-16 py-10 sm:pt-18 sm:pb-20 w-full min-h-[90vh] simul-bg-header bg-fixed">

        <div class="w-full max-w-360 pb-10 md:pb-18">
            <div class="text-2xl md:text-5xl uppercase font-extrabold tracking-tight leading-tight text-white">
                Je simule mon crédit
            </div>
        </div>

        <div class="w-full max-w-400">

            <div class="flex flex-col md:flex-row md:items-start">

                <form [formGroup]="simulationForm"
                    class="ml-auto flex flex-col md:w-[29%] overflow-hidden rounded-2xl bg-white/[.85] px-6 pt-7 pb-8 ring-2 ring-black">

                    <div class="w-full mb-5">
                        <div class="text-xl md:text-2xl font-bold text-primary leading-none">
                            Mon projet
                        </div>
                        <div class="w-8 h-1 rounded-2xl mt-2 bg-second-500"></div>
                    </div>

                    <div class="w-full grid grid-cols-2 gap-x-2">
                        <!-- Montant -->
                        <mat-form-field
                            class="col-span-2 w-full"
                            [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:currency-dollar'"
                                matPrefix>
                            </mat-icon>
                            <input
                                matInput
                                [formControlName]="'montant'"
                                required>
                            <mat-label class="text-sm text-black">Montant</mat-label>
                            <mat-error *ngIf="simulationForm.get('montant').hasError('required')">
                                Montant obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- Durée -->
                        <mat-form-field
                            class="w-full"
                            [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <!-- <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'mat_solid:timelapse'"
                                matPrefix>
                            </mat-icon> -->
                            <input
                                matInput
                                [formControlName]="'duree'"
                                required>
                             <mat-label class="text-sm text-black">Durée</mat-label>
                             <mat-error *ngIf="simulationForm.get('duree').hasError('required')">
                                Durée obligatoire
                            </mat-error>
                            <!-- <span matPrefix>$</span> -->
                            <span matSuffix>ans</span>
                        </mat-form-field>

                        <!-- Objet de financement -->
                        <mat-form-field
                            class="w-full"
                            [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <!-- <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:template'"
                                matPrefix>
                            </mat-icon> -->
                            <mat-select
                                [formControlName]="'objetFinancement'">
                                <mat-option [value]="'quart1'">objet 1</mat-option>
                                <mat-option [value]="'quart2'">objet 2</mat-option>
                                <mat-option [value]="'quart3'">objet 3</mat-option>
                            </mat-select>
                            <mat-label class="text-sm text-black">Objet de financement</mat-label>
                        </mat-form-field>

                        <div class="col-span-2 mb-5">
                            <div class="text-xl md:text-2xl font-bold text-primary">
                                Mon profil
                            </div>
                            <div class="w-8 h-1 rounded-2xl mt-2 bg-second-500"></div>
                        </div>

                        <!-- Nom -->
                        <mat-form-field
                            class="w-full"
                            [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:user'"
                                matPrefix>
                            </mat-icon>
                            <input
                                matInput
                                [formControlName]="'nom'"
                                required>
                            <mat-label class="text-sm text-black">Nom</mat-label>
                        </mat-form-field>

                        <!-- Prénom -->
                        <mat-form-field
                            class="w-full"
                            [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:user'"
                                matPrefix>
                            </mat-icon>
                            <input
                                matInput
                                [formControlName]="'prenom'"
                                required>
                            <mat-label class="text-sm text-black">Prénom</mat-label>
                        </mat-form-field>

                        <!-- Catégorie socio professionnelle -->
                        <mat-form-field
                            class="col-span-2 w-full"
                            [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:briefcase'"
                                matPrefix>
                            </mat-icon>
                            <mat-select
                                [formControlName]="'categorieSocioProfessionnelle'">
                                <mat-option [value]="'type1'">CSP 1</mat-option>
                                <mat-option [value]="'type2'">CSP 2</mat-option>
                                <mat-option [value]="'type3'">CSP 3</mat-option>
                                <mat-option [value]="'type4'">CSP 4</mat-option>
                                <mat-option [value]="'type5'">CSP 5</mat-option>
                            </mat-select>
                            <mat-label class="text-sm text-black">Catégorie socio-professionnelle</mat-label>
                            <mat-error *ngIf="simulationForm.get('duree').hasError('required')">
                                Catégorie socio-professionnelle obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- Téléphone -->
                        <mat-form-field
                            class="fuse-mat-bold w-full"
                            [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:phone'"
                                matPrefix></mat-icon>
                            <input
                                matInput
                                [formControlName]="'telephone'">
                            <mat-label class="text-sm text-black">Téléphone</mat-label>
                        </mat-form-field>

                        <!-- Email -->
                        <mat-form-field 
                            class="fuse-mat-bold w-full"
                            [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:mail'"
                                matPrefix></mat-icon>
                            <input
                                type="email"
                                matInput
                                [formControlName]="'email'">
                            <mat-label class="text-sm text-black">E-mail</mat-label>
                            <mat-error *ngIf="simulationForm.get('email').hasError('email')">
                                Enter a valid email address
                            </mat-error>
                        </mat-form-field>

                        <small *ngIf="simulationForm.hasError('atLeastOne')" class="col-span-2 text-warn mb-2">
                            {{simulationForm.getError('atLeastOne')}}
                        </small>

                        <mat-checkbox
                            class="col-span-2 text-sm mt-2"
                            [color]="'primary'"
                            [formControlName]="'agreements'">
                            <span class="text-black">Je déclare avoir lu et accepter les </span>
                            <a class="ml-1 text-primary-500 hover:underline"
                                [routerLink]="['./']">conditions générales
                            </a>
                            <span class="text-black"> d’utilisation du site </span>
                            <a class="ml-1 text-primary-500 hover:underline"
                                [routerLink]="['/landing']">www.wafaimmobilier.com
                            </a>
                            <span class="text-black">, notamment les mentions relatives à la protection des données personnelles</span>
                        </mat-checkbox>
                    </div>

                    <span class="text-sm text-black mt-3">
                        « Conformément à la loi 09-08, vous disposez d’un droit d’accès, de rectification et d’opposition au traitement de vos données personnelles. Ce traitement est opéré conformément aux autorisations obtenues par Wafa Immobilier auprès de la CNDP »
                    </span>

                    <!-- Actions -->
                    <div class="flex items-center justify-center mt-5">
                        <button
                            mat-stroked-button
                            type="button"
                            [color]="'primary'"
                            [disabled]="simulationForm.pristine">
                            Vider
                        </button>
                        <button
                            class="ml-2 w-full"
                            mat-flat-button
                            type="button"
                            [color]="'primary'"
                            [disabled]="simulationForm.pristine || simulationForm.invalid">
                            Lancer la simulation
                        </button>
                    </div>

                </form>

                <!-- Resultat -->
                <div class="max-md:mt-12 md:ml-10 max-w-3xl">
                    <fuse-card class="flex-col px-6 py-8 sm:py-12 sm:px-10 ring-2 ring-primary overflow-visible">
                        <div class="absolute inset-x-0 -top-4 flex items-center justify-center">
                            <div class="flex items-center h-8 px-8 rounded-full font-medium text-center leading-none bg-primary text-on-primary">Votre simulation</div>
                        </div>

                        <div class="flex items-start">
                            <div class="flex flex-col">
                                <div class="text-3xl font-bold tracking-tight leading-tight">Mensualités TTC</div>
                                <div class="text-amber-600 font-medium text-sm tracking-tight mt-2">Cette échéance n'inclut pas les frais d'assurance</div>
                                <div class="w-8 h-1 mt-2 rounded-2xl bg-second-500"></div>
                            </div>
                            <div class="ml-auto">
                                <button
                                    mat-icon-button
                                    [matMenuTriggerFor]="simulationMenu">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                </button>
                                <mat-menu #simulationMenu="matMenu">
                                    <button mat-menu-item>
                                        <span class="flex items-center">
                                            <mat-icon
                                                class="icon-size-5 mr-3"
                                                [svgIcon]="'heroicons_solid:printer'"></mat-icon>
                                            <span>Print simulation</span>
                                        </span>
                                    </button>
                                    <button mat-menu-item>
                                        <span class="flex items-center">
                                            <mat-icon
                                                class="icon-size-5 mr-3"
                                                [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                            <span>Email simulation</span>
                                        </span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>

                        <div class="flex items-baseline whitespace-nowrap mt-7">
                            <div class="mr-2 text-2xl">Dhs</div>
                            <div class="text-4xl font-semibold leading-tight tracking-tight text-primary">
                                4 562,56
                            </div>
                        </div>
                        <!-- Durée -->
                        <div class="flex flex-col mt-1 text-secondary">
                            <div>Durée 15 ans</div>
                            <div><b>180</b> mois</div>
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-5 gap-y-5 mt-7">
                            <div class="flex flex-col">
                                <div class="text-sm font-semibold leading-none text-secondary">Montant crédit demandé</div>
                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                    <div class="font-medium text-3xl leading-none tracking-tight">
                                        600 000,00
                                    </div>
                                    <div class="ml-2 text-xl">Dhs</div>
                                </div>
                            </div>
                            <div class="flex flex-col">
                                <div class="text-sm font-semibold leading-none text-secondary">Total des intérêts</div>
                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                    <div class="font-medium text-3xl leading-none tracking-tight">
                                        223 435,00
                                    </div>
                                    <div class="ml-2 text-xl">Dhs</div>
                                </div>
                            </div>
                            <div class="flex flex-col">
                                <div class="text-sm font-semibold leading-none text-secondary">Coût total du crédit</div>
                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                    <div class="font-medium text-3xl leading-none tracking-tight">
                                        823 435,00
                                    </div>
                                    <div class="ml-2 text-xl">Dhs</div>
                                </div>
                            </div>
                            <div class="hidden md:block"></div>
                            <div class="flex flex-col">
                                <div class="text-sm font-semibold leading-none text-secondary">Expertise immobilière</div>
                                <div class="text-green-600 mt-2 font-medium text-3xl leading-none">GRATUIT</div>
                            </div>
                            <div class="flex flex-col">
                                <div class="text-sm font-semibold leading-none text-secondary">Frais de dossier</div>
                                <div class="text-green-600 mt-2 font-medium text-3xl leading-none">GRATUIT</div>
                            </div>
                        </div>

                        <!-- <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                            <mat-icon
                                class="icon-size-24 opacity-25 text-red-500 dark:text-red-400"
                                [svgIcon]="'heroicons_outline:exclamation-circle'"></mat-icon>
                        </div> -->

                        <hr class="border-b mx-6 sm:mx-8 mt-7">

                        <div class="text-3xl font-bold tracking-tight leading-tight">Frais annexes</div>
                        <div class="text-amber-600 text-sm font-semibold tracking-tight mt-2">Ces montants sont à titre indicatifs et ne sont aucunement contractuels</div>
                        <div class="w-8 h-1 mt-2 rounded-2xl bg-second-500"></div>

                        <div class="flex items-baseline whitespace-nowrap mt-7">
                            <div class="mr-2 text-2xl">Dhs</div>
                            <div class="text-4xl font-semibold leading-tight tracking-tight text-primary">
                                40 400,00
                            </div>
                        </div>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-5 gap-y-5 mt-7">
                            <div class="flex flex-col">
                                <div class="text-sm font-medium leading-none text-secondary">Enregistrement hypothécaire</div>
                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                    <div class="font-medium text-3xl leading-none tracking-tight">
                                        24 000,00
                                    </div>
                                    <div class="ml-2 text-xl">Dhs</div>
                                </div>
                            </div>
                            <div class="flex flex-col">
                                <div class="text-sm font-medium leading-none text-secondary">Conservation foncière</div>
                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                    <div class="font-medium text-3xl leading-none tracking-tight">
                                        9 000,00
                                    </div>
                                    <div class="ml-2 text-xl">Dhs</div>
                                </div>
                            </div>
                            <div class="flex flex-col">
                                <div class="text-sm font-medium leading-none text-secondary">Frais de dossier</div>
                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                    <div class="font-medium text-3xl leading-none tracking-tight">
                                        1 500,00
                                    </div>
                                    <div class="ml-2 text-xl">Dhs</div>
                                </div>
                            </div>
                            <div class="flex flex-col">
                                <div class="text-sm font-medium leading-none text-secondary">Honoraires de notaire</div>
                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                    <div class="font-medium text-3xl leading-none tracking-tight">
                                        6 000,00
                                    </div>
                                    <div class="ml-2 text-xl">Dhs</div>
                                </div>
                            </div>
                        </div>

                        <!-- Action -->
                        <button
                            class="mx-auto w-fit fuse-mat-button-large mt-7"
                            mat-flat-button
                            [color]="'primary'">
                            Accéder à la simulation détaillée
                        </button>
                    </fuse-card>

                </div>

            </div>
        </div>



    </div>

</div>