<!-- <div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}"> -->
<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto scroll-smooth" [@fadeInRight]="{value:'', params: {duration: 700}}" cdkScrollable>

    <!-- Header -->
    <header class="hidden md:flex flex-col items-center justify-center px-6 sm:px-16 w-full min-h-[35vh] simul-bg-header">
        <div class="w-full max-w-400">
            <div class="max-w-xl text-2xl md:text-3xl font-bold uppercase tracking-tight leading-tight text-white">
                Simulez votre crédit immobilier
            </div>
        </div>
    </header>

    <div class="px-6 sm:px-16 py-10 md:pt-18 md:pb-20 simul-bg-header-sm">
        <div class="w-full max-w-400 mx-auto">
            <span class="md:hidden text-2xl md:text-4xl uppercase font-extrabold leading-tight tracking-tight text-primary">
                Je simule mon crédit
            </span>
            
            <div class="hidden md:flex flex-row justify-center space-x-5">
                <div class="relative flex flex-col items-center p-5 rounded-full shadow bg-primary w-68">
                    <span class="ml-2 font-medium text-white">Je simule mon crédit</span>
                </div>
                <div class="relative flex flex-col items-center p-5 rounded-full shadow bg-card ring ring-1 ring-gray-500 w-68">
                    <span class="ml-2 font-medium">Je personnalise ma simulation</span>
                </div>
                <div class="relative flex flex-col items-center p-5 rounded-full shadow bg-card ring ring-1 ring-gray-500 w-68">
                    <span class="ml-2 font-medium">Je demande mon crédit</span>
                </div>
            </div>
            
            <div class="flex flex-col md:flex-row md:items-start max-md:space-y-14 md:space-x-7 mt-10 md:mt-14">

                <!-- 'md:w-full md:max-w-5xl translate-x-0' : !isVisible, -->
                <form class="flex flex-col items-center space-y-5 md:w-3/4 md:translate-x-[17%] bg-card rounded-2xl overflow-hidden px-6 pt-7 pb-3 ring-2 ring-current"
                    [formGroup]="simulationForm"
                    [ngClass]="{'transition-all duration-1000 ease-in-out md:translate-x-[0%] md:w-2/5' : isVisible }">

                    <div class="w-full">
                        <div class="text-xl md:text-2xl font-bold text-primary">
                            Mon projet
                        </div>
                        <div class="w-8 h-1 rounded-2xl mt-2 bg-second-500"></div>
                    </div>

                    <div class="w-full grid grid-cols-2 md:grid-cols-6 gap-x-2 items-start">
                        <!-- Montant -->
                        <mat-form-field class="md:col-span-3 w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <input matInput [formControlName]="'montant'">
                            <mat-label class="text-sm font-semibold">Montant</mat-label>
                            <span matSuffix>Dhs</span>
                            <mat-error *ngIf="simulationForm.get('montant').hasError('required')">
                                Montant obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- Durée -->
                        <mat-form-field class="md:col-span-3 w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <input matInput [formControlName]="'duree'">
                            <mat-label class="text-sm font-semibold">Durée</mat-label>
                            <span matSuffix>ans</span>
                            <mat-error *ngIf="simulationForm.get('duree').hasError('required')">
                                Durée obligatoire
                            </mat-error>
                        </mat-form-field>

                        <div class="col-span-2 md:col-span-6 mb-5">
                            <div class="text-xl md:text-2xl font-bold text-primary">
                                Mon profil
                            </div>
                            <div class="w-8 h-1 rounded-2xl mt-2 bg-second-500"></div>
                        </div>

                        <!-- Nom -->
                        <mat-form-field class="md:col-span-2 w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix>
                            </mat-icon>
                            <input matInput [formControlName]="'nom'">
                            <mat-label class="text-sm font-semibold">Nom</mat-label>
                            <mat-error *ngIf="simulationForm.get('nom').hasError('required')">
                                Nom obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- Prénom -->
                        <mat-form-field class="md:col-span-2 w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix>
                            </mat-icon>
                            <input matInput [formControlName]="'prenom'">
                            <mat-label class="text-sm font-semibold">Prénom</mat-label>
                            <mat-error *ngIf="simulationForm.get('prenom').hasError('required')">
                                Prénom obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- Téléphone -->
                        <mat-form-field class="md:col-span-2 w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:phone'" matPrefix></mat-icon>
                            <input matInput [formControlName]="'telephone'">
                            <mat-label class="text-sm font-semibold">Téléphone</mat-label>
                            <mat-error *ngIf="simulationForm.get('telephone').hasError('required')">
                                Téléphone obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- Email -->
                        <mat-form-field class="md:col-span-2 w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'" matPrefix></mat-icon>
                            <input type="email" matInput [formControlName]="'email'">
                            <mat-label class="text-sm font-semibold">E-mail</mat-label>
                            <mat-error *ngIf="simulationForm.get('email').hasError('email')">
                                Enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="simulationForm.get('email').hasError('required')">
                                Email obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- Catégorie socio professionnelle -->
                        <mat-form-field class="md:col-span-2 w-full"
                            [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:briefcase'" matPrefix>
                            </mat-icon>
                            <mat-select [formControlName]="'cspCode'">
                                <ng-container *ngFor="let categorie of categories">
                                    <mat-option [value]="categorie.code">
                                        {{categorie.libelle}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-label class="text-sm font-semibold">Catégorie socio-professionnelle
                            </mat-label>
                            <mat-error *ngIf="simulationForm.get('cspCode').hasError('required')">
                                Catégorie socio-professionnelle obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- Nationalité -->
                        <mat-form-field class="md:col-span-2 w-full"
                            [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:flag'" matPrefix>
                            </mat-icon>
                            <mat-select [formControlName]="'nationaliteCode'">
                                <ng-container *ngFor="let nationalite of nationalites">
                                    <mat-option [value]="nationalite.code">
                                        {{nationalite.libelle}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-label class="text-sm font-semibold">Nationalité
                            </mat-label>
                            <mat-error *ngIf="simulationForm.get('nationaliteCode').hasError('required')">
                                Nationalité obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- Résident -->
                        <mat-radio-group class="flex flex-col md:col-span-2 w-full"
                            [color]="'primary'"
                            [formControlName]="'residentMarocain'">
                            <mat-label class="text-sm font-semibold">Résident au Maroc ? *</mat-label>
                            <div class="flex flex-row mt-1.5 bg-card px-4 py-2 md:py-3 rounded-md shadow ring-1 ring-gray-300 w-full">
                                <mat-radio-button [value]="'true'">
                                    Oui
                                </mat-radio-button>
                                <mat-radio-button class="ml-5" [value]="'false'">
                                    Non
                                </mat-radio-button>
                            </div>
                            <mat-error *ngIf="simulationForm.get('residentMarocain').touched 
                                            && simulationForm.get('residentMarocain').hasError('required')">
                                Résidence est obligatoire
                            </mat-error>
                        </mat-radio-group>

                        <!-- Agreements -->
                        <mat-checkbox class="col-span-2 md:col-span-6 text-sm mt-5 font-medium" [color]="'primary'"
                            [formControlName]="'agreements'">
                            <span>Je déclare avoir lu et accepter les </span>
                            <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">conditions générales
                            </a>
                            <span> d'utilisation du site </span>
                            <a class="ml-1 text-primary-500 hover:underline"
                                [routerLink]="['/landing']">www.wafaimmobilier.com
                            </a>
                            <span>, notamment les mentions relatives à la protection des données
                                personnelles</span>
                        </mat-checkbox>
                    </div>

                    <!-- Actions -->
                    <div class="w-full flex justify-end">
                        <button 
                            mat-stroked-button
                            class="bg-default"
                            type="button"
                            [color]="'primary'"
                            [disabled]="simulationForm.pristine"
                            (click)="newSimulation()">
                            Nouvelle simulation
                        </button>
                        <button
                            mat-flat-button    
                            class="ml-2 md:px-12"
                            [ngClass]="{'bg-primary-200' : simulationForm.pristine || simulationForm.invalid}"
                            type="button"
                            [color]="'primary'"
                            [disabled]="simulationForm.pristine || simulationForm.invalid"
                            (click)="simuler()">
                            Valider
                        </button>
                    </div>

                    <div class="flex flex-row space-x-2 py-2 px-4 rounded-xl overflow-hidden shadow bg-amber-100">
                        <mat-icon class="icon-size-5 text-amber-500" [svgIcon]="'heroicons_solid:information-circle'">
                        </mat-icon>
                        <span class="text-xs font-semibold">« Conformément à la loi 09-08, vous disposez d'un droit d'accès, de rectification et
                            d'opposition au traitement de vos données personnelles. Ce traitement est opéré
                            conformément aux autorisations obtenues par Wafa Immobilier auprès de la CNDP »
                        </span>
                    </div>
                </form>

                <!-- [@fadeOutBottom]="{value:!isScreenSmall, params: {duration: 1000, delay: 600}}" -->
                <!-- Resultat -->
                <fuse-card #resultat
                    *ngIf="isVisible"
                    class="flex flex-col md:w-3/5 px-6 pb-8 pt-3 bg-default ring-2 ring-primary overflow-visible"
                    [@fadeInBottom]="{value:!isScreenSmall, params: {duration: 1000, delay: 500}}">
                    
                    <div class="absolute inset-x-0 -top-4 flex items-center justify-center">
                        <div class="flex items-center h-8 px-8 rounded-full font-medium text-center leading-none bg-primary text-on-primary">
                            Votre simulation
                        </div>
                    </div>

                    <div class="flex flex-col">
                        <!-- bouton print -->
                        <div class="ml-auto mb-3">
                            <button class="bg-card" mat-icon-button [matMenuTriggerFor]="simulationMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'">
                                </mat-icon>
                            </button>
                            <mat-menu #simulationMenu="matMenu">
                                <button mat-menu-item>
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:printer'">
                                        </mat-icon>
                                        <span>Print simulation</span>
                                    </span>
                                </button>
                                <button mat-menu-item>
                                    <span class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:mail'">
                                        </mat-icon>
                                        <span>Email simulation</span>
                                    </span>
                                </button>
                            </mat-menu>
                        </div>

                        <div class="flex flex-col md:flex-row max-md:space-y-10 md:space-x-4">

                            <!-- mensualité -->
                            <div class="md:w-2/3">
                                <!-- header -->
                                <div class="min-h-36 flex flex-col py-3 px-5 shadow-md rounded-2xl bg-primary-500 dark:bg-white dark:bg-opacity-5 dark:text-primary-400">

                                    <div class="flex flex-row items-center md:items-end justify-between space-x-3 text-white">
                                        <div class="flex flex-col w-3/5">
                                            <div class="text-xl md:text-2xl font-semibold leading-tight tracking-tight">Mensualités TTC</div>

                                            <div class="flex items-baseline whitespace-nowrap md:ml-auto mt-2">
                                                <div class="text-4xl font-bold leading-tight tracking-tight" #mensualiteId>
                                                    {{simulationResultat.mensualite | number:'1.2-2'}}
                                                </div>
                                                <div class="ml-2 md:text-xl leading-none">Dhs/Mois</div>
                                            </div>
                                        </div>

                                        <div class="flex flex-col w-fit">
                                            <div class="text-lg md:text-xl font-semibold leading-none">Durée</div>
                                            <div class="flex flex-col md:flex-row mt-2">
                                                <div class="flex flex-row items-baseline">
                                                    <div class="font-medium text-2xl md:text-3xl leading-tight tracking-tight" #dureeId>
                                                        {{simulationResultat.duree}}
                                                    </div>
                                                    <div class="ml-2 md:text-xl leading-none">ans</div>
                                                </div>
                                                <div class="flex flex-row items-baseline md:ml-2">
                                                    <div class="font-medium text-2xl md:text-3xl leading-tight tracking-tight" #nbreMoisId>
                                                        {{simulationResultat.duree * 12}}
                                                    </div>
                                                    <div class="ml-2 md:text-xl leading-none">mois</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="w-8 h-1 rounded-2xl bg-second-500 mt-2"></div>

                                    <div class="text-sm font-semibold leading-none tracking-tight text-second-500 mt-2">
                                        Cette échéance n'inclut pas les frais d'assurance
                                    </div>
                                </div>

                                <!-- details -->
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-3 gap-y-5 mt-7">
                                    
                                    <!-- Montant -->
                                    <div class="relative p-3 bg-card shadow-md overflow-hidden rounded-md">
                                        <!-- Border -->
                                        <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>

                                        <!-- Content -->
                                        <div class="flex flex-col">
                                            <div class="text-sm font-semibold leading-none text-secondary">
                                                Montant crédit demandé
                                            </div>
                                            <div class="flex items-baseline whitespace-nowrap mt-2">
                                                <div class="font-medium text-3xl leading-tight tracking-tight" #montantId>
                                                    {{simulationResultat.montant | number:'1.2-2'}}
                                                </div>
                                                <div class="ml-2 text-xl leading-none">Dhs</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Total des intérêts -->
                                    <div class="relative p-3 bg-card shadow-md overflow-hidden rounded-md">
                                        <!-- Border -->
                                        <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>

                                        <!-- Content -->
                                        <div class="flex flex-col">
                                            <div class="text-sm font-semibold leading-none text-secondary">
                                                Total des intérêts
                                            </div>
                                            <div class="flex items-baseline whitespace-nowrap mt-2">
                                                <div class="font-medium text-3xl leading-tight tracking-tight" #totalInteretsId>
                                                    {{simulationResultat.totalInterets | number:'1.2-2'}}
                                                </div>
                                                <div class="ml-2 text-xl leading-none">Dhs</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Coût total du crédit -->
                                    <div class="relative p-3 bg-card shadow-md overflow-hidden rounded-md">
                                        <!-- Border -->
                                        <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>

                                        <!-- Content -->
                                        <div class="flex flex-col">
                                            <div class="text-sm font-semibold leading-none text-secondary">
                                                Coût total du crédit
                                            </div>
                                            <div class="flex items-baseline whitespace-nowrap mt-2">
                                                <div class="font-medium text-3xl leading-tight tracking-tight" #coutTotalId>
                                                    {{simulationResultat.coutTotal | number:'1.2-2'}}
                                                </div>
                                                <div class="ml-2 text-xl leading-none">Dhs</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div></div>
                                    
                                    <!-- Expertise immobilière -->
                                    <div class="relative p-3 bg-card shadow-md overflow-hidden rounded-md">
                                        <!-- Border -->
                                        <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
            
                                        <!-- Content -->
                                        <div class="flex flex-col">
                                            <div class="text-sm font-semibold leading-none text-secondary">
                                                Expertise immobilière
                                            </div>
                                            <!-- <div class="text-green-600 mt-2 uppercase font-medium text-3xl leading-none">
                                                {{simulationResultat.expertiseImmobiliere}}
                                            </div> -->
                                            <div class="flex items-baseline whitespace-nowrap mt-2">
                                                <div class="font-medium text-3xl leading-tight tracking-tight"
                                                    #expertiseImmobiliereId [ngClass]="{'text-green-600 ': !estExpImmoNum}">
                                                    {{simulationResultat.expertiseImmobiliere | number:'1.2-2'}}
                                                </div>
                                                <div class="ml-2 text-xl leading-none" [ngClass]="{'hidden': !estExpImmoNum}">Dhs</div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <!-- Frais de dossier -->
                                    <div class="relative p-3 bg-card shadow-md overflow-hidden rounded-md">
                                        <!-- Border -->
                                        <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
            
                                        <!-- Content -->
                                        <div class="flex flex-col">
                                            <span class="text-sm font-semibold leading-none text-secondary">
                                                Frais de dossier
                                            </span>
                                            <!-- <div class="text-green-600 mt-2 uppercase font-medium text-3xl leading-none">
                                                {{simulationResultat.fraisDossier}}
                                            </div> -->
                                            <div class="flex items-baseline whitespace-nowrap mt-2">
                                                <div class="font-medium text-3xl leading-tight tracking-tight" #fraisDossierId
                                                    [ngClass]="{'text-green-600 ': !estFraisDossNum}">
                                                    {{simulationResultat.fraisDossier | number:'1.2-2'}}
                                                </div>
                                                <div class="ml-2 text-xl leading-none" [ngClass]="{'hidden': !estFraisDossNum}">Dhs</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- frais annexes -->
                            <div class="w-full md:w-1/3">

                                <!-- header -->
                                <div class="min-h-36 flex flex-col py-3 px-5 shadow-md rounded-2xl bg-primary-150 dark:bg-white dark:bg-opacity-5 dark:text-primary-400">

                                    <div class="flex flex-col text-primary-600">
                                        <div class="text-2xl font-semibold leading-tight tracking-tight">
                                            Frais annexes
                                        </div>

                                        <div class="flex items-baseline whitespace-nowrap md:ml-auto mt-2">
                                            <div class="text-4xl font-bold leading-tight tracking-tight" #totalFraisId>
                                                {{simulationResultat.totalFrais | number:'1.2-2'}}
                                            </div>
                                            <div class="ml-2 text-xl leading-none">Dhs</div>
                                        </div>
                                    </div>

                                    <div class="w-8 h-1 rounded-2xl bg-amber-600 mt-2"></div>

                                    <div class="text-sm font-semibold leading-none tracking-tight text-amber-600 mt-2">
                                        Ces montants sont à titre indicatifs et ne sont aucunement contractuels
                                    </div>
                                </div>

                                <!-- details -->
                                <div class="grid grid-cols-1 gap-y-5 mt-7">

                                    <!-- Enregistrement hypothécaire -->
                                    <div class="relative p-3 bg-card shadow-md overflow-hidden rounded-md">
                                        <!-- Border -->
                                        <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
            
                                        <!-- Content -->
                                        <div class="flex flex-col">
                                            <div class="text-sm font-medium leading-none text-secondary">
                                                Enregistrement hypothécaire
                                            </div>
                                            <div class="flex items-baseline whitespace-nowrap mt-2">
                                                <div class="font-medium text-3xl leading-tight tracking-tight" #droitsEnregistrementId>
                                                    {{simulationResultat.droitsEnregistrement | number:'1.2-2'}}
                                                </div>
                                                <div class="ml-2 text-xl leading-none">Dhs</div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <!-- Conservation foncière -->
                                    <div class="relative p-3 bg-card shadow-md overflow-hidden rounded-md">
                                        <!-- Border -->
                                        <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
            
                                        <!-- Content -->
                                        <div class="flex flex-col">
                                            <div class="text-sm font-medium leading-none text-secondary">
                                                Conservation foncière
                                            </div>
                                            <div class="flex items-baseline whitespace-nowrap mt-2">
                                                <div class="font-medium text-3xl leading-tight tracking-tight" #conservationFonciereId>
                                                    {{simulationResultat.conservationFonciere | number:'1.2-2'}}
                                                </div>
                                                <div class="ml-2 text-xl leading-none">Dhs</div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <!-- Frais de dossier notaire -->
                                    <div class="relative p-3 bg-card shadow-md overflow-hidden rounded-md">
                                        <!-- Border -->
                                        <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
            
                                        <!-- Content -->
                                        <div class="flex flex-col">
                                            <div class="text-sm font-medium leading-none text-secondary">
                                                Frais de dossier notaire
                                            </div>
                                            <div class="flex items-baseline whitespace-nowrap mt-2">
                                                <div class="font-medium text-3xl leading-tight tracking-tight" #fraisDiversId>
                                                    {{simulationResultat.fraisDivers | number:'1.2-2'}}
                                                </div>
                                                <div class="ml-2 text-xl leading-none">Dhs</div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <!-- Honoraires de notaire -->
                                    <div class="relative p-3 bg-card shadow-md overflow-hidden rounded-md">
                                        <!-- Border -->
                                        <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
            
                                        <!-- Content -->
                                        <div class="flex flex-col">
                                            <div class="text-sm font-medium leading-none text-secondary">
                                                Honoraires de notaire
                                            </div>
                                            <div class="flex items-baseline whitespace-nowrap mt-2">
                                                <div class="font-medium text-3xl leading-tight tracking-tight" #honorairesNotaireId>
                                                    {{simulationResultat.honorairesNotaire | number:'1.2-2'}}
                                                </div>
                                                <div class="ml-2 text-xl leading-none">Dhs</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Action -->
                    <button 
                        class="mx-auto w-fit md:fuse-mat-button-large mt-7"
                        mat-flat-button
                        [color]="'primary'"
                        (click)="navigateToSimulationDetaillee()">
                        Je personnalise ma simulation
                    </button>
                </fuse-card>

            </div>
        </div>
    </div>

</div>