

.b3-bg {
  background-image: url('/assets/images/pages/nos-guides-et-conseils/details/detail3md.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size:  cover ;
  @media (max-width: 600px) {
    background-image:  url('/assets/images/pages/nos-guides-et-conseils/details/detail3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover ;
  }
}  


