<!-- cinq étapes -->
<section class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-28 cinq-bg-header">
    <div class="w-full max-w-400 mx-auto">
        <span class="text-2xl md:text-4xl uppercase font-extrabold tracking-tight leading-tight text-primary">
            Je finance mon bien en <br class="sm:hidden"/><span class="text-5xl md:text-9xl">5</span> étapes
        </span>

        <div class="w-fit mx-auto flex flex-col md:flex-row mt-10 md:mt-30">
            <div class="relative h-52 w-52 md:h-68 md:w-68 flex flex-col items-start md:items-center justify-center max-md:ml-3">
                <div class="absolute border-solid border-[60px] md:border-[80px] border-gray-600 border-opacity-60 border-b-transparent border-l-transparent h-52 w-52 md:h-68 md:w-68 rotate-45 md:-rotate-45 rounded-[50%]"></div>
                <span class="absolute max-md:right-5 md:top-2 text-7xl md:text-8xl w-fit font-bold text-primary leading-none">
                    1
                </span>
                <span class="absolute inset-0 m-auto flex items-center justify-center w-18 h-18 md:w-24 md:h-24 rounded-full bg-second-400">
                    <mat-icon class="icon-size-16 md:icon-size-22 text-black" svgIcon="calculation">
                    </mat-icon>
                </span>
                <div class="uppercase font-bold text-center md:text-lg md:mt-40 max-md:-ml-10">
                    Je simule<br />
                    mon crédit
                </div>
            </div>
            <div class="relative h-52 w-52 md:h-68 md:w-68 flex flex-col items-end md:items-center justify-center md:-ml-20 md:mt-4 -mt-15 max-md:mr-3">
                <div class="absolute border-solid border-[60px] md:border-[80px] border-gray-600 border-opacity-60 border-b-transparent border-l-transparent h-52 w-52 md:h-68 md:w-68 -rotate-[135deg] md:rotate-[135deg] rounded-[50%]"></div>
                <span class="absolute max-md:left-5 md:bottom-2 text-7xl md:text-8xl h-fit w-fit font-bold text-primary leading-none">
                    2
                </span>
                <span class="absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 flex items-center justify-center w-18 h-18 md:w-24 md:h-24 rounded-full bg-second-450">
                    <mat-icon class="ml-1 md:ml-3 icon-size-16 md:icon-size-22 text-black" svgIcon="survey">
                    </mat-icon>
                </span>
                <div class="uppercase font-bold text-center md:text-lg md:mb-44 max-md:-mr-10">
                    Je demande<br />
                    mon crédit<br />
                    en ligne
                </div>
            </div>
            <div class="relative h-52 w-52 md:h-68 md:w-68 flex flex-col items-start md:items-center justify-center md:-ml-20 max-md:-mt-15 max-md:ml-3">
                <div class="absolute border-solid border-[60px] md:border-[80px] border-gray-600 border-opacity-60 border-b-transparent border-l-transparent h-52 w-52 md:h-68 md:w-68 rotate-45 md:-rotate-45 rounded-[50%]"></div>
                <span class="absolute max-md:right-5 md:top-2 text-7xl md:text-8xl w-fit font-bold text-primary leading-none">
                    3
                </span>
                <span class="absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 flex items-center justify-center w-18 h-18 md:w-24 md:h-24 rounded-full bg-second-500">
                    <mat-icon class="icon-size-14 md:icon-size-20 text-black" svgIcon="user-cercle">
                    </mat-icon>
                </span>
                <div class="uppercase font-bold text-center md:text-lg md:mt-44 max-md:-ml-10">
                    J'accède à<br />
                    mon espace<br />
                    abonné
                </div>
            </div>
            <div class="relative h-52 w-52 md:h-68 md:w-68 flex flex-col items-end md:items-center justify-center md:-ml-20 md:mt-4 -mt-15 max-md:mr-3">
                <div class="absolute border-solid border-[60px] md:border-[80px] border-gray-600 border-opacity-60 border-b-transparent border-l-transparent h-52 w-52 md:h-68 md:w-68 -rotate-[135deg] md:rotate-[135deg] rounded-[50%]"></div>
                <span class="absolute max-md:left-5 md:bottom-2 text-7xl md:text-8xl w-fit font-bold text-primary leading-none">
                    4
                </span>
                <span class="absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 flex items-center justify-center w-18 h-18 md:w-24 md:h-24 rounded-full bg-second-550">
                    <mat-icon class="-mt-1 icon-size-16 md:icon-size-24 text-black" svgIcon="fork">
                    </mat-icon>
                </span>
                <div class="uppercase font-bold text-center md:text-lg md:mb-50 max-md:-mr-12">
                    Je suis et<br />
                    je complète<br />
                    mon dossier<br />
                    de crédit
                </div>
            </div>
            <div class="relative h-52 w-52 md:h-68 md:w-68 flex flex-col items-start md:items-center justify-center md:-ml-20 max-md:-mt-15 max-md:ml-3">
                <div class="absolute border-solid border-[60px] md:border-[80px] border-gray-600 border-opacity-60 border-b-transparent border-l-transparent h-52 w-52 md:h-68 md:w-68 rotate-45 md:-rotate-45 rounded-[50%]"></div>
                <span class="absolute max-md:right-5 md:top-2 text-7xl md:text-8xl w-fit font-bold text-primary leading-none">
                    5
                </span>
                <span class="absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2  flex items-center justify-center w-18 h-18 md:w-24 md:h-24 rounded-full bg-second-600">
                    <mat-icon class="icon-size-16 md:icon-size-22 text-black" svgIcon="finance">
                    </mat-icon>
                </span>
                <div class="uppercase font-bold text-center md:text-lg md:mt-40 max-md:-ml-10">
                    J'obtiens<br />
                    mon crédit
                </div>
            </div>
        </div>
    </div>
</section>