<div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}">

  <header class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20 notre-rse-bg-header">
    <div class="w-full max-w-400 mx-auto min-h-30 md:min-h-20 ">
      <div class="flex flex-col items-start justify-start sm:text-2xl md:text-4xl uppercase font-extrabold tracking-tight leading-tight  text-white   ">
        Nos Initiatives RSE
      </div>
    </div>
  </header>

  <header class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20 initiative-bg ">
    <div class="w-full max-w-400 mx-auto min-h-80 md:min-h-76 ">
      <div class="flex flex-col items-end justify-between ">
        <span class="md:w-1/2 sm:w-full sm:text-2xl md:text-4xl uppercase font-extrabold tracking-tight leading-tight text-primary">
          WAFA IMMOBILIER sensibilise ses collaborateurs par rapport à l'utilisation raisonné du papier
        </span>
      </div>
    </div>
  </header>

  <section class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20 bg-card">

    <div class="w-full max-w-400 mx-auto">

      <div class="flex flex-col justify-between">

        <div class="flex flex-col item-center md:text-lg font-medium tracking-tight leading-tight">
          <div>
            25% des documents sont jetés 5 minutes après leur impression ! Avec un tel gaspillage,
            pas étonnant qu'on utilise 3 ramettes de papier par mois en moyenne.

          </div>
          <div class="mt-10">
            Face à ce constat, Wafa Immobilier a lancé une campagne pour sensibiliser ses collaborateurs,
            aussi bien au niveau du siège que des agences, afin de lutter contre le gaspillage
            du papier.
          </div>
          <div class="mt-10">
            Un dispositif diversifié a été mis en place, comprenant une vidéo de sensibilisation, un
            guide de bonnes pratiques, et une tournée de sensibilisation des collaborateurs.
          </div>
          <div class="mt-10">
            Il est également prévu de mettre en place un système de suivi de la gestion du papier
            avec des indicateurs de performances qui seront publiés chaque année dans le rapport
            RSE de l'entreprise. </div>
        </div>

        <!-- px-10 pl-10 sm:pl-32 -->
        <div class="flex flex-col md:flex-row items-center justify-center mt-10">

          <!--button class="text-white text-center mt-2  md:ml-3 md:px-3  "
              mat-flat-button
              [color]="'primary'"
              [routerLink]="'/notre-politique-rse'">
              Voir d'autres initiatives RSE
              </button-->

          <button class="text-white text-center mt-2  md:ml-3 md:px-3  " mat-flat-button [color]="'primary'"
            [routerLink]="'/notre-politique-rse'">
            Revenir à "démarche RSE"

          </button>

          <button class="text-white text-center mt-2  md:ml-3 md:px-3  " mat-flat-button [color]="'primary'"
            [routerLink]="'/nos-offres-miftah'">
            Découvrir nos produits
          </button>



        </div>
      </div>

    </div>

  </section>

  <contactez-nous [isScreenSmall]="isScreenSmall"></contactez-nous>

</div>