.notre-rse-bg-header {
  background-image: url('/assets/images/pages/rse/rse-niv3/Bannière1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (max-width: 959px) {
    background-image: url('/assets/images/pages/rse/rse-niv3/Bannière1-sm.png');
  }
  
  color: rgb(255 255 255);
}

.initiative-bg {
  background-image: url('/assets/images/pages/rse/rse-niv3/Bannière2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (max-width: 959px) {
    background-image:url('/assets/images/pages/rse/rse-niv3/Bannière2-sm.png');
  }
}

// linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), 
