.notre-rse-bg-header {
  background-image:linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/images/pages/rse/rse-niv3/Bannière 1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.initiative-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('/assets/images/pages/rse/rse-niv3/Bannière 2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.text-orange {
    color: rgb(238, 125, 33);
}

.orange-circle {
    background-color: orange;
  }

  .selected {
    border: 2px solid blue;
  }


  @media (max-width: 767px) {
    .mobile-full-width {
      width: 100%;
    }
  }
  