<!-- <div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRightBis]> -->
<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto scroll-smooth" [@fadeInRightBis] cdkScrollable>

    <!-- Header -->
    <header
        class="flex flex-col items-center justify-center px-6 sm:px-16 w-full min-h-[50vh] sm:min-h-[35vh] nos-conventions-bg-header">
        <div class="w-full max-w-400">
            <div class="max-w-xl text-2xl md:text-3xl font-bold uppercase tracking-tight leading-tight text-white">
                Nos conventions
            </div>
        </div>
    </header>

    <div class="px-6 sm:px-16 py-10 md:pt-18 md:pb-20">
        <div class="w-full max-w-400 mx-auto">
            <div class="text-2xl md:text-4xl uppercase font-extrabold tracking-tight leading-tight text-primary">
                DES CONVENTIONS POUR MIEUX VOUS ACCOMPAGNER/ORIENTER
            </div>
            <mat-accordion class="max-w-4xl my-12">
                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title>
                            <img class="h-20 w-20 object-cover"
                                src="assets/images/pages/nos-conventions/logos/logo DGSN.png" alt="" />
                            Fondation Mohammed VI de Promotion des Œuvres Sociales de l'Education - Formation
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="flex flex-col mt-10">
                        <span class="text-primary font-bold text-lg">IMTILAK</span>
                        <span class="font-bold text-md">Le programme de financement de logement dédié au corps
                            enseignant</span>

                        <p class="mt-5">
                            Avec l’appui de ses banques partenaires, la Fondation Mohammed VI de Promotion des Œuvres
                            Sociales
                            de l'Éducation – Formation a mis en place, Imtilak. Un nouveau programme d'aide au logement au
                            profit de la famille de l’enseignement, proposant une offre de financement diversifiée.

                            Pensé et conçu pour les adhérents de la Fondation, Imtilak vise à faciliter l'accès à la
                            propriété,
                            à travers des crédits immobiliers subventionnés pour l'acquisition ou la construction d'un
                            logement
                            principal, l'achat d'un terrain, ou l'achat d'un terrain et sa construction.

                            A travers ce programme, les adhérents pourront, ainsi, bénéficier de trois mécanismes d'aide au
                            logement, non cumulables, comprenant des crédits subventionnés, bonifiés ou conventionnés.
                        </p>

                        <img class="mx-auto h-52 w-fit object-cover mt-5"
                            src="assets/images/pages/nos-conventions/photos/WFI_Convention site_Agriculteur_16032023.jpg"
                            alt="" />
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title>
                            <img class="h-20 w-20 object-cover"
                                src="assets/images/pages/nos-conventions/logos/logo justice.png" alt="" />
                            Fondation Mohammedia des Œuvres Sociales des Magistrats et Fonctionnaires de la Justice
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="flex flex-col mt-10">
                        <span class="text-primary font-bold text-md">Un crédit immobilier sur mesure qui vous simplifie la vie</span>

                        <p class="mt-5">
                            La Fondation Mohammedia des Œuvres Sociales des Magistrats et Fonctionnaires de la Justice offre
                            à ses adhérents des crédits logement personnalisables, avec des conditions exceptionnelles.

                            Les adhérents pourront, ainsi, bénéficier d'un financement intégral de leur projet avec des taux
                            avantageux, fixes ou variables, qui comprend, notamment, un taux d'endettement intéressant, en
                            conformité avec les termes de la convention.

                        </p>

                        <img class="mx-auto h-52 w-fit object-cover mt-5"
                            src="assets/images/pages/nos-conventions/photos/WFI_Convention site_DGSN_16032023_2.jpg"
                            alt="" />
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title>
                            <img class="h-20 w-20 object-cover"
                                src="assets/images/pages/nos-conventions/logos/Logo Fondation Mohammed VI.png" alt="" />
                            Fondation Des Œuvres Sociales du Personnel du Ministère de l'Economie et des Finances
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="flex flex-col mt-10">
                        <span class="text-primary font-bold text-md">Un crédit immobilier à la hauteur de vos ambitions</span>

                        <p class="mt-5">
                            La Fondation Mohammedia des Œuvres Sociales des Magistrats et Fonctionnaires de la Justice offre
                            à ses adhérents des crédits logement personnalisables, avec des conditions exceptionnelles.

                            Les adhérents pourront, ainsi, bénéficier d'un financement intégral de leur projet avec des taux
                            avantageux, fixes ou variables, qui comprend, notamment, un taux d'endettement intéressant, en
                            conformité avec les termes de la convention.

                        </p>

                        <img class="mx-auto h-fit w-72 object-cover mt-5"
                            src="assets/images/pages/nos-conventions/photos/WFI_Convention site_Finance_16032023.jpg"
                            alt="" />
                    </div>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </div>

</div>