.nos-conventions-bg-header {
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('/assets/images/pages/nos-conventions/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (max-width: 959px) {
    background-image:  linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('/assets/images/pages/nos-conventions/header-sm.png');
  }
}









@media only screen and (min-width: 600px) {
  mat-panel-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  mat-panel-title {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .h-md {
      height: 48px;
  }
}

@media (max-width: 767px) {
  .h-md {
      height: 22px;
  }
}

