<!-- Vos avantages -->
<section class="px-5 sm:px-16 py-10 max-md:pb-12 bg-card md:bg-primary-500 md:text-white">
    <div class="w-full max-w-400 mx-auto flex flex-col items-center">
        <span class="md:-ml-9 text-center text-2xl md:text-3xl uppercase font-bold max-md:text-primary pb-8">
            Vos avantages<br class="sm:hidden" /> de crédit en ligne :
        </span>
        <div class="w-full grid grid-cols-1 gap-y-3 max-md:text-primary md:flex md:flex-row md:items-center md:justify-center">
            <div class="flex flex-row items-center max-md:rounded-lg max-md:border-2 max-md:border-primary max-md:pl-2 max-md:py-3">
                <span class="hidden md:flex items-center justify-center w-14 h-14 rounded bg-primary mr-3">
                    <mat-icon class="icon-size-12 text-white" [svgIcon]="'mat_outline:money_off'">
                    </mat-icon>
                </span>
                <mat-icon class="md:hidden icon-size-9 text-primary mr-2" [svgIcon]="'mat_outline:money_off'">
                </mat-icon>
                <span class="text-md font-bold sm:text-xl sm:font-semibold uppercase">
                    Frais de dossier gratuits
                </span>
            </div>

            <span class="hidden md:block border-white border-l h-16 w-0.5 mx-10"></span>

            <div class="flex flex-row items-center max-md:rounded-lg max-md:border-2 max-md:border-primary max-md:pl-3 max-md:py-3">
                <span class="hidden md:flex items-center justify-center w-14 h-14 rounded bg-primary mr-3">
                    <mat-icon class="icon-size-10 text-white" [svgIcon]="'heroicons_outline:color-swatch'">
                    </mat-icon>
                </span>
                <mat-icon class="md:hidden icon-size-8 text-primary mr-2" [svgIcon]="'heroicons_solid:color-swatch'">
                </mat-icon>
                <span class="text-md font-bold sm:text-xl sm:font-semibold uppercase">
                    Accompagnement personnalisé
                </span>
            </div>

            <span class="hidden md:block border-white border-l h-16 w-0.5 mx-10"></span>

            <div class="flex flex-row items-center max-md:rounded-lg max-md:border-2 max-md:border-primary max-md:pl-3 max-md:py-3">
                <span class="hidden md:flex items-center justify-center w-14 h-14 rounded bg-primary mr-3">
                    <mat-icon class="icon-size-10 text-white" svgIcon="delivery-time">
                    </mat-icon>
                </span>
                <mat-icon class="md:hidden icon-size-8 text-primary mr-2" svgIcon="delivery-time">
                </mat-icon>
                <span class="text-md font-bold sm:text-xl sm:font-semibold uppercase">
                    Accord de principe immédiat
                </span>
            </div>
        </div>
    </div>
</section>