<div class="flex flex-col sm:flex-row flex-auto items-center md:justify-end justify-center min-w-0 auth-header">
    <div class="sm:w-1/2 flex flex-row justify-center">
        <div class="w-full sm:w-fit py-8 px-4 sm:p-12 rounded-2xl sm:shadow bg-card">
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">

                <!-- Logo -->
                <div class="w-12">
                    <img src="assets/images/logo/logo.png">
                </div>

                <!-- Title -->
                <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Inscrivez-vous</div>
                <div class="flex items-baseline mt-0.5 font-medium">
                    <div>Vous avez déjà un compte ?</div>
                    <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-in']">Se connecter
                    </a>
                </div>

                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                    [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>

                <form class="grid grid-cols-2 gap-3 mt-8" [formGroup]="chooseForm" #chooseFormNgForm="ngForm" *ngIf="showClientAwb">

                    <mat-radio-group class="flex flex-col md:col-span-2 w-full" [formControlName]="'clientAWB'">
                        <mat-label>Etes-vous client Wafa immobilier ? </mat-label>
                        <div class="flex flex-row mt-3 bg-card px-4 py-2 md:py-3 rounded-md shadow ring-1 ring-gray-300 w-full">
                            <mat-radio-button [value]="true">Oui</mat-radio-button>
                            <mat-radio-button class="ml-5" [value]="false">Non</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </form>

                <!-- Sign Up form abonné -->

                <form class="grid grid-cols-2 gap-3 mt-8" [formGroup]="signUpForm2" #signUpNgForm2="ngForm" *ngIf="!isClient">

                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input id="lastName" matInput [formControlName]="'lastName'">
                        <mat-error *ngIf="signUpForm2.get('lastName').hasError('required')">
                            champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Prénom</mat-label>
                        <input id="firstName" matInput [formControlName]="'firstName'">
                        <mat-error *ngIf="signUpForm2.get('firstName').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input id="email" matInput [formControlName]="'email'">
                        <mat-error *ngIf="signUpForm2.get('email').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Téléphone</mat-label>
                        <input id="telephone" matInput [formControlName]="'telephone'" appFormatTelephone>
                        <mat-error *ngIf="signUpForm2.get('telephone').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Mot de passe</mat-label>
                        <input id="pass1" matInput [formControlName]="'pass1'" type="password">
                        <mat-error *ngIf="signUpForm2.get('pass1').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Confirmer le mdp</mat-label>
                        <input id="pass2" matInput [formControlName]="'pass2'" type="password">
                        <mat-error *ngIf="signUpForm2.get('pass2').hasError('required')">
                            Champs requis
                        </mat-error>

                    </mat-form-field>

                    <!-- ToS and PP -->
                    <div class="inline-flex items-end w-full mt-1.5 col-span-2">
                        <mat-checkbox [color]="'primary'" [formControlName]="'agreements'">
                            <span>Je déclare avoir lu et accepter les </span>
                            <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">les conditions générales d’utilisation </a>
                            <span>du site</span>
                            <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">www.wafaimmobilier.com</a>
                        </mat-checkbox>
                    </div>

                    <!-- Submit button -->
                    <button class="fuse-mat-button-large w-fit mt-6 mx-auto col-span-2"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="signUpForm2.disabled"
                        (click)="signUp2()">
                        <span *ngIf="!signUpForm2.disabled">
                            Inscription
                        </span>
                        <mat-progress-spinner
                            *ngIf="signUpForm2.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </form>

                <!-- Sign Up form client step 1-->

                <form class="grid grid-cols-2 gap-3 mt-8" [formGroup]="signUpForm" #signUpNgForm="ngForm" *ngIf="isClient && !isNum && !isSendSms">

                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input id="lastName" matInput [formControlName]="'lastName'">
                        <mat-error *ngIf="signUpForm.get('lastName').hasError('required')">
                            champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Prénom</mat-label>
                        <input id="firstName" matInput [formControlName]="'firstName'">
                        <mat-error *ngIf="signUpForm.get('firstName').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>CIN</mat-label>
                        <input id="cin" matInput [formControlName]="'cin'" >
                        <mat-error *ngIf="signUpForm.get('cin').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input id="email" matInput [formControlName]="'email'">
                        <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Date de naissance</mat-label>
                        <input id="dateNaissance" matInput [formControlName]="'dateNaissance'">
                        <mat-error *ngIf="signUpForm.get('dateNaissance').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <!-- ToS and PP -->
                    <div class="inline-flex items-end w-full mt-1.5 col-span-2">
                        <mat-checkbox [color]="'primary'" [formControlName]="'agreements'">
                            <span>Je déclare avoir lu et accepter les </span>
                            <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">les conditions générales d’utilisation </a>
                            <span>du site</span>
                            <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">www.wafaimmobilier.com</a>
                        </mat-checkbox>
                    </div>
                    <!-- Submit button -->

                    <button class="fuse-mat-button-large w-fit mt-6 mx-auto col-span-2"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="signUpForm.disabled"
                        (click)="signUp()">
                        <span *ngIf="!signUpForm.disabled">
                            Inscription
                        </span>
                        <mat-progress-spinner
                            *ngIf="signUpForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </form>

                <!-- Sign Up form client step 2 -->

                <form class="grid grid-cols-2 gap-3 mt-8" [formGroup]="signUpForm3" #signUpNgForm3="ngForm" *ngIf="isClient && isNum">

                    <mat-form-field class="w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:flag'" matPrefix>
                        </mat-icon>
                        <mat-select [formControlName]="'num'">
                            <ng-container *ngFor="let numero of numeros">
                                <mat-option [value]="numero">
                                    {{numero}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-label class="max-md:text-sm max-md:font-semibold">Vos numéros
                        </mat-label>
                    </mat-form-field>

                    <!-- Submit button -->

                    <button class="fuse-mat-button-large w-fit mt-6 mx-auto col-span-2"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="signUpForm3.disabled"
                        (click)="sendSms()">
                        <span *ngIf="!signUpForm3.disabled">
                            Envoyer SMS
                        </span>
                        <mat-progress-spinner
                            *ngIf="signUpForm3.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </form>

                <!-- Sign Up form client step 3 -->

                <form class="grid grid-cols-2 gap-3 mt-8" [formGroup]="signUpForm4" #signUpNgForm4="ngForm" *ngIf="isClient && isSendSms">

                    <mat-form-field>
                        <mat-label>Code d'activation</mat-label>
                        <input id="code" matInput [formControlName]="'code'">
                        <mat-error *ngIf="signUpForm4.get('code').hasError('required')">
                            champs requis
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>Mot de passe</mat-label>
                        <input id="pass1" matInput [formControlName]="'pass1'" type="password">
                        <mat-error *ngIf="signUpForm4.get('pass1').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Confirmer le mot de passe</mat-label>
                        <input id="pass2" matInput [formControlName]="'pass2'" type="password">
                        <mat-error *ngIf="signUpForm4.get('pass2').hasError('required')">
                            Champs requis
                        </mat-error>

                    </mat-form-field>

                    <!-- Submit button -->
                    <button class="fuse-mat-button-large w-fit mt-6 mx-auto col-span-2"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="signUpForm4.disabled"
                        (click)="activerCompte()">
                        <span *ngIf="!signUpForm4.disabled">
                            Validation
                        </span>
                        <mat-progress-spinner
                            *ngIf="signUpForm4.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </form>


            </div>

        </div>
    </div>
