<div style="background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('assets/images/pages/landing/header.jpg');"
    class="flex flex-row flex-auto items-center justify-end min-w-0 bg-center bg-cover">
    <div class="w-1/2 flex flex-row justify-center">
        <div class="w-full sm:w-fit py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
            <div class="w-full max-w-90 sm:w-80 mx-auto sm:mx-0">

                <!-- Logo -->
                <div class="w-12">
                    <img src="assets/images/logo/logo.png">
                </div>

                <!-- Title -->
                <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Inscrivez-vous</div>
                <div class="flex items-baseline mt-0.5 font-medium">
                    <div>Vous avez déjà un compte ?</div>
                    <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-in']">Ce connecter
                    </a>
                </div>

                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                    [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>

                <!-- Sign Up form -->
                <form class="grid grid-cols-2 gap-3 mt-8" [formGroup]="signUpForm" #signUpNgForm="ngForm">

                    <mat-radio-group class="flex flex-col md:col-span-2 w-full" [formControlName]="'clientAWB'">
                        <mat-label>Etes-vous client Wafaimmobilier ? </mat-label>
                        <div class="flex flex-row mt-3 bg-card px-4 py-2 md:py-3 rounded-md shadow ring-1 ring-gray-300 w-full">
                            <mat-radio-button [value]="true">Oui</mat-radio-button>
                            <mat-radio-button class="ml-5" [value]="false">Non</mat-radio-button>
                        </div>
                    </mat-radio-group>

                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input id="lastName" matInput [formControlName]="'lastName'">
                        <mat-error *ngIf="signUpForm.get('lastName').hasError('required')">
                            champs requis
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Prénom</mat-label>
                        <input id="firstName" matInput [formControlName]="'firstName'">
                        <mat-error *ngIf="signUpForm.get('firstName').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="signUpForm.get('clientAWB').value">
                        <mat-label>CIN</mat-label>
                        <input id="cin" matInput [formControlName]="'cin'">
                        <mat-error *ngIf="signUpForm.get('cin').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="signUpForm.get('clientAWB').value">
                        <mat-label>Date de naissance</mat-label>
                        <input id="dateNaissance" matInput [formControlName]="'dateNaissance'">
                        <mat-error *ngIf="signUpForm.get('dateNaissance').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input id="email" matInput [formControlName]="'email'">
                        <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Téléphone</mat-label>
                        <input id="telephone" matInput [formControlName]="'telephone'">
                        <mat-error *ngIf="signUpForm.get('telephone').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Mot de passe</mat-label>
                        <input id="pass1" matInput [formControlName]="'pass1'" type="password">
                        <mat-error *ngIf="signUpForm.get('pass1').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Confirmer le mot de passe</mat-label>
                        <input id="pass2" matInput [formControlName]="'pass2'" type="password">
                        <mat-error *ngIf="signUpForm.get('pass2').hasError('required')">
                            Champs requis
                        </mat-error>
                    </mat-form-field>

                    <!-- ToS and PP -->
                    <div class="inline-flex items-end w-full mt-1.5 col-span-2">
                        <mat-checkbox [color]="'primary'" [formControlName]="'agreements'">
                            <span>I agree to the</span>
                            <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">Terms of Service</a>
                            <span>and</span>
                            <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">Privacy Policy</a>
                        </mat-checkbox>
                    </div>
                    <!-- Submit button -->
                    <button class="fuse-mat-button-large w-fit mt-6 mx-auto col-span-2"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="signUpForm.disabled"
                        (click)="signUp()">
                        <span *ngIf="!signUpForm.disabled">
                            Inscription
                        </span>
                        <mat-progress-spinner
                            *ngIf="signUpForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </form>

            </div>

        </div>
    </div>