<div class="flex flex-col flex-auto min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col items-center w-full">
        <!-- <div class="relative flex flex-col items-center justify-evenly px-6 sm:px-16 py-10 sm:py-20 w-full min-h-[92vh]"> -->

        <!-- [config]="swiperConfig" -->
        <swiper
            [autoplay]="{
                delay: 2000,
                disableOnInteraction: false
            }"
            [speed]="1500"
            [loop]="true"
            [effect]="'coverflow'"
            [grabCursor]="true"
            [centeredSlides]="true"
            [slidesPerView]="'auto'"
            [spaceBetween]="50"
            [coverflowEffect]="{
                            rotate: 50,
                            stretch: 0,
                            depth: 100,
                            modifier: 1,
                            slideShadows: true
                           }"
            [navigation]="true"
            [pagination]="pagination"
            class="mySwiper">

            <ng-container *ngFor="let imag of projet.images; trackBy: trackByFn">
                <ng-template swiperSlide>
                    <div class="z-10 absolute inset-0 bg-black/[.4]"></div>
                    <div class="absolute inset-0">
                        <img [src]="imag.chemin">
                    </div>
                </ng-template>
            </ng-container>
        </swiper>
    </div>

    <div class="z-20 flex flex-col items-center px-6 sm:px-16 pb-10 sm:pb-18">
        <div class="flex h-44 w-full max-w-sm md:max-w-400 shadow-lg rounded-3xl bg-card -mt-16 sm:-mt-8 md:-mt-24">
            <div class="flex flex-row items-center justify-evenly w-1/3 ml-20">
                <div class="flex items-center justify-center w-1/3">
                    <img [src]="projet.promoteur.logo" class="object-cover w-32 h-fit" />
                </div>
                <div class="flex flex-col justify-center">
                    <div class="font-extrabold text-3xl uppercase text-primary">
                        {{projet.name}}
                    </div>
                    <div class="flex items-center">
                        <mat-icon class="icon-size-5 md:icon-size-7" [svgIcon]="'heroicons_outline:location-marker'">
                        </mat-icon>
                        <div class="ml-2 text-xl font-semibold">{{projet.ville}}</div>
                    </div>
                    <button class="w-fit mt-5 uppercase" mat-flat-button [color]="'primary'">
                        Faites-vous rappeler
                    </button>
                </div>
            </div>

            <div class="mx-5 my-auto border-gray-400 border-l-2 h-3/4"></div>

            <div class="flex flex-col justify-center w-1/4 ml-10">
                <div class="flex flex-row items-center">
                    <mat-icon class="icon-size-5 md:icon-size-8" [svgIcon]="'mat_outline:maps_home_work'">
                    </mat-icon>
                    <div class="ml-5 font-semibold">{{projet.standing}}</div>
                </div>
                <div class="flex flex-row items-center mt-2">
                    <mat-icon class="icon-size-5 md:icon-size-8" svgIcon="underconstruct">
                    </mat-icon>
                    <div class="ml-5 font-semibold">{{projet.statut}}</div>
                </div>
                <div class="flex flex-row items-center mt-2">
                    <mat-icon class="icon-size-5 md:icon-size-8" [svgIcon]="'heroicons_outline:heart'">
                    </mat-icon>
                    <div class="ml-5 font-semibold">Ajouter au favoris</div>
                </div>
            </div>

            <div class="mx-5 my-auto border-gray-400 border-l-2 h-3/4"></div>

            <div class="flex flex-col justify-center w-1/4 ml-10 mr-20">
                <div
                    class="w-fit py-0.5 px-3 rounded-full text-lg font-semibold text-primary-700 ring-1 ring-inset ring-primary bg-hover">
                    à partir de <strong>{{projet.prixMin}} {{projet.devise}}</strong>
                </div>
                <button class="fuse-mat-button-large w-fit mt-5 uppercase" mat-flat-button [color]="'primary'">
                    Obtenez votre financement
                </button>
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center px-6 sm:px-16 pb-10 sm:pb-18">
        <div class="flex flex-col md:flex-row w-full max-w-sm md:max-w-400">
            <div class="h-fit w-full md:w-7/12 rounded-3xl overflow-hidden">
                <iframe 
                    src="http://www.youtube.com/embed/OQL6KiB10bA?controls=0&autoplay=1&mute=1&loop=1&modestbranding=1&fs=0&rel=0&showinfo=0&disablekb=1&playlist=OQL6KiB10bA"
                    frameborder="0">
                </iframe>
            </div>

            <!-- <div class="w-7/12">
                <div style="position:relative;padding-top:56.25%;">
                    <iframe
                        src="http://www.youtube.com/embed/-xN7Q6TQsbI?controls=0&autoplay=1&mute=1&loop=1&modestbranding=1&fs=0&rel=0&showinfo=0&disablekb=1&playlist=-xN7Q6TQsbI"
                        frameborder="0" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    </iframe>
                </div>
            </div> -->

            <div class="w-full mt-10 md:mt-0 md:ml-20 md:w-5/12 p-6 shadow-lg rounded-3xl bg-card">
                <simulation></simulation>
            </div>

        </div>
    </div>

</div>