<div class="flex flex-col flex-auto min-w-0 overflow-hidden bg-card dark:bg-transparent border border-gray-200">

    <!-- Title -->
    <div class="flex flex-0 items-center p-2 md:p-6 border-b bg-gray-50 dark:bg-transparent">
        <button 
            mat-icon-button
            (click)="closeDrawer()">
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
        <div class="ml-2 text-lg md:text-2xl font-semibold">Tableau d'amortissement</div>
    </div>

    <!-- Main -->
    <div class="relative flex flex-auto overflow-hidden">

        <div class="flex flex-col flex-auto mb-30 md:mb-18 overflow-y-auto"
            [hidden]="tableauLength === 0">
            <div class="grid">
                <!-- Header -->
                <div class="amortissement-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                    matSort
                    matSortDisableClear>
                    <div
                        [mat-sort-header]="'numEcheance'">
                        N° Echéance
                    </div>
                    <div
                        [mat-sort-header]="'amortissement'">
                        Amortissement
                    </div>
                    <div
                        [mat-sort-header]="'interet'">
                        Intérêt TTC
                    </div>
                    <div
                        [mat-sort-header]="'echeanceClientTTC'">
                        Echéance Client TTC
                    </div>
                    <div
                        [mat-sort-header]="'crd'">
                        CRD
                    </div>
                </div>
                <!-- Rows -->
                <ng-container *ngIf="(tableauAmortissement$ | async) as tableauAmortissements">
                    <ng-container *ngFor="let ligneEcheance of tableauAmortissements; trackBy: trackByFn">
                        <div class="amortissement-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                            <!-- echeance -->
                            <div class="truncate">
                                {{ligneEcheance.numEcheance}}
                            </div>

                            <!-- amortissement -->
                            <div class="truncate">
                                {{ligneEcheance.amortissement | currency:'Dhs ':'symbol':'1.2-2'}}
                            </div>

                            <!-- interetTTC -->
                            <div class="truncate">
                                {{ligneEcheance.interet | currency:'Dhs ':'symbol':'1.2-2'}}
                            </div>

                            <!-- echeanceClientTTC -->
                            <div class="truncate">
                                {{ligneEcheance.echeanceClient | currency:'Dhs ':'symbol':'1.2-2'}}
                            </div>

                            <!-- crd -->
                            <div class="truncate">
                                {{ligneEcheance.crd | currency:'Dhs ':'symbol':'1.2-2'}}
                            </div>

                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>

        <mat-paginator
            [hidden]="tableauLength === 0"
            class="absolute inset-x-0 bottom-0 border-b border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            [showFirstLastButtons]="true">
        </mat-paginator>

        <ng-template #noTableauAmortissement>
            <div class="flex flex-col flex-auto items-center justify-center border-t bg-second-100 dark:bg-transparent">
                <mat-icon class="icon-size-20 md:icon-size-24" [svgIcon]="'mat_outline:search_off'"></mat-icon>
                <div class="mt-4 text-2xl md:text-4xl font-semibold tracking-tight text-secondary">
                    Il n'y a pas de tableau d'mortissement!
                </div>
            </div>
        </ng-template>

    </div>

</div>
