<div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}">

    <!-- Header -->
    <header class="flex flex-col items-center justify-center px-5 sm:px-16 w-full min-h-76 mes-demandes-bg-header">
        <div class="w-full max-w-400">
            <bienvenue></bienvenue>
        </div>
    </header>

    <div class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20">

        <div class="w-full max-w-400 mx-auto">

            <div class="flex flex-row">
                <div>
                    <span class="text-2xl md:text-4xl uppercase font-extrabold leading-tight tracking-tight text-primary">
                        Mes demandes de crédit
                    </span>
                    <div class="max-w-xl mt-2 md:text-xl text-secondary">
                        Vous avez ({{demandes.length}}) demandes de crédit en cours
                    </div>
                </div>
            </div>
            
            <ng-container *ngIf="demandes && demandes.length > 0; else noDemandes">

                <div class="mx-auto sm:w-fit grid grid-cols-1 gap-y-14 md:gap-x-10 md:gap-y-16 mt-20"
                    [ngClass]="{'md:grid-cols-3' : demandes.length > 4 || demandes.length === 3,
                                 'md:grid-cols-1' : demandes.length === 1,
                                 'md:grid-cols-2' : demandes.length === 4 || demandes.length === 2}">

                    <ng-container *ngFor="let demande of demandes; let i = index; trackBy: trackByFn">
                        
                        <fuse-card class="sm:max-w-90 relative flex flex-col items-center px-5 pb-6 overflow-visible ring-1 ring-primary-500">

                            <div class="mx-auto absolute inset-x-0 -top-8 flex items-center justify-center h-16 w-16 rounded-full font-medium text-center leading-none bg-primary-500">
                                <mat-icon class="icon-size-14 text-on-primary ml-2" svgIcon="survey">
                                </mat-icon>
                            </div>

                            <div class="flex flex-col items-center mt-14">
                                <div class="text-2xl font-bold leading-tight uppercase">
                                    Demande N° {{demande.nprojet}}
                                </div>
                                <div class="text-secondary">
                                    {{demande.dateCreation}}
                                </div>

                                <div class="flex flex-col items-center mt-7">
                                    <span class="font-medium">Montant demandé</span>
                                    <span class="text-3xl font-semibold">{{demande.mtProjet}}</span>
                                </div>
                            </div>

                            <div class="flex justify-center w-full mt-5 pt-6 border-t">
                                <span>Statut de ma demande</span>
                            </div>

                            <ol class="whitespace-nowrap mt-3">
                                <!-- time line -->
                                <ng-container *ngFor="let step of steps; let i = index; let first = first; let last = last; trackBy: trackByFn">
    
                                    <li class="relative inline-block px-3">
                                        <!-- Line -->
                                        <ng-container *ngIf="!last">
                                            <ng-container *ngIf="demande.phaseId > step.id">
                                                <div class="absolute top-[10px] left-[60px] w-full h-0.5 bg-green-500"></div>
                                            </ng-container>
                                            <ng-container *ngIf="step.id >= demande.phaseId">
                                                <div class="absolute top-[10px] left-[60px] w-full h-0.5 bg-gray-300 dark:bg-gray-600"></div>
                                            </ng-container>
                                            <!-- <ng-container *ngIf="step.id === demande.phaseId">
                                                <div class="absolute top-[10px] left-[60px] w-full h-0.5 bg-primary-500 dark:bg-gray-600"></div>
                                            </ng-container> -->
                                        </ng-container>
    
                                        <div class="relative flex flex-col items-center">
                                            <!-- Icon -->
                                            <ng-container *ngIf="demande.phaseId > step.id">
                                                <div class="flex items-center justify-center w-[22px] h-[22px] rounded-full bg-default">
                                                    <mat-icon class="icon-size-7 text-green-500"
                                                        [svgIcon]="'heroicons_solid:check-circle'">
                                                    </mat-icon>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="step.id === demande.phaseId">
                                                <div class="flex items-center justify-center w-[22px] h-[22px] rounded-full bg-default">
                                                    <!-- album adjust pending -->
                                                    <mat-icon class="icon-size-7 text-primary"
                                                        [svgIcon]="'mat_solid:radio_button_checked'">
                                                    </mat-icon>
                                                </div>
                                            </ng-container>
                                            <ng-container *ngIf="step.id > demande.phaseId">
                                                <div class="flex items-center justify-center w-[22px] h-[22px] rounded-full bg-default">
                                                    <mat-icon class="icon-size-7"
                                                        [svgIcon]="'mat_solid:circle'">
                                                    </mat-icon>
                                                </div>
                                            </ng-container>
                                            <!-- Libelle -->
                                            <div class="mt-4" [innerHTML]="step.libelle"></div>
                                        </div>
                                    </li>
                                </ng-container>
                            </ol>

                            <span class="max-w-80 mt-7">{{demande.statut}}</span>

                        </fuse-card>

                    </ng-container>

                </div>

            </ng-container>

            <!-- No demande template -->
            <ng-template #noDemandes>
                <div class="flex flex-col flex-auto items-center justify-center bg-second-100 dark:bg-transparent min-h-60 border border border-gray-200 shadow-sm rounded-md mt-10">
                    <mat-icon class="icon-size-20 md:icon-size-24" [svgIcon]="'mat_outline:search_off'"></mat-icon>
                    <div class="mt-4 text-xl md:text-2xl font-semibold tracking-tight text-secondary">
                        Il n'y a pas de demande de crédit!
                    </div>
                </div>
            </ng-template>
        </div>

    </div>

</div>