<div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}">
    <!-- <div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto scroll-smooth" [@fadeInRight]="{value:'', params: {duration: 700}}" cdkScrollable> -->

    <!-- Header -->
    <header class="flex flex-col items-center justify-center px-5 sm:px-16 w-full min-h-[45vh] md:min-h-[35vh] mesdemandes-bg-header">
        <div class="w-full max-w-400">
            <bienvenue></bienvenue>
        </div>
    </header>

    <div class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20">

        <div class="w-full max-w-400 mx-auto">

            <div class="flex flex-row">
                <div>
                    <span class="text-2xl md:text-4xl uppercase font-extrabold leading-tight tracking-tight text-primary">
                        Mes demandes de crédit
                    </span>
                    <div class="max-w-xl mt-2 text-xl text-secondary">
                        Vous avez ({{demandes.length}}) demandes de crédit en cours
                    </div>
                </div>
            </div>
            
            <ng-container *ngIf="demandes && demandes.length > 0; else noDemandes">

                <div class="mx-auto w-fit grid grid-cols-1 gap-y-14 md:grid-cols-2 md:gap-x-10 md:gap-y-16 mt-16"
                    [ngClass]="{'md:grid-cols-3' : demandes.length > 4 || demandes.length === 3,
                                 'md:grid-cols-1' : demandes.length === 1 }">

                    <ng-container *ngFor="let demande of demandes; let i = index; trackBy: trackByFn">
                        
                        <fuse-card class="relative flex flex-col items-center px-5 pt-8 pb-6 bg-card overflow-visible ring-1 ring-primary-500 rounded-md cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.05] hover:bg-second-100">

                            <div class="mx-auto absolute inset-x-0 -top-8 flex items-center justify-center h-16 w-16 p-2 rounded-full font-medium text-center leading-none bg-primary-500">
                                <mat-icon class="icon-size-12 text-on-primary" [svgIcon]="'mat_solid:real_estate_agent'">
                                </mat-icon>
                            </div>

                            <div class="flex flex-col items-center mt-5">
                                <div class="text-2xl font-bold leading-tight uppercase">Demande N° {{demande.id}}
                                </div>

                                <div class="flex flex-col items-center mt-7 mb-1">
                                    <span class="font-medium">Montant demandé</span>
                                    <span class="text-3xl font-semibold">{{demande.montant}}</span>
                                </div>
                            </div>

                            <hr class="w-full border-t mb-5">

                            <div class="flex flex-col items-center space-y-5">
                                <span>Statut de ma demande</span>
                                <ol class="block whitespace-nowrap">
                                    <!-- time line -->
                                    <ng-container *ngFor="let statut of statuts; let i = index; let first = first; let last = last; trackBy: trackByFn">
        
                                        <li class="relative inline-block px-3">
                                            <!-- Line -->
                                            <ng-container *ngIf="!last">
                                                <ng-container *ngIf="demande.statut > statut.id">
                                                    <div class="absolute top-[10px] left-[60px] w-full h-0.5 bg-green-500"></div>
                                                </ng-container>
                                                <ng-container *ngIf="statut.id >= demande.statut">
                                                    <div class="absolute top-[10px] left-[60px] w-full h-0.5 bg-gray-300 dark:bg-gray-600"></div>
                                                </ng-container>
                                                <!-- <ng-container *ngIf="statut.id === demande.statut">
                                                    <div class="absolute top-[10px] left-[60px] w-full h-0.5 bg-primary-500 dark:bg-gray-600"></div>
                                                </ng-container> -->
                                            </ng-container>
        
                                            <div class="relative flex flex-col items-center">
                                                <!-- Icon -->
                                                <ng-container *ngIf="demande.statut > statut.id">
                                                    <div class="flex items-center justify-center w-[22px] h-[22px] rounded-full bg-default">
                                                        <mat-icon class="icon-size-7 text-green-500"
                                                            [svgIcon]="'heroicons_solid:check-circle'">
                                                        </mat-icon>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="statut.id === demande.statut">
                                                    <div class="flex items-center justify-center w-[22px] h-[22px] rounded-full bg-default">
                                                        <!-- album adjust pending -->
                                                        <mat-icon class="icon-size-7 text-primary"
                                                            [svgIcon]="'mat_solid:radio_button_checked'">
                                                        </mat-icon>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="statut.id > demande.statut">
                                                    <div class="flex items-center justify-center w-[22px] h-[22px] rounded-full bg-default">
                                                        <mat-icon class="icon-size-7"
                                                            [svgIcon]="'mat_solid:circle'">
                                                        </mat-icon>
                                                    </div>
                                                </ng-container>
                                                <!-- Libelle -->
                                                <div class="mt-4" [innerHTML]="statut.libelle"></div>
                                            </div>
                                        </li>
                                    </ng-container>
                                </ol>
                                <span class="max-w-80">Votre demande de crédit est autorisée, merci de contacter votre agence</span>
                            </div>

                        </fuse-card>
                    </ng-container>

                </div>
            </ng-container>
            <!-- </ng-container> -->

            <!-- No demande template -->
            <ng-template #noDemandes>
                <div class="flex flex-col flex-auto items-center justify-center bg-second-50 dark:bg-transparent">
                    <mat-icon class="icon-size-24" [svgIcon]="'mat_outline:search_off'"></mat-icon>
                    <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">
                        Il n'y a pas de demande de crédit!
                    </div>
                </div>
            </ng-template>
        </div>

    </div>

</div>