.mes-demandes-bg-header {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/images/admin/mes-demandes/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
