<div class=" flex flex-col flex-auto min-w-0 overflow-hidden  " [@fadeInRight]="{value:'', params: {duration: 700}}">

  <!-- Header -->
  <section class=" px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20 grid grid-cols-12 min-h-[45vh] sm:min-h-[30vh] b2-bg">
    <button class="col-span-1 w-full md:w-1/2 " routerLink="/conseil-detail-1"><mat-icon class="h-full text-primary w-full " svgIcon="navigate_before"></mat-icon></button>
   
    <div class="w-full col-span-10 max-w-400 mx-auto flex flex-col items-center justify-center">

      <div class=" grid grid-cols-1 sm:grid-cols-2  gap-y-4 sm:gap-y-6 md:gap-y-8 gap-x-8 sm:gap-x-12 md:gap-x-15  ">
        <div></div>
        <div class="items-center justify-center">
          <div class="hidden sm:block text-2xl sm:text-3xl  md:text-4xl  uppercase font-bold tracking-tight leading-tight  ">
            Copropriété : bon à savoir
          </div>
        </div>
        
      </div>
    </div>
    <button class="col-span-1 w-full md:w-1/2 " routerLink="/conseil-detail-3"><mat-icon class="h-full text-primary w-full  " svgIcon="navigate_next"></mat-icon></button>
  </section>
  <section class="sm:hidden px-5 py-4 min-h-10  ">
    <div class="w-full max-w-400 mx-auto flex flex-col items-center justify-center">

      <div class=" grid grid-cols-1   gap-y-4 gap-x-8 ">
        <div class=" text-2xl  uppercase font-bold tracking-tight leading-tight  ">
          Copropriété : bon à savoir
        </div>
      </div>
    </div>
  </section>

  <section class="px-5 sm:px-16 py-3   min-h-80 md:min-h-76 b3-gray-100">
    <div class="sm:w-full  max-w-400 mx-auto md:flex flex-col flex-wrap  justify-start text-justify  ">
      <div class="text-lg sm:text-xl  pt-2 pb-1 sm:pt-3 sm:px-20 md:px-40  ">Être copropriétaire, c'est être propriétaire collectivement d'un bien divisé en lots à l’instar d’un immeuble, propriété collective de ses habitants où chacun possède un (ou plusieurs) appartement.
      </div>
      <div class="text-lg sm:text-xl  py-1 sm:py-1 sm:px-20 md:px-40 ">Ce qui signifie que chaque copropriétaire est propriétaire de ses parties privatives, mais également copropriétaire des parties communes.
      </div>
      <div class="text-lg sm:text-xl  pb-2 pt-1 sm:pb-3  sm:px-20 md:px-40 ">Il peut ainsi disposer de son bien, le louer, ou le vendre, suivant le droit de propriété, mais tout en respectant un certain nombre de règles collectives (le règlement de copropriété, suivant le droit de copropriété).
      </div>
      <div class=" py-3 sm:py-3 sm:px-20 md:px-40">
        <h3 class="text-primary text-lg sm:text-xl font-bold pt-1 sm:py-2">Le règlement de copropriété</h3>
        <p class="text-lg sm:text-xl">Il s'agit du règlement que tous les copropriétaires mais aussi les locataires doivent respecter. </p>
        <p class="text-lg sm:text-xl">Le règlement de copropriété est remis à chaque locataire ou copropriétaire et fixe les règles de jouissance des parties communes, leur destination et leur gestion. </p>
        <p class="text-lg sm:text-xl">Il doit comprendre un descriptif des lots (situation dans la copropriété, constitution, superficie…) et surtout la quote-part (exprimée en "millième") qui détermine par exemple vos frais et charges de copropriété ainsi que votre poids dans les votes. </p>
      </div>

      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl ">
        <h3 class=" text-primary font-bold ">L'assemblée générale</h3>
        <p> L'assemblée générale correspond à la réunion de l'ensemble des copropriétaires. </p>

        <p class="mt-2 sm:mt-1">Elle a lieu au moins une fois par an, pour prendre les décisions concernant le règlement de copropriété ou encore pour voter les différents budgets de la copropriété ou pour toutes décisions concernant l'immeuble ou le lotissement.</p>
        <p class="mt-2 sm:mt-1">La réunion des copropriétaires en assemblée générale se fait sur l'initiative du syndic ou par un ou plusieurs copropriétaires représentant au moins ¼ des voix.</p>
        <p class="mt-2 sm:mt-1">La convocation à cette assemblée doit comprendre un ordre du jour, ainsi que tous documents utiles à la préparation de cette réunion (devis, budgets prévisionnels, contrat de syndic…).</p>
        <p class="mt-2 sm:mt-1">Elle doit être directement remise aux copropriétaires contre émargement.</p>

      </div>


      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl ">
        <h3 class="text-primary font-bold pt-1 sm:py-2">Le syndic</h3>
        <p class="mt-2 sm:mt-1">Le rôle du syndic est primordial dans la bonne tenue d'une copropriété. Il doit être couvert par son assurance sur sa responsabilité civile professionnelle.</p>
        <p class="mt-2 sm:mt-1">
          Le syndic est mandaté par l'assemblée générale; il est chargé d'exécuter les décisions prises, d'administrer la copropriété, et d'agir et de représenter légalement le conseil syndical.
        </p>
        <p class="mt-2 sm:mt-1 ">Il est chargé de :</p>
        <p class="mt-2 sm:mt-1 ml-1 sm:ml-2">●	Faire respecter le règlement de la copropriété,</p>
        <p class="mt-2 sm:mt-1 ml-1 sm:ml-2">●	Appliquer les décisions de l'assemblée générale,</p>
        <p class="mt-2 sm:mt-1 ml-1 sm:ml-2">●	Se charger de l'administration courante et de la conservation de la copropriété,</p>
        <p class="mt-2 sm:mt-1 ml-1 sm:ml-2">●	Recouvrer les charges auprès des copropriétaires,</p>
        <p class="mt-2 sm:mt-1 ml-1 sm:ml-2">●	Se charger du budget prévisionnel et de la comptabilité courante,</p>
        <p class="mt-2 sm:mt-1 ml-1 sm:ml-2">●	Faire voter par l'assemblée générale (au moins une fois tous les trois ans) la décision de constituer des provisions spéciales destinées à faire face à des travaux d'entretien des parties communes,</p>
        <p class="mt-2 sm:mt-1 ml-1 sm:ml-2">●	Conseiller les copropriétaires (en particulier, les avertir des conséquences des décisions prises en assemblée générale),</p>
        <p class="mt-2 sm:mt-1 ml-1 sm:ml-2">●	Conserver les archives de la copropriété,</p>
        <p class="mt-2 sm:mt-1 ml-1 sm:ml-2">●	Représenter la copropriété en justice.</p>
      
      </div>
      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl">
        <h3 class=" text-primary font-bold pt-1 sm:py-2">Les droits et obligations</h3>
        <p> La copropriété confère deux types de droits distincts :Le droit de la propriété (concernant les parties privatives) et le droit de la copropriété (concernant les parties communes). </p>
        <span class="mt-4 sm:mt-2 ml-1 sm:ml-2 ">●	Louer, vendre</span>

        <p class="mt-2 sm:mt-1">En tant que copropriétaire, vous pouvez louer ou vendre votre lot comme bon vous semble sauf si le règlement de la copropriété fixe des limites imposées par la destination de la copropriété (location de meublés dans un immeuble de standing, par exemple)</p>
        <p class="mt-2 sm:mt-1">L'interdiction absolue de louer ainsi que l'obligation de soumettre une vente à l'approbation du conseil syndical ou de l'assemblée générale sont illicites.</p>
        <span class="mt-4 sm:mt-2 ml-1 sm:ml-2 ">●	Les travaux sur des parties privatives</span>

        <p class="mt-2 sm:mt-1">Vous pouvez réaliser ou faire réaliser tous travaux dans vos parties privatives si ceux-ci ne sont pas contraires aux dispositions du règlement de la copropriété et n'entraîne aucune gêne ou trouble de voisinage.</p>

      </div>
      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-xl sm:text-2xl ">
        <h3 class="text-primary font-bold">Vous souhaitez investir dans un bien immobilier et vous souhaitez être accompagnés par des experts de l’immobilier ? </h3>
        
      </div>

      <div class="py-10 sm:pt-18 sm:px-20 md:px-40 sm:pb-20 grid grid-cols-1 sm:grid-cols-3 space-y-5 sm:space-x-30 sm:place-items-center">
        <button  mat-flat-button  [color]="'primary'"
          [routerLink]="'/nous-contacter'">
          Contactez-vous 
        </button>

        <button  mat-flat-button  [color]="'primary'"
          [routerLink]="'/simulation-personnalisee'">
          Simulez votre crédit
        </button>

        <button  mat-flat-button  [color]="'primary'"
          [routerLink]="'/nos-offres-miftah'">
          Découvrez nos offres
        </button>
      </div>


    </div>
  </section>
  <contactez-nous [isScreenSmall]="isScreenSmall"></contactez-nous>

</div>