<ng-container *transloco="let t">
    <div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRightBis]>

        <div class="fixed flex items-center justify-center right-1 bottom-14 w-13 h-13 sm:w-18 sm:h-18 shadow-xl rounded-full z-90 cursor-pointer bg-opacity-90 print:hidden transition-transform duration-150 ease-in-out hover:-translate-y-1 hover:scale-[1.03]">
            <img class="rounded-full opacity-60 hover:opacity-100" src="assets/images/wimo.jpg">
        </div>

        <!-- Header -->
        <header class="flex flex-col items-center justify-center md:justify-end w-full min-h-[50vh] sm:min-h-[77vh] md:min-h-[95vh] landing-bg-header md:bg-fixed">

            <div class="flex flex-row md:items-end w-full max-w-360">
                <!-- Formulaire recherche md -->
                <div class="hidden md:block w-1/2 mx-auto max-w-md">
                    <projets-filter [parentComponent]="'landing'"></projets-filter>
                </div>

                <!-- Titre -->
                <div class="md:w-1/2 pl-6 sm:pl-16 text-white">
                    <div class="text-2xl md:text-4xl font-extrabold uppercase tracking-tight leading-tight">
                        {{t('header1')}}<br />
                        {{t('header2')}}
                    </div>

                    <div class="hidden md:block max-w-lg text-xl mt-2">
                        {{t('underheader')}}
                    </div>
                </div>
            </div>

            <!-- Parcours md -->
            <div class="hidden md:grid grid-cols-4 gap-12 w-full max-w-5xl text-white mt-20 mb-10">
                <a class="flex flex-col items-center rounded-2xl border-2 border-primary-700 bg-stone-700/[.7] py-7 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
                    [routerLink]="['/projets-search']">
                    <mat-icon class="icon-size-12 md:icon-size-24 text-white" svgIcon="property">
                    </mat-icon>
                    <div class="flex flex-col items-center text-sm md:text-base md:font-semibold md:max-w-30 mt-2">
                        <span>Je trouve</span>
                        <span>mon bien</span>
                    </div>
                </a>
                <a class="flex flex-col items-center rounded-2xl border-2 border-primary-700 bg-stone-700/[.7] py-7 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
                    [routerLink]="['./']" (click)="scrollTo('simulationId')">
                    <mat-icon class="icon-size-12 md:icon-size-24 text-white" svgIcon="calculation">
                    </mat-icon>
                    <div class="flex flex-col items-center text-sm md:text-base md:font-semibold md:max-w-30 mt-2">
                        <span>Je simule </span>
                        <span>mon crédit</span>
                    </div>
                </a>
                <a class="flex flex-col items-center rounded-2xl border-2 border-primary-700 bg-stone-700/[.7] py-7 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
                    [routerLink]="['./']">
                    <mat-icon class="icon-size-12 md:icon-size-24 text-white" svgIcon="survey">
                    </mat-icon>
                    <div class="flex flex-col items-center text-sm md:text-base md:font-semibold md:max-w-30 mt-2">
                        <span>Je demande</span>
                        <span>mon crédit</span>
                    </div>
                </a>
                <a class="flex flex-col items-center rounded-2xl border-2 border-primary-700 bg-stone-700/[.7] py-7 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
                    [routerLink]="['./']">
                    <mat-icon class="icon-size-12 md:icon-size-24 text-white" svgIcon="timeline">
                    </mat-icon>
                    <div class="flex flex-col items-center text-sm md:text-base md:font-semibold md:max-w-30 mt-2">
                        <span>Je suis</span>
                        <span>mon crédit</span>
                    </div>
                </a>
            </div>
        </header>

        <div class="md:hidden relative mx-auto w-full max-w-sm max-sm:px-6 py-5 -mt-24">
            <!-- Formulaire recherche xs,sm -->
            <projets-filter [parentComponent]="'landing'"></projets-filter>

            <!-- Parcours xs,sm -->
            <div class="grid grid-cols-4 gap-2 mt-7 sm:py-3">
                <div class="carre flex flex-col items-center cursor-pointer">
                    <span class="flex items-center justify-center w-18 h-18 sm:w-20 sm:h-20 rounded-full border border-primary focus:bg-primary-500"
                        [routerLink]="['/projets-search']">
                        <mat-icon class="icon-size-14 sm:icon-size-16 text-primary-700" svgIcon="property">
                        </mat-icon>
                    </span>
                    <div class="libelle flex flex-col items-center text-xs sm:text-sm font-semibold mt-2">
                        <span>Je trouve</span>
                        <span>mon bien</span>
                    </div>
                </div>
                <div class="carre flex flex-col items-center cursor-pointer">
                    <span class="flex items-center justify-center w-18 h-18 sm:w-20 sm:h-20 rounded-full border border-primary focus:bg-primary-500"
                        [routerLink]="['./']" (click)="scrollTo('simulationId')">
                        <mat-icon class="icon-size-14 sm:icon-size-16 text-primary-700" svgIcon="calculation">
                        </mat-icon>
                    </span>
                    <div class="libelle flex flex-col items-center text-xs sm:text-sm font-semibold mt-2 focus:text-primary">
                        <span>Je simule </span>
                        <span>mon crédit</span>
                    </div>
                </div>
                <div class="carre flex flex-col items-center">
                    <span class="flex items-center justify-center w-18 h-18 sm:w-20 sm:h-20 cursor-pointer rounded-full border border-primary text-primary-700"
                        [routerLink]="['./']">
                        <mat-icon class="icon-size-14 sm:icon-size-16 text-primary-700" svgIcon="survey">
                        </mat-icon>
                    </span>
                    <div class="libelle flex flex-col items-center text-xs sm:text-sm font-semibold mt-2">
                        <span>Je demande</span>
                        <span>mon crédit</span>
                    </div>
                </div>
                <div class="carre flex flex-col items-center cursor-pointer">
                    <span class="flex items-center justify-center w-18 h-18 sm:w-20 sm:h-20 rounded-full border border-primary focus:bg-primary-500"
                        [routerLink]="['./']">
                        <mat-icon class="icon-size-14 sm:icon-size-16 text-primary-700" svgIcon="timeline">
                        </mat-icon>
                    </span>
                    <div class="libelle flex flex-col items-center text-xs sm:text-sm font-semibold mt-2">
                        <span>Je suis</span>
                        <span>mon crédit</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nos avantages -->
        <!-- <div class="flex flex-col items-center w-full bg-card md:bg-primary-500 px-6 sm:px-10">
            <span class="text-center text-3xl uppercase font-bold text-primary md:text-white py-10">
                Vos avantages<br class="sm:hidden" /> de crédit en ligne :
            </span>
            <div class="grid grid-cols-1 gap-y-3 md:flex md:flex-row md:items-center text-primary md:text-white mb-14">
                <div
                    class="flex flex-row items-center max-md:rounded-2xl max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-3">
                    <mat-icon class="icon-size-10 sm:icon-size-12 text-primary md:text-white"
                        [svgIcon]="'mat_solid:money_off'">
                    </mat-icon>
                    <span class="ml-3 text-sm sm:text-xl font-semibold uppercase">Frais de dossier gratuits</span>
                </div>

                <span class="hidden md:block border-white border-l-2 h-16 w-1 mx-10"></span>

                <div
                    class="flex flex-row items-center max-md:rounded-2xl max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-3">
                    <mat-icon class="icon-size-10 sm:icon-size-12 text-primary md:text-white"
                        [svgIcon]="'heroicons_solid:color-swatch'"></mat-icon>
                    <span class="ml-3 text-sm sm:text-xl font-semibold uppercase">Accompagnement personnalisé</span>
                </div>

                <span class="hidden md:block border-white border-l-2 h-16 w-1 mx-10"></span>

                <div
                    class="flex flex-row items-center max-md:rounded-2xl max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-3">
                    <mat-icon class="icon-size-10 sm:icon-size-12 text-primary md:text-white"
                        [svgIcon]="'mat_solid:timelapse'">
                    </mat-icon>
                    <span class="ml-3 text-sm sm:text-xl font-semibold uppercase">Accord de principe immédiat</span>
                </div>
            </div>
        </div> -->

        <!-- Nos avantages -->
        <div class="flex flex-col items-center w-full bg-card md:bg-second-200 px-6">
            <span class="text-center text-2xl md:text-3xl uppercase font-bold max-md:text-primary pt-10 pb-8">
                Vos avantages<br class="sm:hidden" /> de crédit en ligne :
            </span>
            <div class="grid grid-cols-1 gap-y-3 max-md:text-primary md:flex md:flex-row md:items-center mb-14 md:mb-10">
                <div class="flex flex-row items-center max-md:rounded-2xl max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-3">
                    <span class="hidden md:flex items-center justify-center w-14 h-14 rounded bg-primary">
                        <mat-icon class="icon-size-10 text-white" [svgIcon]="'mat_outline:money_off'">
                        </mat-icon>
                    </span>
                    <mat-icon class="md:hidden icon-size-8 text-primary" [svgIcon]="'mat_outline:money_off'">
                    </mat-icon>
                    <span class="ml-3 text-sm font-bold sm:text-xl sm:font-semibold uppercase">
                        Frais de dossier gratuits
                    </span>
                </div>

                <span class="hidden md:block border-black border-l h-16 w-0.5 mx-10"></span>

                <div class="flex flex-row items-center max-md:rounded-2xl max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-3">
                    <span class="hidden md:flex items-center justify-center w-14 h-14 rounded bg-primary">
                        <mat-icon class="icon-size-10 text-white" [svgIcon]="'heroicons_outline:color-swatch'">
                        </mat-icon>
                    </span>
                    <mat-icon class="md:hidden icon-size-8 text-primary" [svgIcon]="'heroicons_solid:color-swatch'">
                    </mat-icon>
                    <span class="ml-3 text-sm font-bold sm:text-xl sm:font-semibold uppercase">
                        Accompagnement personnalisé
                    </span>
                </div>

                <span class="hidden md:block border-black border-l h-16 w-0.5 mx-10"></span>

                <div class="flex flex-row items-center max-md:rounded-2xl max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-3">
                    <span class="hidden md:flex items-center justify-center w-14 h-14 rounded bg-primary">
                        <mat-icon class="icon-size-10 text-white" svgIcon="delivery-time">
                        </mat-icon>
                    </span>
                    <mat-icon class="md:hidden icon-size-8 text-primary" svgIcon="delivery-time">
                    </mat-icon>
                    <span class="ml-3 text-sm font-bold sm:text-xl sm:font-semibold uppercase">Accord de principe
                        immédiat
                    </span>
                </div>
            </div>
        </div>

        <section id="simulationId" class="max-md:flex max-md:flex-col-reverse md:grid grid-cols-5">

            <!-- recherche par ville -->
            <div class="max-md:w-full px-6 sm:max-md:px-16 max-md:py-10 md:col-span-3 md:pl-[7%] md:pr-12 md:pt-18 md:pb-20 bg-card">
                <div class="text-2xl md:text-3xl uppercase font-extrabold tracking-tight leading-tight text-primary mb-10">
                    Trouvez votre bien immobilier de rêve <br class="hidden md:block" />où vous voulez au maroc
                </div>

                <div class="w-full gap-4 sm:gap-6"
                    [ngClass]="{'columns-2 [column-fill:_balance]' : isScreenSmall,
                                'grid grid-cols-10' : !isScreenSmall}">
                    <figure class="town relative overflow-hidden cursor-pointer rounded-xl md:rounded-2xl md:h-64"
                        [routerLink]="['/projets-search']" [fragment]="'projetsId'"
                        [queryParams]="{ ville: 'Casablanca' }" [ngClass]="{'break-inside-avoid mb-4 ' : isScreenSmall,
                                    'col-span-6' : !isScreenSmall}">
                        <div class="z-10 absolute inset-0 bg-black/[.3]"></div>
                        <img class="object-cover h-72 md:h-full" src="assets/images/pages/landing/casablanca.jpg"
                            alt="" />
                        <figcaption class="z-20 absolute inset-0 text-center text-white">
                            <h4 class="mt-3 uppercase font-semibold text-lg md:text-xl tracking-wider">Casablanca</h4>
                            <mat-icon class="absolute inset-0 m-auto icon-size-7 md:icon-size-10 text-white"
                                [ngClass]="{'icone' : !isScreenSmall}" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        </figcaption>
                    </figure>
                    <figure class="town relative overflow-hidden cursor-pointer rounded-xl md:rounded-2xl md:h-64"
                        [routerLink]="['/projets-search']" [fragment]="'projetsId'" [queryParams]="{ ville: 'Rabat' }"
                        [ngClass]="{'break-inside-avoid mb-4' : isScreenSmall,
                                    'col-span-4' : !isScreenSmall}">
                        <div class="z-10 absolute inset-0 bg-black/[.3]"></div>
                        <img class="object-cover h-48 md:h-full" src="assets/images/pages/landing/rabat.jpg" alt="" />
                        <figcaption class="z-20 absolute inset-0 text-center text-white">
                            <h4 class="mt-3 uppercase font-semibold text-lg md:text-xl tracking-wider">Rabat</h4>
                            <mat-icon class="icone absolute inset-0 m-auto icon-size-7 md:icon-size-10 text-white"
                                [ngClass]="{'icone' : !isScreenSmall}" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        </figcaption>
                    </figure>
                    <figure class="town relative overflow-hidden cursor-pointer rounded-xl md:rounded-2xl md:h-64"
                        [routerLink]="['/projets-search']" [fragment]="'projetsId'" [queryParams]="{ ville: 'Tanger' }"
                        [ngClass]="{'break-inside-avoid mb-4' : isScreenSmall,
                                    'col-span-3' : !isScreenSmall}">
                        <div class="z-10 absolute inset-0 bg-black/[.3]"></div>
                        <img class="object-cover h-36 md:h-full" src="assets/images/pages/landing/tanger.jpg" alt="" />
                        <figcaption class="z-20 absolute inset-0 text-center text-white">
                            <h4 class="mt-3 uppercase font-semibold text-lg md:text-xl tracking-wider">Tanger</h4>
                            <mat-icon class="icone absolute inset-0 m-auto icon-size-7 md:icon-size-10 text-white"
                                [ngClass]="{'icone' : !isScreenSmall}" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        </figcaption>
                    </figure>
                    <figure class="town relative overflow-hidden cursor-pointer rounded-xl md:rounded-2xl md:h-64"
                        [routerLink]="['/projets-search']" [fragment]="'projetsId'"
                        [queryParams]="{ ville: 'Marrackech' }" [ngClass]="{'break-inside-avoid mb-4' : isScreenSmall,
                                    'col-span-4' : !isScreenSmall}">
                        <div class="z-10 absolute inset-0 bg-black/[.3]"></div>
                        <img class="object-cover h-48 md:h-full" src="assets/images/pages/landing/marrakech.jpg"
                            alt="" />
                        <figcaption class="z-20 absolute inset-0 text-center text-white">
                            <h4 class="mt-3 uppercase font-semibold text-lg md:text-xl tracking-wider">Marrackech</h4>
                            <mat-icon class="icone absolute inset-0 m-auto icon-size-7 md:icon-size-10 text-white"
                                [ngClass]="{'icone' : !isScreenSmall}" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        </figcaption>
                    </figure>
                    <figure class="town relative overflow-hidden cursor-pointer rounded-xl md:rounded-2xl md:h-64"
                        [routerLink]="['/projets-search']" [fragment]="'projetsId'" [queryParams]="{ ville: 'Agadir' }"
                        [ngClass]="{'break-inside-avoid mb-4' : isScreenSmall,
                                    'col-span-3' : !isScreenSmall}">
                        <div class="z-10 absolute inset-0 bg-black/[.3]"></div>
                        <img class="object-cover h-36 md:h-full" src="assets/images/pages/landing/agadir.jpg" alt="" />
                        <figcaption class="z-20 absolute inset-0 text-center text-white">
                            <h4 class="mt-3 uppercase font-semibold text-lg md:text-xl tracking-wider">Agadir</h4>
                            <mat-icon class="icone absolute inset-0 m-auto icon-size-7 md:icon-size-10 text-white"
                                [ngClass]="{'icone' : !isScreenSmall}" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <!-- simulation -->
            <div class="max-md:w-full px-6 sm:max-md:px-16 max-md:py-10 md:col-span-2 md:pl-12 md:pr-[7%] md:pt-18 md:pb-20"
                [ngClass]="{'bg-simul': isScreenSmall}">
                <div class="p-5 sm:p-10 shadow-lg rounded-2xl bg-card">
                    <simulation [isScreenSmall]="isScreenSmall"></simulation>
                </div>
            </div>

        </section>

        <nous-choisir></nous-choisir>
        <cinq-etapes></cinq-etapes>
        <actualites [isScreenSmall]="isScreenSmall"></actualites>
        <contactez-nous></contactez-nous>

    </div>

</ng-container>