// parcours
.carre:focus-within>span {
    background: var(--fuse-primary);
}

.carre:focus-within .libelle {
    color: var(--fuse-primary);
}

.carre:focus-within>span>mat-icon {
    color: white !important;
}

// recherche bien par ville
figure.town * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
figure.town {
    background: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.town img {
    opacity: 1;
}
figure.town .icone {
    opacity: 0;
}

figure.town:hover img {
    opacity: 0.6;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
figure.town:hover figcaption {
    background-color: rgba(0, 0, 0, 0.4);
}
figure.town:hover figcaption .icone {
    opacity: 1;
}

