// css simulation
.bg-simul {
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('/assets/images/pages/landing/bg-simul.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.landing-bg-header {
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('/assets/images/pages/landing/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-position-y: 1rem;
    background-size: cover;
}
@media (max-width: 959px) {
    .landing-bg-header {
        background-position-y: 0rem;
    }
}