// css simulation
.bg-simul {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('/assets/images/pages/landing/bg-simul.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.landing-bg-header {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/assets/images/pages/landing/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: calc(100vh - 5rem);
}
