<ng-container *transloco="let t">

    <div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRightBis]="{value:'', params: {duration: 700}}">

        <div class="fixed flex items-center justify-center right-2 bottom-16 w-13 h-13 sm:w-16 sm:h-16 shadow-xl rounded-l-lg z-90 cursor-pointer print:hidden transition-transform duration-150 ease-in-out hover:-translate-y-1 hover:scale-[1.03]">
            <img class="rounded-l-lg opacity-60 hover:opacity-100" src="assets/images/wimo.jpg">
        </div>

        <div class="fixed flex items-center justify-center left-0 bottom-16 w-13 h-13 sm:w-24 sm:h-24 shadow-xl rounded-r-lg z-90 cursor-pointer print:hidden transition-transform duration-150 ease-in-out hover:-translate-y-1 hover:scale-[1.03]">
            <a href="https://www.attijariwafabank.com/fr/profil/mre/ouvrir-un-compte-bancaire-en-ligne" target="blank">
                <img class="rounded-r-lg opacity-60 hover:opacity-100" src="assets/images/open-awb.jpg">
            </a>
        </div>

        <!-- Header -->
        <header class="relative w-full flex flex-col items-center justify-center md:justify-end min-h-[45vh] sm:min-h-[92vh] landing-bg-header md:bg-fixed">

            <div class="relative w-full max-w-6xl flex flex-row justify-center  md:items-end md:justify-between">
                <!-- Titre -->
                <div class="md:w-1/2 text-white max-md:mt-12 md:mb-10">
                    <div class="text-2xl md:text-4xl font-extrabold uppercase tracking-tight leading-tight">
                        {{t('header1')}}<br />
                        {{t('header2')}}
                    </div>

                    <div class="hidden md:block max-w-lg text-xl mt-2">
                        {{t('underheader')}}
                    </div>
                </div>

                <!-- Formulaire recherche md -->
                <div class="hidden md:block w-1/2 max-w-md">
                    <projets-filter [parentComponent]="'landing'"></projets-filter>
                </div>
            </div>

            <!-- Parcours md -->
            <parcours [inputMethod]="this.scrollToSimulation.bind(this)"></parcours>

        </header>

        <!-- Formulaire recherche xs,sm et Parcours xs,sm -->
        <div class="md:hidden relative w-full p-5 -mt-20 sm:max-w-md sm:mx-auto">
            
            <projets-filter [parentComponent]="'landing'"></projets-filter>

            <div class="mx-auto w-fit grid grid-cols-4 gap-2 mt-7 sm:py-3">
                <div class="carre flex flex-col items-center cursor-pointer">
                    <span class="flex items-center justify-center w-18 h-18 sm:w-20 sm:h-20 rounded-full border border-primary focus:bg-primary-500"
                        [routerLink]="['/projets-search']">
                        <mat-icon class="icon-size-14 sm:icon-size-16 text-primary-700" svgIcon="property">
                        </mat-icon>
                    </span>
                    <div class="libelle flex flex-col items-center text-xs sm:text-sm font-semibold mt-2">
                        <span>Je trouve</span>
                        <span>mon bien</span>
                    </div>
                </div>
                <div class="carre flex flex-col items-center cursor-pointer">
                    <span class="flex items-center justify-center w-18 h-18 sm:w-20 sm:h-20 rounded-full border border-primary focus:bg-primary-500"
                        [routerLink]="['./']"
                        (click)="scrollToSimulation()">
                        <mat-icon class="icon-size-14 sm:icon-size-16 text-primary-700" svgIcon="calculation">
                        </mat-icon>
                    </span>
                    <div class="libelle flex flex-col items-center text-xs sm:text-sm font-semibold mt-2 focus:text-primary">
                        <span>Je simule </span>
                        <span>mon crédit</span>
                    </div>
                </div>
                <div class="carre flex flex-col items-center">
                    <span class="flex items-center justify-center w-18 h-18 sm:w-20 sm:h-20 cursor-pointer rounded-full border border-primary text-primary-700"
                        [routerLink]="['/espace-connecte/simulation-detaillee']">
                        <mat-icon class="icon-size-14 sm:icon-size-16 text-primary-700" svgIcon="survey">
                        </mat-icon>
                    </span>
                    <div class="libelle flex flex-col items-center text-xs sm:text-sm font-semibold mt-2">
                        <span>Je demande</span>
                        <span>mon crédit</span>
                    </div>
                </div>
                <div class="carre flex flex-col items-center cursor-pointer">
                    <span class="flex items-center justify-center w-18 h-18 sm:w-20 sm:h-20 rounded-full border border-primary focus:bg-primary-500"
                        [routerLink]="['./']">
                        <mat-icon class="icon-size-14 sm:icon-size-16 text-primary-700" svgIcon="timeline">
                        </mat-icon>
                    </span>
                    <div class="libelle flex flex-col items-center text-xs sm:text-sm font-semibold mt-2">
                        <span>Je suis</span>
                        <span>mon crédit</span>
                    </div>
                </div>
            </div>
        </div>

        <vos-avantages></vos-avantages>

        <section id="simulationId" #simulationId class="md:px-16 md:pt-18 md:pb-20">

            <div class="w-full max-w-400 mx-auto max-md:flex max-md:flex-col-reverse md:grid grid-cols-5">
                <!-- recherche par ville -->
                <div class="max-md:w-full max-sm:px-5 sm:max-md:px-16 max-md:py-10 md:col-span-3 md:pr-7">
                    <recherche-ville [isScreenSmall]="isScreenSmall"></recherche-ville>
                </div>

                <!-- simulation -->
                <div class="max-md:w-full max-sm:px-5 sm:max-md:px-16 max-md:py-10 md:col-span-2 md:pl-7"
                    [ngClass]="{'bg-simul': isScreenSmall}">
                    <div class="p-5 sm:p-10 shadow-lg rounded-2xl bg-card">
                        <simulation [isScreenSmall]="isScreenSmall"></simulation>
                    </div>
                </div>
            </div>

        </section>

        <nous-choisir></nous-choisir>
        <cinq-etapes></cinq-etapes>
        <actualites [isScreenSmall]="isScreenSmall"></actualites>
        <contactez-nous></contactez-nous>

    </div>

</ng-container>