<div class="flex flex-col flex-auto h-full dark:bg-default">

    <!-- Header -->
    <div class="flex flex-0 items-center h-18 px-4 border-b bg-gray-50 dark:bg-transparent">
        <button class="lg:hidden" mat-icon-button (click)="drawer.close()">
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
        <div class="ml-2 text-lg font-medium">Localisation</div>
    </div>

    <!-- Content -->
    <ng-container *ngIf="markerPositions && markerPositions.length > 0; else startNewSearch">
        <div class="flex-auto">
            <!-- <div>
                <div>Latitude: {{display?.lat}}</div>
                <div>Longitude: {{display?.lng}}</div>
            </div> -->
            <!-- (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)" -->
            <!-- [center]="center"
            [zoom]="zoom" -->
            <google-map 
                height="100%"
                width="100%"
                [options]="mapOptions">
                <map-marker *ngFor="let markerPosition of markerPositions"
                    [position]="markerPosition"
                    [options]="markerOptions"></map-marker>
            </google-map>

        </div>
    </ng-container>

    <!-- No result template -->
    <ng-template #startNewSearch>
        <div class="flex flex-col flex-auto items-center justify-center bg-second-100 dark:bg-transparent">
            <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">
                Effectuer une nouvelle
            </div>
        </div>
    </ng-template>

</div>
