.nos-offres-miftah-bg-header {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/images/pages/nos-offres-miftah/header miftah desktop.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.nos-offres-miftah-bg-header-sm {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/images/pages/nos-offres-miftah/Vis_1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.text-orange {
    color: rgb(238, 125, 33);
}

.orange-circle {
    background-color: orange;
  }

  .selected {
    border: 2px solid blue;
  }


  @media (max-width: 767px) {
    .mobile-full-width {
      width: 100%;
    }
  }

  .btn-style {
    width: 200px;
    height: 50px;
  }
  

  