<div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}">

  <!-- Header -->
  <page-header
    [headerStyle]="'nos-lettre-bg-header'"
    [headerLibelle]="'S’informer en un seul clic !'"
    [subHeaderLibelle]="'La lettre Wafa Immobilier vous facilite d’avoir toutes les actualités de l’immobilier !\n\nDécouvrez dans chaque numéro, toutes les nouveautés du secteur, ses chiffres clés, des dossiers immobiliers et bien plus encore.'"
    [hideSubHeaderSmallScreen]="'true'"
    [textColor]="'text-white'">
  </page-header>

  <section class="md:hidden px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20 bg-gray-200">
    <div class="text-lg">
      La lettre Wafa Immobilier vous facilite d’avoir toutes les actualités de l’immobilier !
    </div>

    <div class="text-lg mt-3">
      Découvrez dans chaque numéro, toutes les nouveautés du secteur, ses chiffres clés, des dossiers immobiliers et bien plus encore.
    </div>
  </section>

  <section class="py-10 sm:pt-18 sm:pb-20 min-h-160">
    <ng-container *ngFor="let lettre of lettres; let even = even; trackBy:">
      <div class="grid grid-cols-1 w-full py-3 border-b" [ngClass]="{'even-bg': even, 'odd-bg': !even}">

        <div class="px-5 sm:px-16">
          <div class="w-full max-w-400 mx-auto flex flex-row items-center">
            <span class="flex items-center justify-center w-12 h-12 rounded-full cursor-pointer"
              (click)="telechargerLettre(lettre.id)">
              <mat-icon class="icon-size-10 text-primary" svgIcon="pdf">
              </mat-icon>
            </span>
            <!-- Name -->
            <div class="ml-5 md:ml-10 flex flex-col">
              <span class="text-l font-bold">{{ lettre.titre }}</span>
              <span>{{ lettre.periode }}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </section>

  <contactez-nous [isScreenSmall]="isScreenSmall"></contactez-nous>


</div>