.nos-lettre-bg-header {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .3)), url('/assets/images/pages/lettre/Bannièrelettre.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.etat-financier-bg-body{
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/images/pages/nous-connaitre-old/backgd.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.text-orange {
    color: rgb(238, 125, 33);
}

.orange-circle {
    background-color: orange;
  }

  .selected {
    border: 2px solid blue;
  }


  @media (max-width: 767px) {
    .mobile-full-width {
      width: 100%;
    }
  }

  
  .even-bg {
    background-color: #F2F2F2; /* Couleur de fond pour les éléments pairs */
  }
  
  .odd-bg {
    background-color: #EAEAEA; /* Couleur de fond pour les éléments impairs */
  }
  