<div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}">

  <!-- Header -->
  <header class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20 w-full min-h-76 nos-lettre-bg-header">
    <div class="w-full max-w-400 mx-auto flex flex-col items-start justify-center">
      <div class="max-w-xl text-2xl md:text-4xl font-bold uppercase tracking-tight leading-tight text-white">
        S’informer en un seul clic !
      </div>

      <div class="max-w-xl md:block text-xl text-white mt-3">
        La lettre wafa immobilier vous facilite d’avoir toutes les actualités de l’immobilier !
      </div>

      <div class="max-w-xl md:block text-xl text-white mt-3">
        Découvrez dans chaque numéro, toutes les nouveautés du secteur, ses chiffres clés, des dossiers immobiliers et
        bien plus encore.
      </div>
    </div>
  </header>

  <section class="py-10 sm:pt-18 sm:pb-20 min-h-160">
    <ng-container *ngFor="let lettre of lettres; let even = even; trackBy:">
      <div class="grid grid-cols-1 w-full py-3 border-b" [ngClass]="{'even-bg': even, 'odd-bg': !even}">

        <div class="px-5 sm:px-16">
          <div class="w-full max-w-400 mx-auto flex flex-row items-center">
            <span class="flex items-center justify-center w-12 h-12 rounded-full cursor-pointer"
              (click)="telechargerLettre(lettre.id)">
              <mat-icon class="icon-size-10 text-primary" svgIcon="pdf">
              </mat-icon>
            </span>
            <!-- Name -->
            <div class="ml-5 md:ml-10 flex flex-col">
              <span class="text-l font-bold">{{ lettre.titre }}</span>
              <span>{{ lettre.periode }}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </section>

  <contactez-nous [isScreenSmall]="isScreenSmall"></contactez-nous>


</div>