<!-- <div class="flex flex-auto min-w-0 overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}"> -->
<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    [@fadeInRight]="{value:'', params: {duration: 700}}"
    cdkScrollable>

    <!-- <div class="videoContainer">
        <iframe
            src="http://www.youtube.com/embed/KgypC6gVlPY?controls=0&autoplay=1&mute=1&loop=1&modestbranding=1&fs=0&rel=0&showinfo=0&disablekb=1&playlist=KgypC6gVlPY"
            frameborder="0">
        </iframe>
    </div> -->

    <div class="video-background">
        <div class="hidden md:block video-foreground">
            <div class="overlay"></div>
            <iframe
                src="http://www.youtube.com/embed/KgypC6gVlPY?controls=0&autoplay=1&mute=1&loop=1&modestbranding=1&fs=0&rel=0&showinfo=0&disablekb=1&playlist=KgypC6gVlPY"
                frameborder="0">
            </iframe>
        </div>

        <div class="z-20 relative flex flex-col justify-center items-center min-h-screen p-6 max-md:bg-black/[.7]">
            <div class="w-full max-w-400 mx-auto">
                <div class="max-w-xl">
                    <img class="object-cover w-fit h-32 sm:h-44" src="assets/images/pages/landing/dar.png" alt="" />
                    <div class="flex flex-row mt-5 md:mt-7">
                        <button mat-flat-button [color]="'primary'" [routerLink]="['./']">
                            Regardez maintenant
                        </button>
                        <button class="ml-2" mat-flat-button [color]="'white'" [routerLink]="['./']">
                            Tous les épisodes
                        </button>
                    </div>
                </div>

                <div class="flex-auto max-w-3xl mt-5 prose prose-sm text-white leading-tight">
                    <p>
                        <span class="font-bold uppercase">Une série web</span> de capsules didactiques pour informer et
                        vulgariser le crédit immobilier.
                    </p>
                    <p class="max-w-2xl">
                        Conseils et orientation pratiques pour vous aider à concrétiser votre projet immobilier et accéder à
                        votre logement
                    </p>
                </div>

                <div class="flex items-center mt-10 text-white">
                    <span class="uppercase font-bold">épisodes populaires</span>
                    <button 
                        mat-stroked-button
                        class="ml-auto mr-1 bg-default bg-opacity-70"
                        type="button"
                        [color]="'primary'">
                        Tout voir
                    </button>
                </div>

                <div class="flex flex-col max-md:space-y-5 md:flex-row md:space-x-16 items-center justify-between mt-5 md:mt-7">
                    <div class="relative">
                        <div class="z-10 absolute inset-0 bg-black/[.3] rounded-2xl"></div>
                        <img class="object-cover w-100 rounded-2xl" src="https://img.youtube.com/vi/LBt9_TpFKdc/hq1.jpg">
                        <div class="z-20 absolute inset-x-0 bottom-10 mx-auto w-11/12 h-14 rounded-lg bg-white/[.2] flex items-center">
                            <span class="pl-2 text-lg text-white font-bold uppercase">épisode 1</span>
                            <div class="flex items-center justify-center rounded-full cursor-pointer ml-auto mr-2">
                                <mat-icon class="icon-size-10 text-white" [svgIcon]="'mat_outline:play_circle'">
                                </mat-icon>
                            </div>
                        </div>
                    </div>

                    <div class="relative">
                        <div class="z-10 absolute inset-0 bg-black/[.3] rounded-2xl"></div>
                        <img class="object-cover w-100 rounded-2xl" src="https://img.youtube.com/vi/bWhSSgxXQJk/hq1.jpg">
                        <div class="z-20 absolute inset-x-0 bottom-10 mx-auto w-11/12 h-14 rounded-lg bg-white/[.2] flex items-center">
                            <span class="pl-2 text-lg text-white font-bold uppercase">épisode 2</span>
                            <div class="flex items-center justify-center rounded-full cursor-pointer ml-auto mr-2">
                                <mat-icon class="icon-size-10 text-white" [svgIcon]="'mat_outline:play_circle'">
                                </mat-icon>
                            </div>
                        </div>
                    </div>

                    <div class="relative">
                        <div class="z-10 absolute inset-0 bg-black/[.3] rounded-2xl"></div>
                        <img class="object-cover w-100 rounded-2xl" src="https://img.youtube.com/vi/HzDA0lrec5c/hq3.jpg" />
                        <div class="z-20 absolute inset-x-0 bottom-10 mx-auto w-11/12 h-14 rounded-lg bg-white/[.2] flex items-center">
                            <span class="pl-2 text-lg text-white font-bold uppercase">épisode 3</span>
                            <div class="flex items-center justify-center rounded-full cursor-pointer ml-auto mr-2">
                                <mat-icon class="icon-size-10 text-white" [svgIcon]="'mat_outline:play_circle'">
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="video-container">
        <div class="overlay"></div>
        <iframe class="hidden md:block"
            src="http://www.youtube.com/embed/KgypC6gVlPY?controls=0&autoplay=1&mute=1&modestbranding=1&fs=0&rel=0&showinfo=0&disablekb=1&playlist=KgypC6gVlPY"
            frameborder="0">
        </iframe>

        <div class="relative z-10 p-6 sm:p-16">
            <div class="w-full max-w-360 mx-auto">

                CONTENT HERE
                
            </div>
        </div>
    </div> -->

    <!-- <div class="z-99 absolute flex flex-col items-center w-full min-h-[70vh]">
        <div class="relative flex flex-col items-center bg-primary-300 w-full min-h-screen">
            <div class="absolute left-0 top-0 h-full">
                <div class="absolute object-cover inset-0">
                    <video autoplay muted loop class="absolute inset-0 w-full ">
                        <source [src]="videoUrl" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div> -->


    <!-- <swiper 
        [effect]="'coverflow'"
        [grabCursor]="true"
        [centeredSlides]="true"
        [slidesPerView]="'auto'"
        [spaceBetween]="50"
        [coverflowEffect]="{
                            rotate: 50,
                            stretch: 0,
                            depth: 100,
                            modifier: 1,
                            slideShadows: true
                        }"
        [pagination]="{
                        clickable: true
                    }"
        [navigation]="true"
        class="mySwiper">
        <ng-template swiperSlide>
            <div class="z-10 absolute inset-0 bg-black/[.3] rounded-2xl"></div>
            <div class="absolute inset-0">
                <img class="object-cover rounded-2xl" src="https://img.youtube.com/vi/LBt9_TpFKdc/hq1.jpg">
            </div>
            <div class="z-20 relative h-full flex flex-col justify-end p-3">
                <div class="pl-2 rounded-lg text-white font-bold uppercase flex items-center font-bold h-14 bg-white/[.3] ">
                    <span class="z-30">épisode 1</span>
                </div>
            </div>

            <video crossorigin playsinline 
                poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
                <source src="https://www.youtube.com/watch?v=LBt9_TpFKdc"
                size="100">
            </video>

            <div class="video-container1">
                <iframe src="https://www.youtube.com/embed/LBt9_TpFKdc?controls=0&playsinline=1"></iframe>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <img class="rounded-2xl" src="https://img.youtube.com/vi/bWhSSgxXQJk/hq1.jpg" />
            <div class="video-container1">
                <iframe src="https://www.youtube.com/embed/bWhSSgxXQJk?controls=0&playsinline=1"></iframe>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <img class="rounded-2xl" src="https://img.youtube.com/vi/HzDA0lrec5c/hq3.jpg" />
            <div class="video-container1">
                <iframe src="https://www.youtube.com/embed/HzDA0lrec5c?controls=0&playsinline=1"></iframe>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <img class="rounded-2xl" src="https://img.youtube.com/vi/Gos8g8LkDIY/hq2.jpg" />
            <div class="video-container1">
                <iframe src="https://www.youtube.com/embed/Gos8g8LkDIY?controls=0&playsinline=1"></iframe>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <img class="rounded-2xl" src="https://img.youtube.com/vi/UWSmJWi4xTk/hq2.jpg" />
            <div class="video-container1">
                <iframe src="https://www.youtube.com/embed/UWSmJWi4xTk?controls=0&playsinline=1"></iframe>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <img class="rounded-2xl" src="https://img.youtube.com/vi/4MfHep4XOWE/hq1.jpg" />
            <div class="video-container1">
                <iframe src="https://www.youtube.com/embed/4MfHep4XOWE?controls=0&playsinline=1"></iframe>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <img class="rounded-2xl" src="https://img.youtube.com/vi/rpYstezmTkI/hq1.jpg" />
            <div class="video-container1">
                <iframe src="https://www.youtube.com/embed/rpYstezmTkI?controls=0&playsinline=1"></iframe>
            </div>
        </ng-template>
    </swiper> -->

</div>