// tailwind [transition:transform_0.3s,shadow_0.2s]
.translatetop {
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    // autre
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    // transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.translatetop:hover {
    box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    // autre
    // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    // transform: translateY(-0.75rem); //translateY(-30px);
}

//**************************************************************************************
// cinq étapes
//**************************************************************************************
.anim {
    opacity: 0;
}

@keyframes anim-bottom {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes anim-top {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



//**************************************************************************************
// Pourquoi nous choisir swiper
//**************************************************************************************
// .custom-swiper-landing {

//     .swiper-pagination-bullet {
//         width: 1rem;
//         height: 1rem;
//         margin: 0 0.5rem !important;
//         background: white;
//         opacity: .5;
//     }

//     .swiper-pagination-bullet:hover {
//         opacity: .6;
//     }

//     .swiper-pagination-bullet-active {
//         opacity: 1;
//         background: var(--fuse-primary);
//     }

// }


//**************************************************************************************
// Pourquoi nous choisir angular-carousel
//**************************************************************************************
.custom-carous-landing .carousel__container {

    .carousel__slider {

        .carousel__previous,
        .carousel__next {
            display: none;
        }

    }

    .carousel__bullets {

        .carousel__bullet {
            // dots
            width: 1rem;
            height: 1rem;
        }

    }

    .carousel__bullets>li {
        padding: 0.5rem;
    }

}

//**************************************************************************************
// Pourquoi nous choisir FZ
//**************************************************************************************
.u-palette-1-dark-3 {
    background-color: #4d4f50 !important;
}

.u-section-2 {
    --theme-sheet-width-xl: 1140px;
    --theme-sheet-width-lg: 940px;
    --theme-sheet-width-md: 720px;
    --theme-sheet-width-sm: 540px;
    --theme-sheet-width-xs: 340px;
    position: relative;
    display: block;
    background-image: none;
    width: 100%;
}

.u-section-2 .u-sheet {
    min-height: 890px;
    position: relative;
    margin: 0 auto;
    width: var(--theme-sheet-width-xl) !important;
}

// @media (min-width: 1200px) {
//     .u-sheet {
//         width: var(--theme-sheet-width-xl) !important;
//     }
// }
// @media (min-width: 992px) and (max-width: 1199px) {
//     .u-sheet {
//         width: var(--theme-sheet-width-lg) !important;
//     }
// }
// @media (min-width: 768px) and (max-width: 991px) {
//     .u-sheet {
//         width: var(--theme-sheet-width-md) !important;
//     }
// }
// @media (min-width: 576px) and (max-width: 767px) {
//     .u-sheet {
//         width: var(--theme-sheet-width-sm) !important;
//     }
// }
// @media (max-width: 575px) {
//     .u-sheet {
//         width: var(--theme-sheet-width-xs) !important;
//     }
// }

.u-sheet>* {
    position: relative;
}

.u-sheet:not(.u-image) {
    pointer-events: none;
}

.u-sheet:not(.u-image)>* {
    pointer-events: auto;
    pointer-events: initial;
}

.u-section-2 .u-shape-1 {
    width: 444px;
    height: 467px;
    margin: 40px auto 0 -7px;
}

.u-section-2 .u-shape-2 {
    width: 626px;
    height: 448px;
    margin: -112px auto 0 522px;
}

.u-valign-middle {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}

.u-section-2 .u-container-layout-text {
    padding: 20px
}

.u-section-2 .u-layout-wrap-1 {
    width: 1029px;
    margin: -758px auto 0;
    background-color: white;
}

.u-section-2 .u-image-1 {
    min-height: 421px;
    background-image: url('/assets/images/pages/landingBis/digital.jpg');
    background-position: 50% 50%
}

.u-section-2 .u-layout-cell-2 {
    min-height: 269px;
}

.u-section-2 .u-text-1 {
    font-size: 8rem;
}

.u-section-2 .u-text-2 {
    font-size: 1.25rem;
}

.u-section-2 .u-text-3 {
    font-size: 1rem;
}

.u-section-2 .u-layout-cell-3 {
    min-height: 273px;
}

.u-section-2 .u-image-2 {
    min-height: 417px;
    background-image: url('/assets/images/pages/landingBis/expert.jpg');
    background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
    min-height: 359px;
    background-image: url('/assets/images/pages/landingBis/convention.jpg');
    background-position: 50% 50%
}

.u-section-2 .u-layout-cell-6 {
    min-height: 331px;
}



@media (max-width: 1199px) {
    .u-section-2 .u-sheet {
        min-height: 810px;
        width : 83% !important;
    }

    .u-section-2 .u-shape-1 {
        width: 437px;
        height: 454px;
        margin-left: 0;
    }

    .u-section-2 .u-shape-2 {
        width: 503px;
        height: 337px;
        margin-top: -50px;
        margin-right: 0;
        margin-left: auto;
    }

    .u-section-2 .u-layout-wrap-1 {
        width: 90%;
        margin-top: -695px;
        // background-color: aqua;
    }

    .u-section-2 .u-text-1 {
        font-size: 6rem;
    }

    .u-section-2 .u-text-3 {
        font-size: 0.875rem;
    }

    .u-section-2 .u-image-1 {
        min-height: 366px;
    }

    .u-section-2 .u-layout-cell-2 {
        min-height: 234px;
    }

    .u-section-2 .u-layout-cell-3 {
        min-height: 237px;
    }

    .u-section-2 .u-image-2 {
        min-height: 363px;
    }

    .u-section-2 .u-image-3 {
        min-height: 312px;
    }

    .u-section-2 .u-layout-cell-6 {
        min-height: 288px;
    }

}

@media (max-width: 991px) {
    .u-section-2 .u-sheet {
        min-height: 790px;
    }

    .u-section-2 .u-shape-1 {
        margin-right: 312px;
    }

    .u-section-2 .u-shape-2 {
        width: 448px;
        height: 255px;
        margin-top: 10px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-top: -673px;
        // background-color: pink;
    }

    .u-section-2 .u-text-1 {
        font-size: 5rem;
    }

    .u-section-2 .u-text-2 {
        font-size: 1rem;
    }

}

@media (max-width: 767px) {
    .u-section-2 .u-sheet {
        min-height: 2295px;
    }

    .u-section-2 .u-shape-1 {
        height: 434px;
        margin-right: auto;
        margin-left: -12px;
    }

    .u-section-2 .u-shape-2 {
        margin-top: 1552px;
        margin-right: -15px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-top: -2160px;
        // background-color: green;
    }

    .u-section-2 .u-layout-cell-3 {
        order: 1
    }

    .u-section-2 .u-text-1 {
        font-size: 8rem;
    }
    
    .u-section-2 .u-text-2 {
        font-size: 1.25rem;
    }
    
    .u-section-2 .u-text-3 {
        font-size: 1rem;
    }

    .u-section-2 .u-image-1 {
        min-height: 475px;
    }

    .u-section-2 .u-image-2 {
        min-height: 472px;
        order: 0
    }

    .u-section-2 .u-image-3 {
        min-height: 407px;
    }

    .u-section-2 .u-layout-cell-1{
        min-height: 235px;
    }
    .u-section-2 .u-layout-cell-3{
        min-height: 253px;
    }
    .u-section-2 .u-layout-cell-6 {
        min-height: 267px;
    }

}

@media (max-width: 575px) {
    .u-section-2 .u-sheet {
        min-height: 2175px;
    }

    .u-section-2 .u-shape-1 {
        width: 315px;
        max-width: 100%;
        margin-left: -25px;
    }

    .u-section-2 .u-shape-2 {
        width: 315px;
        max-width: 100%;
        height: 302px;
        margin-top: 1393px;
        margin-right: -20px;
    }

    .u-section-2 .u-layout-wrap-1 {
        margin-top: -2055px;
        width: 100%;
        // background-color: purple;
    }

    .u-section-2 .u-text-1 {
        font-size: 6rem;
    }

    .u-section-2 .u-layout-cell-1{
        min-height: 234px;
    }
    .u-section-2 .u-layout-cell-3{
        min-height: 276px;
    }
    .u-section-2 .u-layout-cell-6 {
        min-height: 300px;
    }

    .u-section-2 .u-image-1 {
        min-height: 421px;
    }

    .u-section-2 .u-image-2 {
        min-height: 417px;
    }

    .u-section-2 .u-image-3 {
        min-height: 359px;
    }

}

// svg
.u-shape {
    position: relative;
}

.u-shape-svg.u-shape-svg.u-shape-svg,
.u-shape-svg.u-shape-svg.u-shape-svg:hover {
    border: none !important;
    color: transparent;
}

.u-shape-svg .u-svg-link {
    transition-duration: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.u-svg-link {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.u-svg-content {
    width: 0;
    height: 0;
}

.u-text-palette-2-base {
    // color: #f04a0e !important;
    color: var(--fuse-primary);
}

.u-text-palette-2-base .u-svg-link {
    // fill: #f04a0e;
    fill: var(--fuse-primary);
}


// tableau
.u-layout-col,
.u-layout-row,
.u-layout-col>* {
    display: flex;
}

.u-layout-col,
.u-layout-row {
    flex: 1 1 100%;
}

.u-layout-row>* {
    max-height: 100%;
    min-height: -webkit-fit-content;
    min-height: fit-content;
}

@media (max-width: 767px) {
    .u-layout-row>* {
        min-width: 100%;
    }
}

.u-layout-col>* {
    min-height: -webkit-fit-content;
    min-height: fit-content;
    max-width: 100%;
}

.u-layout-col {
    flex-direction: column;
    min-height: 100%;
}

.u-layout-row {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
    max-width: 100%;
}

.u-layout-row>.u-size-20 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}

.u-layout-col>.u-size-20 {
    flex: 20 0 33.33333333%;
}

.u-layout-col>.u-size-40 {
    flex: 40 0 66.66666667%;
}

.u-layout-cell {
    border: 0px solid transparent;
    background-color: transparent !important;
    opacity: 1;
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
}

.u-layout-cell:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.u-image {
    object-fit: cover;
    height: 100%;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: visible;
}




























// not used
.mbr-gallery-item {
    position: relative;
    // display: inline-block;
    // width: 100%;
    cursor: pointer;
}
.mbr-gallery-title {
    font-size: .9em;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    color: #fff;
    background: linear-gradient(to left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
    -webkit-transition: 0.2s background ease-in-out;
    transition: 0.2s background ease-in-out;
}
.icon-focus {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    // font-family: 'MobiriseIcons' !important;
    // font-size: 3rem !important;
    background-color: #fff;
    opacity: 0;
    transition: .2s opacity ease-in-out;
    z-index: 5;
}

.mbr-gallery-item>div:hover .icon-focus {
    opacity: 1;
}

.mbr-gallery-item img {
    opacity: 1;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
}

.mbr-gallery-item>div:hover img {
    opacity: 1;
}

.mbr-gallery-item>div {
    position: relative;
    display: block;
    outline: none;
    background: #fff;
}

.mbr-gallery-item .mbr-icone {
    opacity: 0;
    transition: .2s opacity ease-in-out;
    -webkit-transition: .2s opacity ease-in-out;
}

.mbr-gallery-item>div:hover .mbr-icone {
    opacity: 1;
}

.mbr-gallery-item>div:hover::before {
    opacity: .9;
}

.mbr-gallery-item>div:hover .mbr-gallery-title {
    background: transparent !important;
}

.mbr-gallery-item>div::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #554346, #45505b) !important;
    opacity: 0;
    -webkit-transition: 0.2s opacity ease-in-out;
    transition: 0.2s opacity ease-in-out;
}




// .cards {
//   align-items: center;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   margin: 0.5rem 0.5rem 2.5rem;
//   min-height: 30vh;
// }

// .card {
//   align-items: center;
//   background-color: #f5f7f9;
//   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
//   display: flex;
//   flex: 0 0 13.5rem;
//   flex-direction: column;
//   margin: 0.5rem;
//   padding: 0.5rem;
//   position: relative;
// }

// .card__title {
//   font-size: 1.5rem;
//   font-weight: 300;
//   margin: 0 0 0.5rem;
//   text-align: center;
// }

// .card__image {
//   height: 200px;
//   margin-bottom: 0.5rem;
//   overflow: hidden;
//   width: 100%;
// }

// .card__image img {
//   object-fit: cover;
//   overflow: hidden;
//   /* transition duration is less than the one on hover */
//   /* so img returns faster to its original position */
//   transition: transform 500ms ease-in-out;
//   width: 100%;
// }

// .card__image:hover img {
//   transform: translateY(calc(-100% + 200px));
//   transition: transform 1s ease-in-out;
// }



// .one{
//   width: 100%;
//   background-color: black;
//   white-space: nowrap;
//   overflow: hidden;
//   box-sizing: border-box;
// }
// .two{
//   display: inline-block;
//   color: #FFF;
//   padding-left: 100%;
//   animation: move 25s linear infinite;
// }
// @keyframes move {
//   0%   { transform: translate(0, 0); }
//   100% { transform: translate(-100%, 0); }
// }