<!-- <div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRightBis]> -->
<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto scroll-smooth" [@fadeInRightBis]
    cdkScrollable>

    <!-- Header -->
    <header class="flex flex-col items-center justify-center px-6 sm:px-16 md:pt-20 w-full min-h-[50vh] sm:min-h-[77vh] md:min-h-[95vh] projets-bg-header md:bg-fixed">
        <div class="w-full max-w-400">
            <div class="text-2xl md:text-4xl font-bold uppercase tracking-tight leading-tight text-white">
                Wafa immobilier vous<br />
                accompagne dans la recherche<br />
                et le financement de votre<br />
                bien immobilier
            </div>

            <div class="hidden md:block text-3xl text-white mt-3">
                Plus de 1000 biens immobiliers à découvrir<br />sur notre plateforme aujourd'hui
            </div>
        </div>
    </header>

    <div class="relative w-full md:max-w-400 mx-auto max-w-sm px-6 py-5 max-md:-mt-20">
        <projets-filter [parentComponent]="'projets-search'"></projets-filter>
    </div>

    <div id="projetsId" class="flex flex-col items-center sm:px-20 md:px-6 md:py-3 min-h-screen w-full">
        <div class="relative flex flex-auto w-full max-w-400">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>