<div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRightBis]="{value:'', params: {duration: 700}}">
<!-- <div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto scroll-smooth" [@fadeInRightBis] cdkScrollable> -->

    <!-- Header -->
    <header class="flex flex-col items-center justify-center px-5 sm:px-16 w-full min-h-[45vh] md:min-h-[35vh] projets-bg-header md:bg-fixed">
        <div class="w-full max-w-400">
            <div class="max-w-xl text-2xl md:text-3xl font-bold uppercase tracking-tight leading-tight text-white">
                Wafa immobilier vous accompagne dans la recherche et le financement de votre bien immobilier
            </div>

            <div class="max-w-xl hidden md:block text-2xl text-white mt-3">
                Plus de 1000 biens immobiliers à découvrir sur notre plateforme aujourd'hui
            </div>
        </div>
    </header>

    <div class="px-5 sm:px-16 py-5 max-md:-mt-20">
        <div class="w-full max-w-md md:max-w-400 mx-auto">
            <projets-filter [parentComponent]="'projets-search'"></projets-filter>
        </div>
    </div>
    
    <div #projetsResult id="projetsResultId" class="flex flex-col items-center sm:px-16 md:pt-3 md:pb-10 min-h-[86vh] md:min-h-screen w-full">
        <div class="relative flex flex-auto w-full max-w-400">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>