.projets-bg-header {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('/assets/images/pages/marketplace/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
