.simul-det-bg-header {
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('/assets/images/pages/simulation/header1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-attachment: scroll;
}

@media (max-width: 767px) {
    .simul-det-bg-header-sm {
        background-image:  linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('/assets/images/pages/simulation/header-sm.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        // background-position-y: 1rem;
        background-attachment: fixed;
    }
}


@media (min-width: 992px) {
    .mat-horizontal-stepper-header {
        box-sizing: border-box;
        flex-direction: column-reverse !important;
        height: auto;
        padding: 24px;
    }
    .mat-horizontal-stepper-header .mat-step-label {
        padding: 0px 0px 16px !important;
    }

    .mat-horizontal-stepper-header:not(:first-child)::before,
    //, [dir=rtl] .mat-horizontal-stepper-header:not(:last-child)::before
    .mat-horizontal-stepper-header:not(:last-child)::after,
    //, [dir=rtl] .mat-horizontal-stepper-header:not(:first-child)::after, 
    .mat-stepper-horizontal-line {
        top: 68px !important;
        border-top-width: 2px !important;
        border-top-style: solid !important;
        border-top-color: var(--fuse-primary) !important;
    }
}

.mat-horizontal-stepper-header[aria-selected='true']::after,
.mat-horizontal-stepper-header[aria-selected='true']~:not(:first-child)::before,
.mat-horizontal-stepper-header[aria-selected='true']~:not(:last-child)::after,
.mat-horizontal-stepper-header[aria-selected='true']~.mat-stepper-horizontal-line 
{
    border-top-color: hsl(0, 0%, 50%) !important;
}





// .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
//     border-top-color: green !important; //Green Color
//     border-top-width: 2px !important;
//     border-top-style: solid !important;
// }
// .mat-stepper-label-position-bottom .mat-horizontal-stepper-header[aria-selected='true']~.mat-stepper-horizontal-line {
//     border-top-color: hsl(0, 0%, 50%) !important;
// }

// .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
// [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before {
//     border-top-color: blue !important;
//     border-top-width: 2px !important;
//     border-top-style: solid !important;
// }
// .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after,
// [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after {
//     border-top-color: blue !important;
//     border-top-width: 2px !important;
//     border-top-style: solid !important;
// }





// .mat-step-header .mat-step-icon-state-done, 
// .mat-step-header .mat-step-icon-state-edit {
//     background-color: transparent !important;
//     color: $success;
//     +.mat-step-label{
//       color: $success !important;
//     }
//   }

// .mat-horizontal-stepper
//   @for $i from 1 through 42
//     &.last-edited-step-#{$i}
//      @for $j from 1 through $i
//         .mat-stepper-horizontal-line:nth-of-type(#{$j})
//           border-color: #00c190 !important





// .mat-horizontal-stepper-header {
//     height: 72px !important;
//     padding: 0 10px !important;
//     .mat-stepper-horizontal-line {
//         top: 10px !important;
//     }
//     .mat-step-label {
//         position: fixed;
//         margin-top: 15px;
//         width: 200px !important;
//         white-space: pre-wrap;
//         text-align: center;
//     }
//     &::before {
//         width: 0;
//     }
// }
// .selectedIndex0 {
// }
// @for $i from 1 through 10 {
//     .selectedIndex#{$i} {
//         @extend .selectedIndex#{$i - 1};
//         ::ng-deep .mat-stepper-horizontal-line:nth-child(#{$i * 2}) {
//             border-top-width: 4px !important;
//             border-top-color: #3f51b5 !important;
//         }
//     }
// }

