.simul-det-bg-header {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('/assets/images/admin/simulation-detaillee/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 959px) {
    .simul-det-bg-header-sm {
        background-image: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url('/assets/images/pages/simulation/header-sm.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
}


@media (min-width: 960px) {
    .mat-horizontal-stepper-header {
        box-sizing: border-box;
        flex-direction: column-reverse !important;
        height: auto;
        padding: 24px;
    }

    .mat-horizontal-stepper-header .mat-step-label {
        padding: 0px 0px 16px !important;
    }

    .mat-horizontal-stepper-header:not(:first-child)::before,
    .mat-horizontal-stepper-header:not(:last-child)::after,
    .mat-stepper-horizontal-line {
        top: 68px !important;
        border-top-width: 2px !important;
        border-top-style: solid !important;
        border-top-color: rgb(75, 181, 67) !important;
    }
}

.mat-horizontal-stepper-header[aria-selected='true']::after,
.mat-horizontal-stepper-header[aria-selected='true']~:not(:first-child)::before,
.mat-horizontal-stepper-header[aria-selected='true']~:not(:last-child)::after,
.mat-horizontal-stepper-header[aria-selected='true']~.mat-stepper-horizontal-line {
    border-top-color: hsl(0, 0%, 50%) !important;
}

.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: rgb(75, 181, 67) !important;

    +.mat-step-label {
        color: rgb(75, 181, 67) !important;
    }
}

.mat-step-header .mat-step-icon {
    color: gray !important;
}
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-edit {
  color:#fff !important;
}  



// .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
//     border-top-color: green !important; //Green Color
//     border-top-width: 2px !important;
//     border-top-style: solid !important;
// }
// .mat-stepper-label-position-bottom .mat-horizontal-stepper-header[aria-selected='true']~.mat-stepper-horizontal-line {
//     border-top-color: hsl(0, 0%, 50%) !important;
// }

// .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
// [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before {
//     border-top-color: blue !important;
//     border-top-width: 2px !important;
//     border-top-style: solid !important;
// }
// .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after,
// [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after {
//     border-top-color: blue !important;
//     border-top-width: 2px !important;
//     border-top-style: solid !important;
// }
