<div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}">

    <!-- Header -->
    <header class="hidden md:flex flex-col items-center justify-center px-16 w-full min-h-[35vh] simul-det-bg-header">
        <div class="w-full max-w-400">
            <bienvenue></bienvenue>
        </div>
    </header>

    <div class="px-5 sm:px-16 max-md:py-10 md:pb-20 simul-det-bg-header-sm">

        <div class="w-full max-w-400 mx-auto">

            <span class="md:hidden text-2xl md:text-4xl uppercase font-extrabold leading-tight tracking-tight text-primary">
                Simuler mon crédit en ligne
            </span>

            <!-- matBadge="3" matBadgePosition="before" -->
            <!-- <div class="hidden md:flex flex-row justify-center space-x-5">
                <div class="flex flex-col items-center p-5 rounded-2xl shadow bg-card ring ring-1 ring-gray-500 w-68">
                    <mat-icon
                        class="absolute top-0 right-0 mt-3 mr-3 icon-size-5 text-green-600"
                        [svgIcon]="'heroicons_solid:badge-check'">
                    </mat-icon>
                    <span class="font-medium">Je simule mon crédit</span>
                </div>
                <div class="flex flex-col items-center p-5 rounded-2xl shadow bg-primary ring ring-1 ring-gray-500 w-68">
                    <span class="font-medium text-white">Je personnalise ma simulation</span>
                </div>
                <div class="flex flex-col items-center p-5 rounded-2xl shadow bg-card ring ring-1 ring-gray-500 w-68">
                    <span class="font-medium">Je demande mon crédit</span>
                </div>
            </div> -->

            <!-- <fuse-card class="mx-auto hidden md:flex w-fit flex flex-row items-center -mt-8 h-18 shadow-md">
                <div class="relative w-68 h-full flex items-center justify-center overflow-hidden">
                    <div class="z-10 absolute left-0 -top-12 text-10xl font-bold opacity-10 text-gray-700">01</div>
                    <div class="z-10 absolute left-3 top-1 text-3xl font-bold opacity-50 text-gray-500">01</div>
                    <div class="absolute bottom-0 right-0 w-18 h-18 -m-5">
                        <mat-icon
                            class="icon-size-18 opacity-25 text-green-500 dark:text-green-400"
                            [svgIcon]="'heroicons_outline:check-circle'">
                        </mat-icon>
                    </div>
                    <span class="text-lg font-semibold">Je simule mon crédit</span>
                </div>
                <div class="w-88 h-full flex items-center justify-center bg-second-500">
                    <div class="z-10 absolute left-3 top-1 text-3xl font-bold opacity-50 text-white">02</div>
                    <div class="z-10 absolute left-0 -top-12 text-10xl font-bold opacity-10 text-gray-700">02</div>
                    <span class="text-lg font-semibold">Je personnalise ma simulation</span>
                </div>
                <div class="w-72 h-full flex items-center justify-center">
                    <div class="z-10 absolute left-0 -top-12 text-10xl font-bold opacity-20 text-white">03</div>
                    <div class="z-10 absolute left-3 top-1 text-3xl font-bold opacity-50 text-gray-500">03</div>
                    <span class="z-20 text-lg font-semibold ml-12 mt-2">Je demande mon crédit</span>
                    <span class="text-lg font-semibold">Je demande mon crédit</span>
                </div>
            </fuse-card> -->

            <fuse-card class="mx-auto hidden md:flex flex-row items-center justify-evenly max-w-4xl -mt-10 h-22 shadow-md">
                <div class="flex flex-row items-center justify-start w-52">
                    <div class="flex items-center justify-center w-16 h-16 rounded-full overflow-hidden ring-1 ring-gray-500">
                        <span class="text-7xl font-bold text-gray-500">1</span>
                    </div>
                    <div class="flex flex-col items-start ml-5">
                        <span class="text-lg">Simuler</span>
                        <span class="text-lg">mon crédit</span>
                    </div>
                </div>

                <div class="flex flex-row items-center justify-start w-52">
                    <div class="flex items-center justify-center w-16 h-16 rounded-full overflow-hidden bg-primary-500">
                        <span class="text-7xl font-bold text-white">2</span>
                    </div>
                    <div class="flex flex-col items-start ml-5 text-primary-500">
                        <span class="text-lg font-semibold">Personnaliser</span>
                        <span class="text-lg font-semibold">ma simulation</span>
                    </div>
                </div>

                <div class="flex flex-row items-center justify-start w-52">
                    <div class="flex items-center justify-center w-16 h-16 rounded-full overflow-hidden ring-1 ring-gray-500">
                        <span class="text-7xl font-bold text-gray-500">3</span>
                    </div>
                    <div class="flex flex-col items-start ml-5">
                        <span class="text-lg">Demander</span>
                        <span class="text-lg">mon crédit</span>
                    </div>
                </div>
            </fuse-card>

            <div class="flex flex-col md:flex-row md:items-start max-md:space-y-10 md:space-x-7 mt-10 md:mt-14">

                <form class="ring-1 ring-current bg-card rounded-md shadow overflow-hidden"
                    [formGroup]="simulationStepperForm"
                    [@resize]="!isScreenSmall && animationState">

                    <mat-horizontal-stepper
                        [linear]="true"
                        labelPosition="bottom"
                        #simulationStepper
                        class="bg-transparent">

                        <ng-template matStepperIcon="number" let-active="active">
                            <ng-container [ngSwitch]="active">
                                <mat-icon *ngSwitchCase="true" class="icon-size-6" [svgIcon]="'mat_solid:adjust'">
                                </mat-icon>
                                <mat-icon *ngSwitchCase="false" class="icon-size-6" [svgIcon]="'mat_solid:circle'">
                                </mat-icon>
                            </ng-container>
                        </ng-template>
                        <ng-template matStepperIcon="edit">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:check'">
                            </mat-icon>
                        </ng-template>
                        <!-- <ng-template matStepperIcon="done">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:check'">
                            </mat-icon>
                        </ng-template> -->
                        <!-- <ng-template matStepperIcon="number" let-index="index">
                            <span *ngIf="simulationStepperForm.get(tab[index]).pristine || simulationStepperForm.get(tab[index]).invalid">{{index + 1}}</span>
                            <mat-icon 
                                *ngIf="!simulationStepperForm.get(tab[index]).pristine && simulationStepperForm.get(tab[index]).valid"
                                [svgIcon]="'heroicons_outline:check'">
                            </mat-icon>
                        </ng-template> -->
                        
                        <!-- step 1 -->
                        <mat-step 
                            [formGroupName]="'step1'"
                            [stepControl]="simulationStepperForm.get('step1')"
                            [label]="isXsScreen ? '' : 'Mon profil'"
                            #simulationStepperStep1>

                            <div class="w-full grid grid-cols-1 md:grid-cols-2 md:gap-x-2 md:mt-5">

                                <!-- Nom -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix>
                                    </mat-icon>
                                    <input matInput [formControlName]="'nom'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Nom</mat-label>
                                    <mat-error *ngIf="simulationStepperForm.get('step1').get('nom').hasError('required')">
                                        Nom obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Prénom -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix>
                                    </mat-icon>
                                    <input matInput [formControlName]="'prenom'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Prénom</mat-label>
                                    <mat-error *ngIf="simulationStepperForm.get('step1').get('prenom').hasError('required')">
                                        Prénom obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Téléphone -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:phone'" matPrefix>
                                    </mat-icon>
                                    <input matInput [formControlName]="'telephone'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Téléphone</mat-label>
                                    <mat-error *ngIf="simulationStepperForm.get('step1').get('telephone').hasError('required')">
                                        Téléphone obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Email -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'" matPrefix>
                                    </mat-icon>
                                    <input type="email" matInput [formControlName]="'email'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">E-mail</mat-label>
                                    <mat-error *ngIf="simulationStepperForm.get('step1').get('email').hasError('email')">
                                        Enter a valid email address
                                    </mat-error>
                                    <mat-error *ngIf="simulationStepperForm.get('step1').get('email').hasError('required')">
                                        Email obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Nationalité -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:flag'" matPrefix>
                                    </mat-icon>
                                    <mat-select [formControlName]="'nationalite'">
                                        <ng-container *ngFor="let nationalite of nationalites">
                                            <mat-option [value]="nationalite.code">
                                                {{nationalite.libelle}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Nationalité
                                    </mat-label>
                                    <mat-error *ngIf="simulationStepperForm.get('step1').get('nationalite').hasError('required')">
                                        Nationalité obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Birthday -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-label>Date de naissance</mat-label>
                                    <mat-icon
                                        matPrefix
                                        class="hidden sm:flex icon-size-5"
                                        [svgIcon]="'heroicons_solid:cake'">
                                    </mat-icon>
                                    <input
                                        matInput
                                        [matDatepicker]="dateNaissancePicker"
                                        [formControlName]="'dateNaissance'"
                                        [placeholder]="'Date de naissance'">
                                    <mat-datepicker-toggle
                                        matSuffix
                                        [for]="dateNaissancePicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #dateNaissancePicker>
                                        <mat-datepicker-actions>
                                            <button 
                                                mat-button
                                                (click)="simulationStepperForm.get('step1').get('dateNaissance').setValue(null)"
                                                matDatepickerCancel>
                                                Clear
                                            </button>
                                            <button 
                                                class=""
                                                mat-flat-button
                                                [color]="'primary'"
                                                matDatepickerApply>
                                                Select
                                            </button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>

                                <!-- Résident -->
                                <mat-radio-group class="flex flex-col w-full"
                                    [color]="'primary'"
                                    [formControlName]="'residantMaroc'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Résident au Maroc ? *</mat-label>
                                    <div class="flex flex-row mt-1.5 bg-card px-4 py-2 md:py-3 rounded-md shadow ring-1 ring-gray-300 w-full">
                                        <mat-radio-button [value]="'true'">
                                            Oui
                                        </mat-radio-button>
                                        <mat-radio-button class="ml-5" [value]="'false'">
                                            Non
                                        </mat-radio-button>
                                    </div>
                                    <mat-error *ngIf="simulationStepperForm.get('step1').get('residantMaroc').touched 
                                                    && simulationStepperForm.get('step1').get('residantMaroc').hasError('required')">
                                        Résidence est obligatoire
                                    </mat-error>
                                </mat-radio-group>

                                <!-- Agreements -->
                                <mat-checkbox class="md:col-span-2 text-sm mt-7 font-medium"
                                    [color]="'primary'"
                                    [formControlName]="'agreements'">
                                    <span>Je déclare avoir lu et accepter les </span>
                                    <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">conditions
                                        générales
                                    </a>
                                    <span> d'utilisation du site </span>
                                    <a class="ml-1 text-primary-500 hover:underline"
                                        [routerLink]="['/landing']">www.wafaimmobilier.com
                                    </a>
                                    <span>, notamment les mentions relatives à la protection des données
                                        personnelles</span>
                                </mat-checkbox>

                            </div>

                            <!-- Actions -->
                            <div class="flex justify-end mt-7">
                                <button 
                                    class="px-8"
                                    mat-flat-button
                                    [color]="'primary'"
                                    [disabled]="simulationStepperStep1.stepControl.pristine || simulationStepperStep1.stepControl.invalid"
                                    type="button" matStepperNext>
                                    Suivre
                                </button>
                            </div>

                        </mat-step>

                        <!-- step 2 -->
                        <mat-step
                            [formGroupName]="'step2'"
                            [stepControl]="simulationStepperForm.get('step2')"
                            #simulationStepperStep2>
                            <ng-template matStepLabel *ngIf="!isXsScreen">Ma situation</ng-template>

                            <div class="w-full grid grid-cols-1 md:grid-cols-2 md:gap-x-2 md:mt-5">

                                <!-- Catégorie socio professionnelle -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:briefcase'" matPrefix>
                                    </mat-icon>
                                    <mat-select [formControlName]="'categorieSocioProfessionnelle'">
                                        <ng-container *ngFor="let categorie of categories">
                                            <mat-option [value]="categorie.code">
                                                {{categorie.libelle}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Socio-professionnelle
                                    </mat-label>
                                    <mat-error *ngIf="simulationStepperForm.get('step2').get('categorieSocioProfessionnelle').hasError('required')">
                                        Catégorie socio-professionnelle obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Employeur -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:office-building'" matPrefix>
                                    </mat-icon>
                                    <input matInput [formControlName]="'nomEmployeur'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Employeur</mat-label>
                                    <mat-error *ngIf="simulationStepperForm.get('step2').get('nomEmployeur').hasError('required')">
                                        Employeur obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Ancienneté -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:office-building'" matPrefix>
                                    </mat-icon>
                                    <input matInput [formControlName]="'anciennete'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Ancienneté (en mois)</mat-label>
                                    <mat-error *ngIf="simulationStepperForm.get('step2').get('anciennete').hasError('required')">
                                        Ancienneté obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Salaire annuel net -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:money'" matPrefix>
                                    </mat-icon>
                                    <input matInput [formControlName]="'salaire'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Salaire annuel net</mat-label>
                                    <span matSuffix>Dhs</span>
                                    <mat-error *ngIf="simulationStepperForm.get('step2').get('salaire').hasError('required')">
                                        Salaire annuel net obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Autres revenus -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:money'" matPrefix>
                                    </mat-icon>
                                    <input matInput [formControlName]="'autresRevenus'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Insérez d’autres revenus : Ex loyer, primes, …</mat-label>
                                    <span matSuffix>Dhs</span>
                                    <mat-error *ngIf="simulationStepperForm.get('step2').get('autresRevenus').hasError('required')">
                                        Autres revenus obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Mensualité de vos crédits en cours -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:money'" matPrefix>
                                    </mat-icon>
                                    <input matInput [formControlName]="'creditsEnCours'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Saisissez le total des mensualités</mat-label>
                                    <span matSuffix>Dhs</span>
                                    <mat-error *ngIf="simulationStepperForm.get('step2').get('creditsEnCours').hasError('required')">
                                        Mensualités de vos crédits en cours obligatoire
                                    </mat-error>
                                </mat-form-field>

                            </div>

                            <!-- Actions -->
                            <div class="flex justify-end mt-5">
                                <button class="px-8 mr-2" 
                                    mat-flat-button
                                    [color]="'accent'"
                                    type="button"
                                    matStepperPrevious>
                                    Retour
                                </button>
                                <button class="px-8"
                                    mat-flat-button
                                    [color]="'primary'"
                                    [disabled]="simulationStepperStep2.stepControl.pristine || simulationStepperStep2.stepControl.invalid"
                                    type="button"
                                    matStepperNext>
                                    Suivre
                                </button>
                            </div>
                        </mat-step>

                        <!-- step 3 -->
                        <mat-step
                            [formGroupName]="'step3'"
                            [stepControl]="simulationStepperForm.get('step3')"
                            #simulationStepperStep3>
                            <ng-template matStepLabel *ngIf="!isXsScreen">Mon projet</ng-template>

                            <div class="w-full grid grid-cols-1 md:grid-cols-2 md:gap-x-2 md:mt-5">

                                <!-- Prix du bien -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:money'" matPrefix>
                                    </mat-icon>
                                    <input matInput [formControlName]="'montant'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Prix du bien</mat-label>
                                    <span matSuffix>Dhs</span>
                                    <mat-error *ngIf="simulationStepperForm.get('step3').get('montant').hasError('required')">
                                        Prix du bien obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Objet de financement -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:home'" matPrefix>
                                    </mat-icon>
                                    <mat-select [formControlName]="'objetFinancement'">
                                        <ng-container *ngFor="let objetFinancement of objetsFinancement">
                                            <mat-option [value]="objetFinancement.code">
                                                {{objetFinancement.libelle}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Objet de financement
                                    </mat-label>
                                    <mat-error *ngIf="simulationStepperForm.get('step3').get('objetFinancement').hasError('required')">
                                        Objet de financement obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Montant -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:money'" matPrefix>
                                    </mat-icon>
                                    <input matInput [formControlName]="'montantProposition'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Montant</mat-label>
                                    <span matSuffix>Dhs</span>
                                    <mat-error *ngIf="simulationStepperForm.get('step3').get('montantProposition').hasError('required')">
                                        Montant obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Durée -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:timelapse'" matPrefix>
                                    </mat-icon>
                                    <input matInput [formControlName]="'duree'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Durée (en mois)</mat-label>
                                    <span matSuffix>mois</span>
                                    <mat-error *ngIf="simulationStepperForm.get('step3').get('duree').hasError('required')">
                                        Durée obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Statut projet -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:lightning-bolt'" matPrefix>
                                    </mat-icon>
                                    <mat-select [formControlName]="'statutProjet'" (selectionChange)="selectedStatutProjet($event)">
                                        <mat-option [value]="'statut1'">Recherche active</mat-option>
                                        <mat-option [value]="'statut2'">Simple simulation</mat-option>
                                        <mat-option [value]="'statut3'">Bien trouvé</mat-option>
                                        <mat-option [value]="'statut4'">Compromis signé</mat-option>
                                    </mat-select>
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Statut du projet
                                    </mat-label>
                                    <mat-error *ngIf="simulationStepperForm.get('step3').get('statutProjet').hasError('required')">
                                        Statut du projet obligatoire
                                    </mat-error>
                                </mat-form-field>

                                <!-- Promoteur -->
                                <mat-form-field class="w-full"
                                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                                    <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:real_estate_agent'" matPrefix>
                                    </mat-icon>
                                    <input matInput [formControlName]="'nomPromoteur'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Promoteur</mat-label>
                                </mat-form-field>

                                <!-- Type de taux -->
                                <mat-radio-group
                                    class="flex flex-col w-full"
                                    [color]="'primary'"
                                    [formControlName]="'typeTaux'">
                                    <mat-label class="max-md:text-sm max-md:font-semibold">Type de taux *</mat-label>
                                    <div class="flex flex-row mt-1.5 bg-card px-4 py-2 md:py-3 rounded-md shadow ring-1 ring-gray-300 w-full">
                                        <mat-radio-button [value]="'FIXE'">
                                            Valeur Fixe
                                        </mat-radio-button>
                                        <mat-radio-button class="ml-3 md:ml-7" [value]="'VARI'">
                                            Valeur variable
                                        </mat-radio-button>
                                    </div>
                                    <mat-error *ngIf="simulationStepperForm.get('step3').get('typeTaux').touched 
                                                    && simulationStepperForm.get('step3').get('typeTaux').hasError('required')">
                                        Type de taux est obligatoire
                                    </mat-error>
                                </mat-radio-group>

                            </div>

                            <!-- Actions -->
                            <div class="flex justify-end mt-9">
                                <button
                                    class="md:px-8 mr-2"
                                    mat-flat-button
                                    [color]="'accent'"
                                    type="button"
                                    matStepperPrevious>
                                    Retour
                                </button>
                                <button
                                    class="md:px-8"
                                    [ngClass]="{'bg-primary-200' : simulationStepperStep3.stepControl.pristine || simulationStepperStep3.stepControl.invalid}"
                                    mat-flat-button
                                    [color]="'primary'"
                                    type="button"
                                    [disabled]="simulationStepperStep3.stepControl.pristine || simulationStepperStep3.stepControl.invalid"
                                    (click)="simuler()">
                                    Valider
                                </button>
                            </div>
                        </mat-step>

                    </mat-horizontal-stepper>

                    <div class="flex flex-row bg-amber-100 rounded-md shadow mx-6 mb-5 py-2 px-3">
                        <mat-icon class="icon-size-5 text-amber-500" [svgIcon]="'heroicons_solid:information-circle'">
                        </mat-icon>
                        <span class="ml-2 text-sm font-semibold">« Conformément à la loi 09-08, vous disposez d'un droit d'accès, de rectification et
                            d'opposition au traitement de vos données personnelles. Ce traitement est opéré
                            conformément aux autorisations obtenues par Wafa Immobilier auprès de la CNDP »
                        </span>
                    </div>
                </form>

                <!-- Résultat -->
                <div #resultat 
                    class="md:w-3/5 md:-mt-5"
                    *ngIf="isVisible"
                    [@fadeInBottom]="{value:!isScreenSmall, params: {duration: 1000, delay: 300}}">

                    <details-simulation [simulationResultat]="simulationResultat"></details-simulation>
                </div>
            </div>

        </div>

    </div>

</div>