<div class="relative flex flex-col items-center px-6 md:px-16 py-5 -mt-20 md:mt-0">
    <div class="w-full md:max-w-7xl">
        
        <form [formGroup]="searchForm"
            class="flex flex-col p-4 md:p-8 md:pb-4 rounded-2xl shadow overflow-hidden bg-card">

            <div class="md:hidden w-full">
                <div class="text-lg font-bold text-primary">
                    Trouvez votre bien immobilier
                </div>
                <div class="w-7 h-1 rounded-2xl mt-2 mb-5 bg-second-500"></div>
            </div>

            <div class="flex flex-col md:flex-row">
                <div class="w-full md:w-5/6 grid grid-cols-2 md:grid-cols-5 gap-3">
                    <!-- Ville -->
                    <div>
                        <mat-form-field class="fuse-mat-rounded fuse-mat-no-subscript fuse-mat-bold w-full">
                            <!-- <mat-label>Ville</mat-label> -->
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:location-marker'" matPrefix>
                            </mat-icon>
                            <mat-select [placeholder]="'Ville'" [formControlName]="'ville'">
                                <mat-option [value]="'ville1'">Ville 1</mat-option>
                                <mat-option [value]="'ville2'">Ville 2</mat-option>
                                <mat-option [value]="'ville3'">Ville 3</mat-option>
                                <mat-option [value]="'ville4'">Ville 4</mat-option>
                                <mat-option [value]="'ville5'">Ville 5</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- Quartier -->
                    <div>
                        <mat-form-field class="fuse-mat-rounded fuse-mat-no-subscript fuse-mat-bold w-full">
                            <!-- <mat-label>Quartier</mat-label> -->
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:template'" matPrefix>
                            </mat-icon>
                            <mat-select [placeholder]="'Quartier'" [formControlName]="'quartier'">
                                <mat-option [value]="'quart1'">Quartier 1</mat-option>
                                <mat-option [value]="'quart2'">Quartier 2</mat-option>
                                <mat-option [value]="'quart3'">Quartier 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- Type de bien -->
                    <div>
                        <mat-form-field class="fuse-mat-rounded fuse-mat-no-subscript fuse-mat-bold w-full">
                            <!-- <mat-label>Type de bien</mat-label> -->
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:office-building'" matPrefix>
                            </mat-icon>
                            <mat-select [placeholder]="'Type de bien'" [formControlName]="'typeBien'">
                                <mat-option [value]="'type1'">Type 1</mat-option>
                                <mat-option [value]="'type2'">Type 2</mat-option>
                                <mat-option [value]="'type3'">Type 3</mat-option>
                                <mat-option [value]="'type4'">Type 4</mat-option>
                                <mat-option [value]="'type5'">Type 5</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="md:hidden"></div>
                    <!-- Prix min -->
                    <div>
                        <mat-form-field class="fuse-mat-rounded fuse-mat-no-subscript fuse-mat-bold w-full">
                            <!-- <mat-label>Prix min</mat-label> -->
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:currency-dollar'" matPrefix>
                            </mat-icon>
                            <input matInput [placeholder]="'Prix min'" [formControlName]="'prixMin'">
                        </mat-form-field>
                    </div>
                    <!-- Prix max -->
                    <div>
                        <mat-form-field class="fuse-mat-rounded fuse-mat-no-subscript fuse-mat-bold w-full">
                            <!-- <mat-label>Prix max</mat-label> -->
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:currency-dollar'" matPrefix>
                            </mat-icon>
                            <input matInput [placeholder]="'Prix max'" [formControlName]="'prixMax'">
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex items-center justify-center mt-5 md:mt-0 md:w-1/6 md:ml-10">
                    <button
                        mat-stroked-button
                        type="button" 
                        [color]="'primary'"
                        [disabled]="searchForm.pristine || searchForm.invalid"
                        (click)="reset()">
                        Vider
                    </button>
                    <button 
                        class="ml-2"
                        mat-flat-button
                        type="button"
                        [color]="'primary'"
                        [disabled]="searchForm.pristine || searchForm.invalid"
                        (click)="search()">
                        Chercher
                    </button>
                </div>
            </div>

            <small *ngIf="searchForm.hasError('atLeastOneValue')" class="text-warn mt-2">
                {{searchForm.getError('atLeastOneValue')}}
            </small>

        </form>
    </div>
</div>