<div class="flex flex-col flex-auto max-md:max-h-140 md:min-w-160 -m-6 overflow-y-auto">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Me rappeler</div>
        <button
            mat-icon-button
            (click)="matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Main Form -->
    <div class="p-5 md:px-10 md:py-6 overflow-y-auto">
        <!-- Alert -->
        <fuse-alert *ngIf="alert"
            [type]="alert.type"
            [showIcon]="false">
            {{alert.message}}
        </fuse-alert>

        <form class="space-y-1"
            [formGroup]="faitesVousRappelerForm"
            #faitesVousRappelerNgForm="ngForm">
            
            <div class="mb-7 font-medium leading-tight md:max-w-140">Veuillez nous laisser vos coordonnées sur lesquels vous souhaitez être rappelé par nos experts :</div>

            <div class="w-full grid grid-cols-1 md:grid-cols-2 md:gap-x-2 gap-y-1">
                <!-- Nom -->
                <mat-form-field class="w-full"
                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix>
                    </mat-icon>
                    <input matInput [formControlName]="'nom'">
                    <mat-label class="max-md:text-sm max-md:font-semibold">Nom</mat-label>
                    <mat-error *ngIf="faitesVousRappelerForm.get('nom').hasError('required')">
                        Nom obligatoire
                    </mat-error>
                </mat-form-field>

                <!-- Prénom -->
                <mat-form-field class="w-full"
                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix>
                    </mat-icon>
                    <input matInput [formControlName]="'prenom'">
                    <mat-label class="max-md:text-sm max-md:font-semibold">Prénom</mat-label>
                    <mat-error *ngIf="faitesVousRappelerForm.get('prenom').hasError('required')">
                        Prénom obligatoire
                    </mat-error>
                </mat-form-field>

                <!-- Téléphone -->
                <mat-form-field class="w-full"
                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:phone'" matPrefix></mat-icon>
                    <input matInput [formControlName]="'telephone'" appFormatTelephone>
                    <mat-label class="max-md:text-sm max-md:font-semibold">Téléphone</mat-label>
                    <mat-error *ngIf="faitesVousRappelerForm.get('telephone').hasError('required')">
                        Téléphone obligatoire
                    </mat-error>
                </mat-form-field>

                <!-- Email -->
                <mat-form-field class="w-full"
                    [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'" matPrefix></mat-icon>
                    <input type="email" matInput [formControlName]="'email'">
                    <mat-label class="max-md:text-sm max-md:font-semibold">E-mail</mat-label>
                    <mat-error *ngIf="faitesVousRappelerForm.get('email').hasError('email')">
                        Veuillez saisir une adresse mail valide
                    </mat-error>
                    <mat-error *ngIf="faitesVousRappelerForm.get('email').hasError('required')">
                        Adresse mail obligatoire
                    </mat-error>
                </mat-form-field>

                <!-- Message -->
                <mat-form-field class="fuse-mat-textarea w-full md:col-span-2">
                    <textarea matInput
                        [formControlName]="'message'"
                        [rows]="3"
                        matTextareaAutosize>
                    </textarea>
                    <mat-label class="max-md:text-sm max-md:font-semibold">Message</mat-label>
                </mat-form-field>

            </div>

            <!-- Actions -->
            <div class="flex items-center justify-end">
                <button mat-button
                    [color]="'accent'"
                    [disabled]="faitesVousRappelerForm.pristine || faitesVousRappelerForm.untouched"
                    (click)="clearForm()">
                    Vider
                </button>
                <button class="ml-2" 
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="faitesVousRappelerForm.pristine || faitesVousRappelerForm.invalid"
                    (click)="sendForm()">
                    Envoyer
                </button>
            </div>
        </form>

        <div class="flex flex-row bg-amber-100 rounded-md shadow py-2 px-3 mt-5">
            <mat-icon class="icon-size-5 text-amber-500" [svgIcon]="'heroicons_solid:information-circle'">
            </mat-icon>
            <span class="ml-2 text-sm font-semibold">
                En cliquant sur « Envoyer », 
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['./']">
                    j'accepte la politique de protection des données
                </a>
            </span>
        </div>

    </div>
</div>
