<form [formGroup]="searchForm"
    class="flex flex-col rounded-2xl shadow overflow-hidden bg-card p-4 md:p-7 md:pb-5"
    [ngClass]="{'md:bg-opacity-70': parentComponent === 'landing'}">

    <div class="w-full mb-5"
        [ngClass]="{'md:hidden': parentComponent === 'projet-search'}">
        <div class="text-lg font-bold text-primary">
            Trouvez votre bien immobilier
        </div>
        <div class="w-7 h-1 rounded-2xl mt-2 bg-second-500"></div>
    </div>

    <div class="flex flex-col"
        [ngClass]="{'md:flex-row items-end': parentComponent === 'projet-search'}">

        <div class="w-full grid grid-cols-2 gap-3"
            [ngClass]="{'md:grid-cols-5 md:w-5/6': parentComponent === 'projet-search'}">
            
            <!-- Ville -->
            <mat-form-field class="fuse-mat-no-subscript w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:location-marker'" matPrefix>
                </mat-icon>
                <mat-label class="text-sm font-medium text-black">Ville</mat-label>
                <mat-select [formControlName]="'ville'">
                    <ng-container *ngFor="let ville of villes">
                        <mat-option [value]="ville.codeVille">
                            {{ville.description}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <!-- Quartier -->
            <mat-form-field class="fuse-mat-no-subscript w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:template'" matPrefix>
                </mat-icon>
                <mat-label class="text-sm font-medium text-black">Quartier</mat-label>
                <mat-select [formControlName]="'quartier'"
                    [disableControl]="!searchForm.get('ville').value">
                    <ng-container *ngFor="let quartier of quartiers$ | async">
                        <mat-option [value]="quartier.code">
                            {{quartier.libelle}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            
            <!-- Type de bien -->
            <mat-form-field class="fuse-mat-no-subscript w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:office-building'" matPrefix>
                </mat-icon>
                <mat-label class="text-sm font-medium text-black">Type de bien</mat-label>
                <mat-select [formControlName]="'typeBien'">
                    <ng-container *ngFor="let typeBien of typesBiens">
                        <mat-option [value]="typeBien.code">
                            {{typeBien.libelle}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <div [ngClass]="{'md:hidden': parentComponent === 'projet-search'}"></div>

            <!-- Prix min -->
            <mat-form-field class="fuse-mat-no-subscript w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                <input matInput [formControlName]="'prixMin'">
                <mat-label class="text-sm font-medium text-black">Prix min</mat-label>
                <span matSuffix>Dhs</span>
            </mat-form-field>

            <!-- Prix max -->
            <mat-form-field class="fuse-mat-no-subscript w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                <input matInput [formControlName]="'prixMax'">
                <mat-label class="text-sm font-medium text-black">Prix max</mat-label>
                <span matSuffix>Dhs</span>
            </mat-form-field>
        </div>

        <!-- Actions -->
        <div class="flex items-center justify-center"
            [ngClass]="{'max-md:mt-5 md:w-1/6 md:ml-10 md:mb-1': parentComponent === 'projet-search',
                        'mt-5': parentComponent === 'landing'}">
            <button
                mat-stroked-button
                type="button" 
                [color]="'primary'"
                [disabled]="parentComponent === 'projet-search' ? searchForm.invalid : (searchForm.pristine || searchForm.invalid)"
                (click)="reset()">
                Vider
            </button>
            <button 
                class="ml-2"
                mat-flat-button
                type="button"
                [color]="'primary'"
                [disabled]="searchForm.pristine || searchForm.invalid"
                (click)="parentComponent === 'projet-search' ? search() : navigateToMarketPlace()">
                Voir les annonces
            </button>
        </div>

    </div>

    <small *ngIf="searchForm.hasError('atLeastOneValue')" class="text-warn mt-2">
        {{searchForm.getError('atLeastOneValue')}}
    </small>

</form>
