<div class="flex flex-col flex-auto min-w-0 ">

    <!-- Header -->
    <div class="relative pt-8 pb-28 px-4 sm:pt-20 sm:pb-48 sm:px-16 overflow-hidden espace-connected-bg-header-vice">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="w-full max-w-400">
            <div class="max-w-xl text-2xl md:text-6xl font-bold uppercase tracking-tight leading-tight text-white">
                Bienvenue à votre espace abonné
            </div>

            <div class="max-w-xl hidden md:block text-2xl text-white mt-3">
                Ne manquez pas l'opportunité de découvrir tout ce que notre site peut vous offrir !
            </div>
        </div>
 
        <div class="z-10 relative flex flex-col items-center">
            
            <div class="mt-3 sm:text-2xl text-center tracking-tight text-secondary">
                -
            </div>
            <div class="mt-3 sm:text-2xl text-center tracking-tight text-secondary">
                -
            </div>
            <div class="mt-3 sm:text-2xl text-center tracking-tight text-secondary">
                -
            </div>
          
        
           
         
        </div>
    </div>

    <!-- Medu --> 
    <div class="flex flex-col items-center pb-6 px-6 sm:pb-10 sm:px-10 ">
        <!-- Cards -->
        <div class="grid grid-cols-1 md:grid-cols-4 gap-y-8 md:gap-y-0 md:gap-x-6 w-full max-w-sm md:max-w-7xl -mt-16 sm:-mt-24">
            <!-- FAQs card -->
            <div class="relative flex flex-col rounded-2xl border-2 border-primary-500 shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="text-2xl font-semibold">Mes Simulations</div>
                    <span class="flex items-center justify-center w-22 h-22 rounded ">
                        <img class="max-w-20" src="assets/images/pages/landingBis/calc_red.PNG">
                    </span>
                    <div class="text-4xl font-semibold">2</div>
                </div>
                <div class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <a
                        class="flex items-center"
                        [routerLink]="['faqs']">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Voir Details</span>
                        <mat-icon
                            class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
                 <!-- FAQs card -->
                 <div class="relative flex flex-col rounded-2xl border-2 border-primary-500 shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                    <div class="flex flex-col flex-auto items-center p-8 text-center">
                        <div class="text-2xl font-semibold">Mes Crédits en cours</div>
                        <span class="flex items-center justify-center w-22 h-22 rounded ">
                            <img class="max-w-20" src="assets/images/pages/landingBis/proj_red.PNG">
                        </span>
                        <div class="text-4xl font-semibold">3</div>
                    </div>
                    <div class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                        <a
                            class="flex items-center"
                            [routerLink]="['faqs']">
                            <span class="absolute inset-0"></span>
                            <span class="font-medium">Voir Details</span>
                            <mat-icon
                                class="ml-2 icon-size-5 text-current"
                                [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                        </a>
                    </div>
                </div>
            <!-- Guides card -->
            <div class="relative flex flex-col rounded-2xl border-2 border-primary-500 shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="text-2xl font-semibold">Mes Projets </div>
                    <span class="flex items-center justify-center w-22 h-22 rounded ">
                       
                        <img class="max-w-20" src="assets/images/pages/landingBis/dem_red.PNG">
                    </span>
                    <div class="text-4xl font-semibold">6</div>
                </div>
                <div class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <a
                        class="flex items-center"
                        [routerLink]="['guides']">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Voir Details</span>
                        <mat-icon
                            class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
            <!-- Support card -->
            <div class="relative flex flex-col rounded-2xl border-2 border-primary-500 shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="text-2xl font-semibold">Mes Demandes</div>
                    <span class="flex items-center justify-center w-22 h-22 rounded ">
                        <img class="max-w-20" src="assets/images/pages/landingBis/cred_red_v.PNG">
                    </span>
                    <div class="text-4xl font-semibold">2</div>
                </div>
                <div class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <a
                        class="flex items-center"
                        [routerLink]="['support']">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Voir Details</span>
                        <mat-icon
                            class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
        </div>
        <!-- FAQs -->
        <div class="mt-24 text-1xl sm:text-3xl font-extrabold leading-tight tracking-tight text-center">Un site tout en un pour chercher mon bien, simuler mon crédit, demander et obtenir mon financement en ligne sans me déplacer !</div>
        
        <!-- Parcours -->
        <div class="relative  md:flex flex-row justify-center space-x-16 text-white mt-20 mb-14 ">
             <!-- Search card -->
             <div class="translatetop w-40 relative rounded-2xl hover:shadow-lg overflow-hidden bg-second-200">
                <div class="flex flex-col flex-auto items-center p-6 text-center">
                    <mat-icon class="icon-size-7 md:icon-size-10 text-primary-700"
                        [svgIcon]="'iconsmind:magnifi_glass2'">
                    </mat-icon>
                    <div class="mt-2 text-primary-700 font-semibold">Je trouve<br />mon bien</div>
                </div>
                <div class="flex items-center justify-center py-3 text-primary-500 bg-second-150">
                    <a class="flex items-center" [routerLink]="'/dashboards/project'">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Découvrir</span>
                        <mat-icon class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
            <!-- Simule card -->
            <div class="translatetop w-40 relative rounded-2xl hover:shadow-lg overflow-hidden bg-second-200">
                <div class="flex flex-col flex-auto items-center p-6 text-center">
                    <mat-icon class="icon-size-7 md:icon-size-10 text-primary-700"
                        [svgIcon]="'iconsmind:calculator_3'">
                    </mat-icon>
                    <div class="mt-2 text-primary-700 font-semibold">Je simule<br />mon crédit</div>
                </div>
                <div class="flex items-center justify-center py-3 text-primary-500 bg-second-150">
                    <a class="flex items-center" [routerLink]="'/dashboards/project'">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">En savoir plus</span>
                        <mat-icon class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
            <!-- demande card -->
            <div class="translatetop w-40 relative rounded-2xl hover:shadow-lg overflow-hidden bg-second-200">
                <div class="flex flex-col flex-auto items-center p-6 text-center">
                    <mat-icon class="icon-size-7 md:icon-size-10 text-primary-700" [svgIcon]="'iconsmind:notepad'">
                    </mat-icon>
                    <div class="mt-2 text-primary-700 font-semibold">Je demande<br />mon crédit</div>
                </div>
                <div class="flex items-center justify-center py-3 text-primary-500 bg-second-150">
                    <a class="flex items-center" [routerLink]="'/dashboards/project'">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Démarrer</span>
                        <mat-icon class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
            <!-- contact card -->
            <div class="translatetop w-40 relative rounded-2xl hover:shadow-lg overflow-hidden bg-second-200">
                <div class="flex flex-col flex-auto items-center p-6 text-center">
                    <mat-icon class="icon-size-7 md:icon-size-10 text-primary-700" [svgIcon]="'iconsmind:support'">
                    </mat-icon>
                    <div class="mt-2 text-primary-700 font-semibold">Je contacte<br />un conseiller</div>
                </div>
                <div class="flex items-center justify-center py-3 text-primary-500 bg-second-150">
                    <a class="flex items-center" [routerLink]="'/dashboards/project'">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Contacter</span>
                        <mat-icon class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
        </div>

     

     

    </div>
   <!-- Vos avantages -->
    <div class="flex flex-col items-center w-full px-6 bg-card md:bg-primary-500 md:text-white">
        <span class="text-center text-2xl md:text-3xl uppercase font-bold max-md:text-primary pt-10 pb-8">
            Vos avantages<br class="sm:hidden" /> de crédit en ligne :
        </span>
        <div class="grid grid-cols-1 gap-y-3 max-md:text-primary md:flex md:flex-row md:items-center mb-14 md:mb-10">
            <div class="flex flex-row items-center max-md:rounded-lg max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-3">
                <span class="hidden md:flex items-center justify-center w-14 h-14 rounded bg-primary">
                    <mat-icon class="icon-size-10 text-white" [svgIcon]="'mat_outline:money_off'">
                    </mat-icon>
                </span>
                <mat-icon class="md:hidden icon-size-8 text-primary" [svgIcon]="'mat_outline:money_off'">
                </mat-icon>
                <span class="ml-3 text-sm font-bold sm:text-xl sm:font-semibold uppercase">
                    Frais de dossier gratuits
                </span>
            </div>
    
            <span class="hidden md:block border-white border-l h-16 w-0.5 mx-10"></span>
    
            <div class="flex flex-row items-center max-md:rounded-lg max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-3">
                <span class="hidden md:flex items-center justify-center w-14 h-14 rounded bg-primary">
                    <mat-icon class="icon-size-10 text-white" [svgIcon]="'heroicons_outline:color-swatch'">
                    </mat-icon>
                </span>
                <mat-icon class="md:hidden icon-size-8 text-primary" [svgIcon]="'heroicons_solid:color-swatch'">
                </mat-icon>
                <span class="ml-3 text-sm font-bold sm:text-xl sm:font-semibold uppercase">
                    Accompagnement personnalisé
                </span>
            </div>
    
            <span class="hidden md:block border-white border-l h-16 w-0.5 mx-10"></span>
    
            <div class="flex flex-row items-center max-md:rounded-lg max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-3">
                <span class="hidden md:flex items-center justify-center w-14 h-14 rounded bg-primary">
                    <mat-icon class="icon-size-10 text-white" svgIcon="delivery-time">
                    </mat-icon>
                </span>
                <mat-icon class="md:hidden icon-size-8 text-primary" svgIcon="delivery-time">
                </mat-icon>
                <span class="ml-3 text-sm font-bold sm:text-xl sm:font-semibold uppercase">Accord de principe
                    immédiat
                </span>
            </div>
        </div>
    </div>



</div>
