<div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}">

      <header class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20 min-h-80 md:min-h-76 notre-demarage-rse-bg-header">
        <div class="w-full max-w-400 mx-auto ">
      <div
        class="text-2xl md:text-4xl uppercase font-extrabold tracking-tight leading-tight text-white mt-25 sm:mt-20">
        Notre Démarche RSE
      </div>
    </div>
  </header>
  

  <section class="py-10 sm:pt-18 sm:pb-20 bg-card">

    <div class="w-full grid md:grid-cols-3 sm:grid-cols-1 ">
      <!-- left -->
      <div class=" md:col-span-2 flex flex-col items-start justify-between px-5 sm:px-16 sm:max-w-400 md:max-w-280 mx-auto">
        <div class="text-2xl md:text-4xl uppercase font-extrabold tracking-tight leading-tight text-primary md:mt-10">
          Introduction
        </div>

        <div class="flex flex-col item-center justify-center md:text-lg font-medium tracking-tight leading-tight text-gray-700 mt-10">
          <div>
            Au fil des années, Wafa Immobilier a pris conscience de l'importance de développer des offres et services
            innovants pour encourager et aider ses clients dans la réalisation de leurs projets.
          </div>
          <div class="mt-10">
            Nous visons ainsi à nous positionner comme un acteur responsable et engagé envers l'ensemble de nos parties
            prenantes.
          </div>
          <div class="mt-10">
            Découvrez nos axes d'engagements pour mieux vous accompagner.
          </div>
        </div>

        <div class="flex flex-row justify-center items-center mt-10 pr-10" >
          <div class="flex flex-row gap-x-5 justify-center items-center">
            <div class="flex rounded-xl">
              <img class="w-full h-full object-cover" src="assets/images/pages/rse/rse-niv1/Affiche1.png"
                alt="Affiche 1">
            </div>
            <div class="flex rounded-xl">
              <img class="w-full h-full object-cover" src="assets/images/pages/rse/rse-niv1/Affiche2.png"
                alt="Affiche 2">
            </div>
            <div class="flex rounded-xl">
              <img class="w-full h-full object-cover" src="assets/images/pages/rse/rse-niv1/Affiche3.png"
                alt="Affiche 3">
            </div>
          </div>

        </div>
      </div>

      <!-- right -->
      <div class="h-full mt-10 px-6 sm:pl-13 sm:w-full nos-rectangle-noire-bg ">
        

          <div class="flex flex-col text-white mt-8 ">

            <div class="text-2xl md:text-4xl uppercase font-extrabold tracking-tight leading-tight border-b-2 border-primary mb-2 md:w-2/3 sm:w-full ">
              Découvrez notre charte RSE
            </div>

            <div class="md:flex md:flex-row md:items-center md:justify-center space-x-5 h-full w-full md:mt-30 sm:mt-10 sm:grid sm:grid-cols-1">

              <div class="w-4/5 mt-2 flex flex-col items-center">
                <div class="charte-bg">
                  <img class=" object-cover" src="assets/images/pages/rse/rse-niv1/CharteRse.png">
                </div>
              </div>
              
                <div class="w-1/2">
                  <button class="text-white text-center mt-2 md:ml-3 md:px-3 flex flex-col items-center"
                  mat-flat-button
                  [color]="'primary'"
                  (click)="telecharger()">
                Télécharger la charte
              </button>
          
                </div>
                

            </div>



          </div>

      </div>

    </div>

  </section>

  <section class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20 nos-initiative-bg">
    <div class="w-full max-w-400 mx-auto md:flex md:flex-row md:items-center sm:grid sm:grid-cols-1 ">

      <div class="md:w-1/2 sm:w-full text-2xl md:text-4xl uppercase font-extrabold tracking-tight leading-tight text-white ">
        Nos initiatives rse
      </div>

      <div class="md:w-1/2 sm:w-full flex  flex-row justify-center  max-sm:pt-10">
        <!--div class="flex justify-start">
          <img  src="assets/images/pages/rse/rse-niv3/Flèche gauche.png">
        </div-->
        <div class="grid grid-cols-1 md:w-fit">

          <!-- divide-y-4 divide-primary-500 -->
          <div class="md:max-w-80 sm:max-w-100  rounded-xl overflow-hidden shadow-md bg-card md:flex md:flex-col ">

            <div class="overflow-hidden ">
              <img class="object-cover md:w-80 h-40 " src="assets/images/pages/rse/rse-niv2/Image 1.png">
            </div>

            <div class="flex flex-col space-y-5 p-5 mt-5 ">

              <h2 class="font-bold uppercase text-primary-500">
                WAFA IMMOBILIER concrétise sa démarche RSE en lançant la charte RSE
              </h2>

              <div class="h-0.5 rounded-2xl w-full bg-primary-500"></div>

              <span>Investir dans l'immobilier est l'un des moyens les plus sûrs pour se constituer un patrimoine...
              </span>
              <div class="relative flex flex-col items-center">
                <a [routerLink]="['detail', '1']">
                    <span class="font-medium text-primary-500 underline">Lire la suite</span>
                </a>
            </div>
            
            
            </div>

          </div>

          <!--div class=" item-end  rounded-xl w-70  overflow-hidden shadow-md bg-white mt-8 mb-8 flex-left grid grid-cols-1 divide-y-4 divide-primary-500 ">
        <div>
          <img class="w-full h-30 md:w-full md:h-40 " src="assets/images/pages/rse/rse-niv2/Image 2.png" >
        </div>
        <div>
          <div class=" mx-4 grid grid-cols-1 divide-y-2 divide-primary-400   ">
            <div class="p-4">
              <h2 class="font-bold uppercase text-primary-500">WAFA IMMOBILIER sensibilise ses collaborateurs quant à l'utilisation raisonné du papier</h2>
            </div>
            <div class="p-4">
              <p>Investir dans l'immobilier est l'un des moyens les plus sûrs pour se constituer un patrimoine.
                Encore faut-il connaître toutes les ficelles pour mener</p>
              <ng-container class="">
                <button>
                  <span class="font-medium text-primary-500 underline ">Lire la suite > </span>
                </button>
              </ng-container>
            </div>

          </div>
        </div>
      </div-->
        </div>

        <!--div class="flex justify-end w-4">
          <img  src="assets/images/pages/rse/rse-niv3/Flèche droite.png">
        </div-->
      </div>
    </div>

  </section>

  <contactez-nous [isScreenSmall]="isScreenSmall"></contactez-nous>


</div>