<form [formGroup]="searchForm"
    class="flex flex-col rounded-2xl shadow overflow-hidden bg-card p-4 md:py-5 md:px-7"
    [ngClass]="{'md:bg-opacity-70': parentComponent === 'landing'}">

    <div class="w-full mb-5"
        [ngClass]="{'md:hidden': parentComponent === 'projets-search'}">
        <div class="text-lg font-bold text-primary">
            Trouver mon bien
        </div>
        <div class="w-7 h-1 rounded-2xl mt-2 bg-second-500"></div>
    </div>

    <div class="flex flex-col"
        [ngClass]="{'md:flex-row items-end': parentComponent === 'projets-search'}">

        <div class="w-full grid grid-cols-2 gap-3"
            [ngClass]="{'md:grid-cols-5 md:w-5/6': parentComponent === 'projets-search'}">
            
            <!-- Ville -->
            <mat-form-field class="fuse-mat-no-subscript w-full"
                [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:location-marker'" matPrefix>
                </mat-icon>
                <mat-select
                    [formControlName]="'codeVille'"
                    [placeholder]="'Ville'">
                    <ng-container *ngFor="let ville of villes">
                        <mat-option [value]="ville.codeVille">
                            {{ville.description}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <!-- Quartier -->
            <mat-form-field class="fuse-mat-no-subscript w-full"
                [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:template'" matPrefix>
                </mat-icon>
                <mat-select
                    [formControlName]="'codeQuartier'"
                    [placeholder]="'Quartier'"
                    [disableControl]="!searchForm.get('codeVille').value">
                    <ng-container *ngFor="let quartier of quartiers$ | async">
                        <mat-option [value]="quartier.code">
                            {{quartier.libelle}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            
            <!-- Type de bien -->
            <mat-form-field class="fuse-mat-no-subscript w-full"
                [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:office-building'" matPrefix>
                </mat-icon>
                <mat-select 
                    [formControlName]="'codeTypeBien'"
                    [placeholder]="'Type de bien'">
                    <ng-container *ngFor="let typeBien of typesBiens">
                        <mat-option [value]="typeBien.code">
                            {{typeBien.libelle}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <div [ngClass]="{'md:hidden': parentComponent === 'projets-search'}"></div>

            <!-- Prix min -->
            <mat-form-field class="fuse-mat-no-subscript w-full"
                [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                <input matInput [formControlName]="'prixMin'" [placeholder]="'Prix min'">
                <span matSuffix>Dhs</span>
            </mat-form-field>

            <!-- Prix max -->
            <mat-form-field class="fuse-mat-no-subscript w-full"
                [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                <input matInput [formControlName]="'prixMax'" [placeholder]="'Prix max'">
                <span matSuffix>Dhs</span>
            </mat-form-field>
        </div>

        <!-- Actions -->
        <div class="flex items-center justify-center"
            [ngClass]="{'max-md:mt-5 md:w-1/6 md:ml-10 md:mb-1': parentComponent === 'projets-search',
                        'mt-5': parentComponent === 'landing'}">
            <button
                *ngIf="parentComponent === 'projets-search'"
                mat-stroked-button
                class="bg-default"
                type="button" 
                [color]="'primary'"
                [disabled]="parentComponent === 'projets-search' ? searchForm.invalid : (searchForm.pristine || searchForm.invalid)"
                (click)="reset()">
                Vider
            </button>
            <button 
                class="ml-2"
                [ngClass]="{'bg-primary-200' : searchForm.pristine || searchForm.invalid}"
                mat-flat-button
                type="button"
                [color]="'primary'"
                [disabled]="searchForm.pristine || searchForm.invalid"
                (click)="parentComponent === 'projets-search' ? search() : navigateToMarketPlace()">
                {{ parentComponent === 'projets-search' ? 'Valider' : 'Accéder'}}
            </button>
        </div>

    </div>

    <small *ngIf="searchForm.hasError('atLeastOneValue')" class="text-warn mt-2">
        {{searchForm.getError('atLeastOneValue')}}
    </small>

</form>
