<div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}">

    <!-- Header -->
    <!-- [headerLibelle]="'Consultation mes projets favoris'" -->
    <page-header-connecte
        [headerStyle]="'mes-projets-bg-header'">
    </page-header-connecte>

    <div class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20">

        <div class="w-full max-w-400 mx-auto">

            <div class="flex flex-col">
                <span class="text-2xl md:text-4xl uppercase font-extrabold leading-tight tracking-tight text-primary">
                    Mes projets favoris
                </span>
                <div class="max-w-xl mt-2 md:text-xl text-secondary">
                    Vous avez ({{projetsFavoris.length}}) projets favoris
                </div>
            </div>

            <ng-container *ngIf="projetsFavoris && projetsFavoris.length > 0; else noProjetsFavoris">

                <div class="mx-auto sm:w-fit grid grid-cols-1 gap-y-14 md:gap-x-10 md:gap-y-16 mt-20"
                    [ngClass]="{'md:grid-cols-3' : projetsFavoris.length > 4 || projetsFavoris.length === 3,
                                'md:grid-cols-1' : projetsFavoris.length === 1,
                                'md:grid-cols-2' : projetsFavoris.length === 4 || projetsFavoris.length === 2}">

                    <ng-container *ngFor="let projetFav of projetsFavoris; let i = index; trackBy: trackByFn">

                        <fuse-card class="sm:max-w-90 relative flex flex-col pb-6 overflow-visible ring-1 ring-primary-500 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.05] hover:bg-[#fae7e8]"
                            [routerLink]="'/projet-details'"
                            [queryParams]="{id: projetFav.realEstateProject.id}">

                            <div class="z-20 mx-auto absolute inset-x-0 -top-8 flex items-center justify-center h-16 w-16 rounded-full bg-primary-500">
                                <mat-icon class="icon-size-12 text-on-primary -mt-1" svgIcon="home-heart">
                                </mat-icon>
                            </div>

                            <!-- Header photo -->
                            <div class="w-full h-36 sm:h-44 bg-accent-100 dark:bg-accent-700 rounded-t-2xl overflow-hidden">
                                <ng-container *ngIf="projetFav.realEstateProject.medias?.[0]?.chemin">
                                    <img class="object-cover w-full h-full" [src]="projetFav.realEstateProject.medias?.[0]?.chemin">
                                </ng-container>
                                <ng-container *ngIf="!projetFav.realEstateProject.medias?.[0]?.chemin">
                                    <span class="flex items-center justify-center w-full h-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                        No Image
                                    </span>
                                </ng-container>
                            </div>

                            <div class="flex flex-col mt-5 px-3 sm:px-5">

                                <div class="w-fit py-0.5 px-3 rounded-full text-sm font-semibold text-primary-700 ring-1 ring-inset ring-primary bg-hover">
                                    à partir de&nbsp;<strong>{{projetFav.realEstateProject.prixMinStr}} {{projetFav.realEstateProject.devise}}</strong>
                                </div>

                                <div class="grid grid-cols-3 gap-x-3 mt-3">
                                    
                                    <!-- projet description -->
                                    <div class="col-span-2 flex flex-col space-y-0.5">
                                        <span class="font-extrabold text-xl uppercase text-primary">
                                            {{projetFav.realEstateProject.nom}}
                                        </span>
                                        <div class="-ml-1 flex items-center text-center">
                                            <mat-icon class="icon-size-5 text-primary-700"
                                                [svgIcon]="'heroicons_outline:location-marker'">
                                            </mat-icon>
                                            <span class="ml-1 text-md">{{projetFav.realEstateProject.libelleVille}}</span>
                                        </div>
                                        <span class="font-medium text-second-600">{{projetFav.realEstateProject.statut}}</span>
                                        <span class="font-medium">{{projetFav.realEstateProject.libelleTypeBien}}</span>
                                    </div>

                                    <!-- logo promoteur -->
                                    <div class="w-full ml-auto h-28 md:h-32 mt-1">
                                        <ng-container *ngIf="projetFav.realEstateProject.promoter.logoPath">
                                            <figure class="flex items-center justify-center h-24 md:h-28 p-2 rounded-2xl overflow-hidden bg-card ring-1 ring-gray-300">
                                                <img [src]="projetFav.realEstateProject.promoter.logoPath" class="object-cover w-full" />
                                            </figure>
                                        </ng-container>
                                        <ng-container *ngIf="!projetFav.realEstateProject.promoter.logoPath">
                                            <span class="flex items-center justify-center h-24 md:h-28 rounded-2xl text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                No Logo
                                            </span>
                                        </ng-container>
                                    </div>
                                </div>

                                <!-- Actions -->
                                <div class="w-full border-t pt-5">
                                    <div class="mx-auto flex flex-col max-md:max-w-max max-md:space-y-2 md:flex-row">
                                        <button
                                            mat-flat-button 
                                            [color]="'primary'"
                                            [routerLink]="'/projet-details'"
                                            [queryParams]="{id: projetFav.realEstateProject.id}">
                                            En savoir plus
                                        </button>
                                        <button class="md:ml-2"
                                            mat-stroked-button
                                            [matTooltip]="'Je demande mon crédit'"
                                            [routerLink]="['/espace-connecte/simulation-detaillee']">
                                            Demander mon crédit
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </fuse-card>

                    </ng-container>

                </div>

            </ng-container>

            <!-- No projet favori template -->
            <ng-template #noProjetsFavoris>
                <div class="flex flex-col items-center justify-center bg-second-100 dark:bg-transparent min-h-100 border border border-gray-200 shadow-sm rounded-md mt-10">
                    <div class="mt-4 text-xl md:text-2xl font-semibold tracking-tight text-secondary">
                        Aucun projet favori!
                    </div>
                </div>
            </ng-template>
        </div>

    </div>

</div>