<div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}">
<!-- <div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto scroll-smooth" [@fadeInRight]="{value:'', params: {duration: 700}}" cdkScrollable> -->

    <!-- Header -->
    <header class="hidden md:flex flex-col items-center justify-center px-16 w-full min-h-[35vh] demande-bg-header">
        <div class="w-full max-w-400">
            <bienvenue></bienvenue>
            <div class="max-w-xl hidden md:block text-2xl text-white mt-3">
                Complétez votre demande avec les documents joints
            </div>
        </div>
    </header>

    <div class="px-5 sm:px-16 max-md:py-10 md:pb-20 demande-bg-header-sm">

        <div class="w-full max-w-400 mx-auto">

            <span class="md:hidden text-2xl md:text-4xl uppercase font-extrabold leading-tight tracking-tight text-primary">
                Demander mon crédit
            </span>

            <fuse-card class="mx-auto hidden md:flex flex-row items-center justify-evenly max-w-4xl -mt-10 h-22 shadow-md">
                <div class="flex flex-row items-center justify-start w-52">
                    <div class="flex items-center justify-center w-16 h-16 rounded-full overflow-hidden ring-1 ring-gray-500">
                        <span class="text-7xl font-bold text-gray-500">1</span>
                    </div>
                    <div class="flex flex-col items-start ml-5">
                        <span class="text-lg">Simuler</span>
                        <span class="text-lg">mon crédit</span>
                    </div>
                </div>

                <div class="flex flex-row items-center justify-start w-52">
                    <div class="flex items-center justify-center w-16 h-16 rounded-full overflow-hidden ring-1 ring-gray-500">
                        <span class="text-7xl font-bold text-gray-500">2</span>
                    </div>
                    <div class="flex flex-col items-start ml-5">
                        <span class="text-lg">Personnaliser</span>
                        <span class="text-lg">ma simulation</span>
                    </div>
                </div>

                <div class="flex flex-row items-center justify-start w-52">
                    <div class="flex items-center justify-center w-16 h-16 rounded-full overflow-hidden bg-primary-500">
                        <span class="text-7xl font-bold text-white">3</span>
                    </div>
                    <div class="flex flex-col items-start ml-5 text-primary-500">
                        <span class="text-lg font-semibold">Demander</span>
                        <span class="text-lg font-semibold">mon crédit</span>
                    </div>
                </div>
            </fuse-card>

            <div class="flex flex-col md:flex-row md:items-start max-md:space-y-14 md:space-x-7 mt-10 md:mt-16">

                <!-- Résultat -->
                <mat-drawer-container
                    class="bg-transparent md:w-[45%] rounded-md md:-mt-5"
                    [hasBackdrop]="true"
                    #drawerContainerResult>

                    <mat-drawer
                        class="w-full sm:w-[95%] lg:border-r lg:shadow-none dark:bg-gray-900"
                        [autoFocus]="false"
                        [(opened)]="drawerOpened"
                        #drawerTableauDC>
                        <tableau-amortissement [drawer]="drawerTableauDC"></tableau-amortissement>
                    </mat-drawer>

                    <mat-drawer-content class="px-1 pt-5 pb-1">

                        <fuse-card #resultat
                            class="flex flex-col px-6 pb-8 pt-3 ring-1 ring-primary bg-default rounded-md shadow overflow-visible md:min-h-[75vh]">
                            
                            <div class="absolute inset-x-0 -top-4 flex items-center justify-center">
                                <div class="flex items-center h-8 px-8 rounded-full font-medium text-center leading-none bg-primary text-on-primary">
                                    Récapitulatif
                                </div>
                            </div>

                            <div class="flex flex-col space-y-5">
                                <!-- bouton tableau amortissement -->
                                <div class="ml-auto mt-3">
                                    <button
                                        mat-flat-button
                                        class="fuse-mat-button-small"
                                        type="button" 
                                        [color]="'accent'"
                                        (click)="openTableauAmortissement(1)">
                                        Tableau d'amortissement
                                    </button>
                                </div>

                                <fuse-card class="flex flex-col px-8 py-5 rounded-md shadow"
                                    #fuseCardProfil
                                    [expanded]="openedCard === 1">
                                    <div class="flex flex-row items-center">
                                        <!-- (click)="fuseCardProfil.expanded = !fuseCardProfil.expanded" -->
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 bg-primary-500"
                                            mat-stroked-button
                                            (click)="openedCard === 1 ? openedCard = 0 : openedCard = 1">
                                            <mat-icon
                                                class="icon-size-5 text-white"
                                                *ngIf="!fuseCardProfil.expanded"
                                                [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                                            <mat-icon
                                                class="icon-size-5 text-white"
                                                *ngIf="fuseCardProfil.expanded"
                                                [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                        </button>
                                        <div class="ml-5 text-lg font-bold">Mon profil</div>
                                    </div>

                                    <!-- Expansion -->
                                    <ng-container fuseCardExpansion>
                                        <div class="grid grid-cols-2 gap-x-3 gap-y-5 mt-5 p-5 ring-1 ring-second-500 bg-second-100 rounded-md">
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Nom
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.nom}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Prénom
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.prenom}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Téléphone
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.telephone}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Email
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.email}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Date de naissance
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.dateNaissance}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Nationalité
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.nationalite}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Résidant au maroc
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.residantMaroc}}
                                                </div>
                                            </div>
                                        </div>

                                    </ng-container>
                                </fuse-card>

                                <fuse-card class="flex flex-col px-8 py-3 pb-4 rounded-md shadow"
                                    [expanded]="openedCard === 2"
                                    #fuseCardSituation>
                                    <div class="flex flex-row items-center">
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 bg-primary-500"
                                            mat-stroked-button
                                            (click)="openedCard === 2 ? openedCard = 0 : openedCard = 2">
                                            <mat-icon
                                                class="icon-size-5 text-white"
                                                *ngIf="!fuseCardSituation.expanded"
                                                [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                                            <mat-icon
                                                class="icon-size-5 text-white"
                                                *ngIf="fuseCardSituation.expanded"
                                                [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                        </button>
                                        <div class="ml-5 text-lg font-bold">Ma situation</div>
                                    </div>

                                    <!-- Expansion -->
                                    <ng-container fuseCardExpansion>
                                        <div class="grid grid-cols-2 gap-x-3 gap-y-5 mt-5 p-5 ring-1 ring-second-500 bg-second-100 rounded-md">
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Socio Professionnelle
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.categorieSocioProfessionnelle}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Employeur
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.nomEmployeur}}
                                                </div>
                                            </div>
                                            <div *ngIf="simulationResultat?.anciennete" 
                                                class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Ancienneté
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.anciennete}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Salaire
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.salaire}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Autres revenus
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.autresRevenus}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Montant des crédits en cours
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.creditsEnCours}}
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </fuse-card>

                                <fuse-card class="flex flex-col px-8 py-3 pb-4 rounded-md shadow"
                                    [expanded]="openedCard === 3"
                                    #fuseCardProjet>
                                    <div class="flex flex-row items-center">
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 bg-primary-500"
                                            mat-stroked-button
                                            (click)="openedCard === 3 ? openedCard = 0 : openedCard = 3">
                                            <mat-icon
                                                class="icon-size-5 text-white"
                                                *ngIf="!fuseCardProjet.expanded"
                                                [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                                            <mat-icon
                                                class="icon-size-5 text-white"
                                                *ngIf="fuseCardProjet.expanded"
                                                [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                        </button>
                                        <div class="ml-5 text-lg font-bold">Mon projet</div>
                                    </div>

                                    <!-- Expansion -->
                                    <ng-container fuseCardExpansion>
                                        <div class="grid grid-cols-2 gap-x-3 gap-y-5 mt-5 p-5 ring-1 ring-second-500 bg-second-100 rounded-md">
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Prix du bien
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.montant}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Objet de financement
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.objetFinancement}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Montant
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.montantProposition}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Durée
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.duree}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Promoteur
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.nomPromoteur}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Statut du projet
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.statutProjet}}
                                                </div>
                                            </div>
                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    type de taux
                                                </div>
                                                <div class="font-medium text-xl leading-tight tracking-tight mt-2">
                                                    {{simulationResultat?.typeTaux}}
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </fuse-card>

                                <fuse-card class="flex flex-col px-8 py-3 pb-4 rounded-md shadow"
                                    [expanded]="openedCard === 4"
                                    #fuseCardResultat>
                                    <div class="flex flex-row items-center">
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 bg-primary-500"
                                            mat-stroked-button
                                            (click)="openedCard === 4 ? openedCard = 0 : openedCard = 4">
                                            <mat-icon
                                                class="icon-size-5 text-white"
                                                *ngIf="!fuseCardResultat.expanded"
                                                [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                                            <mat-icon
                                                class="icon-size-5 text-white"
                                                *ngIf="fuseCardResultat.expanded"
                                                [svgIcon]="'heroicons_solid:chevron-up'"></mat-icon>
                                        </button>
                                        <div class="ml-5 text-lg font-bold">Ma simulation</div>
                                    </div>

                                    <!-- Expansion -->
                                    <ng-container fuseCardExpansion>
                                        <div class="grid grid-cols-2 gap-x-3 gap-y-5 mt-5 p-5 ring-1 ring-second-500 bg-second-100 rounded-md">

                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Montant de crédit
                                                </div>
                                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                                    <div class="font-medium text-xl leading-tight tracking-tight" #montantId>
                                                        {{simulationResultat?.montantProposition}}
                                                    </div>
                                                    <div class="ml-2 text-md leading-none">Dhs</div>
                                                </div>
                                            </div>

                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Total des intérêts
                                                </div>
                                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                                    <div class="font-medium text-xl leading-tight tracking-tight" #totalInteretsId>
                                                        {{simulationResultat?.totalInterets}}
                                                    </div>
                                                    <div class="ml-2 text-md leading-none">Dhs</div>
                                                </div>
                                            </div>

                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Coût total du crédit
                                                </div>
                                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                                    <div class="font-medium text-xl leading-tight tracking-tight" #coutTotalId>
                                                        {{simulationResultat?.coutTotal}}
                                                    </div>
                                                    <div class="ml-2 text-md leading-none">Dhs</div>
                                                </div>
                                            </div>

                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Assurances
                                                </div>
                                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                                    <div class="font-medium text-xl leading-tight tracking-tight" #assurancesId>
                                                        {{simulationResultat?.assurances}}
                                                    </div>
                                                    <div class="ml-2 text-md leading-none">Dhs</div>
                                                </div>
                                            </div>

                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Taux de participation
                                                </div>
                                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                                    <div class="font-medium text-xl leading-tight tracking-tight" #tauxParticipationId>
                                                        {{simulationResultat?.tauxParticipation}}
                                                    </div>
                                                    <div class="ml-2 text-md leading-none">%</div>
                                                </div>
                                            </div>

                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    TEG
                                                </div>
                                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                                    <div class="font-medium text-xl leading-tight tracking-tight" #tauxEffectifGlobalId>
                                                        {{simulationResultat?.tauxEffectifGlobal}}
                                                    </div>
                                                    <div class="ml-2 text-md leading-none">%</div>
                                                </div>
                                            </div>

                                            <div class="flex flex-col">
                                                <div class="text-sm font-semibold leading-none text-secondary">
                                                    Expertise immobilière
                                                </div>
                                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                                    <div class="font-medium text-xl leading-tight tracking-tight"
                                                        [ngClass]="{'text-green-600 ': !simulationResultat?.estExpImmoNum}">
                                                        {{simulationResultat?.expertiseImmobiliere}}
                                                    </div>
                                                    <div class="ml-2 text-md leading-none" [ngClass]="{'hidden': !simulationResultat?.estExpImmoNum}">Dhs</div>
                                                </div>
                                            </div>

                                            <div class="flex flex-col">
                                                <span class="text-sm font-semibold leading-none text-secondary">
                                                    Frais de dossier
                                                </span>
                                                <div class="flex items-baseline whitespace-nowrap mt-2">
                                                    <div class="font-medium text-xl leading-tight tracking-tight"
                                                        [ngClass]="{'text-green-600 ': !simulationResultat?.estFraisDossNum}">
                                                        {{simulationResultat?.fraisDossier}}
                                                    </div>
                                                    <div class="ml-2 text-md leading-none" [ngClass]="{'hidden': !simulationResultat?.estFraisDossNum}">Dhs</div>
                                                </div>
                                            </div>

                                            <div class="flex flex-row items-center col-span-2 border-t pt-3">
                                                <span class="text-md font-bold leading-none">
                                                    Mensualité
                                                </span>
                                                <div class="ml-auto flex items-baseline whitespace-nowrap">
                                                    <div class="text-2xl font-bold leading-tight tracking-tight">
                                                        {{simulationResultat?.mensualite}}
                                                    </div>
                                                    <div class="ml-2 md:text-xl leading-none">Dhs/mois</div>
                                                </div>
                                            </div>
                                        </div>

                                    </ng-container>
                                </fuse-card>
                            </div>
                        </fuse-card>

                    </mat-drawer-content>

                </mat-drawer-container>

                <div class="w-full md:w-[55%] bg-card shadow rounded-md overflow-hidden ring-1 ring-current p-6">

                    <div class="text-2xl font-semibold mb-3">Veuillez charger les fichiers ci-dessous : </div>

                    <ng-container *ngIf="pieces && pieces.length > 0">
                        <div class="flex flex-col space-y-1 p-3 bg-gray-50 border border border-gray-300 shadow rounded-md">
                            <ng-container *ngFor="let piece of pieces; let i = index; trackBy: trackByFn">
                                <div class="w-full grid grid-cols-9 items-center justify-between">
                                    <div class="flex flex-row items-center justify-between col-span-5">
                                        <span class="font-medium">
                                            {{piece.libelle}}
                                        </span>
                                        <span class="font-bold">&nbsp;:&nbsp;&nbsp;&nbsp;</span>
                                    </div>
                                    <div class="flex flex-row items-center justify-between col-span-4">
                                        <span class="text-sm text-primary">
                                            {{piece.fileName}}
                                        </span>
                                        <!-- file -->
                                        <div>
                                            <input
                                                id="{{ 'file-input' + i }}"
                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                type="file"
                                                [multiple]="false"
                                                [accept]="'image/jpeg, image/png'"
                                                (change)="uploadPiece(piece, $event.target.files)"
                                                #fileInput>
                                            <button
                                                *ngIf="piece.file"
                                                class="hover:bg-gray-400 hover:bg-opacity-20 dark:hover:bg-black dark:hover:bg-opacity-5"
                                                mat-icon-button
                                                (click)="deletePiece(piece, i)">
                                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            </button>
                                            <label
                                                *ngIf="!piece.file"
                                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-gray-400 hover:bg-opacity-20 dark:hover:bg-black dark:hover:bg-opacity-5"
                                                for="{{ 'file-input' + i }}"
                                                matRipple>
                                                <mat-icon [svgIcon]="'heroicons_outline:upload'"></mat-icon>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>

                    <!-- Actions -->
                    <div class="flex items-center mt-3">
                        <button
                            mat-flat-button
                            class="ml-auto px-8"
                            [ngClass]="{'bg-primary-200' : !estRempli}"
                            [color]="'primary'"
                            type="button"
                            [disabled]="!estRempli"
                            (click)="transformer()">
                            Valider
                        </button>
                    </div>

                    <div class="flex items-center justify-between mt-3">
                        <div>Vous souhaitez poursuivre au niveau d'une agence ?</div>
                        <button
                            mat-flat-button
                            type="button" 
                            [color]="'primary'"
                            (click)="openChangerAgenceDialog()">
                            Sélectionner une agence
                        </button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>