<ng-container *transloco="let t">

    <div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRightBis]="{value:'', params: {duration: 700}}">

        <div class="fixed flex items-center justify-center right-2 bottom-16 w-13 h-13 sm:w-16 sm:h-16 shadow-xl rounded-l-lg z-90 cursor-pointer print:hidden transition-transform duration-150 ease-in-out hover:-translate-y-1 hover:scale-[1.03]">
            <img class="rounded-l-lg opacity-60 hover:opacity-100" src="assets/images/wimo.jpg">
        </div>

        <div class="fixed flex items-center justify-center left-0 bottom-16 w-13 h-13 sm:w-24 sm:h-24 shadow-xl rounded-r-lg z-90 cursor-pointer print:hidden transition-transform duration-150 ease-in-out hover:-translate-y-1 hover:scale-[1.03]">
            <a href="https://www.attijariwafabank.com/fr/profil/mre/ouvrir-un-compte-bancaire-en-ligne" target="blank">
                <img class="rounded-r-lg opacity-60 hover:opacity-100" src="assets/images/open-awb.jpg">
            </a>
        </div>

        <!-- Header -->
        <header class="w-full flex flex-col items-center justify-center space-y-14 md:py-14 min-h-80 sm:min-h-[92vh] landing-bg-header md:bg-fixed">

            <div class="w-full max-w-6xl flex flex-row justify-center md:items-center md:justify-between md:h-2/3">
                <!-- Titre -->
                <div class="md:w-1/2 text-white">
                    <div class="text-2xl md:text-4xl font-extrabold uppercase tracking-tight leading-tight">
                        {{t('header1')}}<br />
                        {{t('header2')}}
                    </div>

                    <div class="hidden md:block max-w-lg text-xl mt-2">
                        {{t('underheader')}}
                    </div>
                </div>

                <!-- Formulaire recherche md -->
                <div class="hidden md:block w-1/2 max-w-md">
                    <projets-filter [parentComponent]="'landing'"></projets-filter>
                </div>
            </div>

            <!-- Parcours md -->
            <parcours [inputMethod]="this.scrollToSimulation.bind(this)"></parcours>

        </header>

        <!-- Formulaire recherche xs,sm et Parcours xs,sm -->
        <div class="md:hidden relative w-full p-5 -mt-16 sm:max-w-md sm:mx-auto">
            
            <projets-filter [parentComponent]="'landing'"></projets-filter>

            <!-- Parcours xs,sm -->
            <parcours-small [inputMethod]="this.scrollToSimulation.bind(this)"></parcours-small>
        </div>

        <vos-avantages></vos-avantages>

        <section id="simulationId" #simulationId class="md:px-16 md:pt-18 md:pb-20">

            <div class="w-full max-w-400 mx-auto max-md:flex max-md:flex-col-reverse md:grid grid-cols-5">
                <!-- recherche par ville -->
                <div class="max-md:w-full max-sm:px-5 sm:max-md:px-16 max-md:py-10 md:col-span-3 md:pr-7">
                    <recherche-ville [isScreenSmall]="isScreenSmall"></recherche-ville>
                </div>

                <!-- simulation -->
                <div class="max-md:w-full max-sm:px-5 sm:max-md:px-16 max-md:py-10 md:col-span-2 md:pl-7"
                    [ngClass]="{'bg-simul': isScreenSmall}">
                    <div class="p-5 sm:p-10 shadow-md rounded-2xl bg-card">
                        <simulation [isScreenSmall]="isScreenSmall"></simulation>
                    </div>
                </div>
            </div>

        </section>

        <nous-choisir></nous-choisir>
        <cinq-etapes></cinq-etapes>
        <actualites [isScreenSmall]="isScreenSmall"></actualites>
        <contactez-nous [isScreenSmall]="isScreenSmall"></contactez-nous>

    </div>

</ng-container>