.custom-carous-landing .carousel__container {

    .carousel__slider {

        .carousel__previous,
        .carousel__next {
            display: none;
        }

    }

    .carousel__bullets {

        .carousel__bullet {
            // dots
            width: 1rem;
            height: 1rem;
        }

    }

    .carousel__bullets>li {
        padding: 0.5rem;
    }

}


// .custom-swiper-landing {

//     .swiper-pagination-bullet {
//         width: 1rem;
//         height: 1rem;
//         margin: 0 0.5rem !important;
//         background: white;
//         opacity: .5;
//     }

//     .swiper-pagination-bullet:hover {
//         opacity: .6;
//     }

//     .swiper-pagination-bullet-active {
//         opacity: 1;
//         background: var(--fuse-primary);
//     }

// }