<div class="hidden md:flex flex-row justify-center space-x-16 text-white mt-20 mb-14">
    <a class="w-40 py-2 flex flex-col items-center justify-start rounded-2xl border-2 border-primary-500 bg-gray-600/[.7] cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
        [routerLink]="['/projets-search']">
        <div class="h-20">
            <mat-icon class="icon-size-20 text-white" svgIcon="property">
            </mat-icon>
        </div>
        <div class="flex flex-col items-center font-semibold my-2">
            <span>Je trouve</span>
            <span>mon bien</span>
        </div>
    </a>
    <a class="w-40 py-2 flex flex-col items-center justify-start rounded-2xl border-2 border-primary-500 bg-gray-600/[.7] cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
        [routerLink]="['./']"
        (click)="inputMethod()">
        <div class="h-20">
            <mat-icon class="icon-size-20 text-white" svgIcon="calculation">
            </mat-icon>
        </div>
        <div class="flex flex-col items-center font-semibold my-2">
            <span>Je simule </span>
            <span>mon crédit</span>
        </div>
    </a>
    <a class="w-40 py-2 flex flex-col items-center justify-start rounded-2xl border-2 border-primary-500 bg-gray-600/[.7] cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
        [routerLink]="['/espace-connecte/simulation-detaillee']">
        <div class="h-20">
            <mat-icon class="icon-size-20 text-white" svgIcon="survey">
            </mat-icon>
        </div>
        <div class="flex flex-col items-center font-semibold my-2">
            <span>Je demande</span>
            <span>mon crédit</span>
        </div>
    </a>
    <a class="w-40 py-2 flex flex-col items-center justify-start rounded-2xl border-2 border-primary-500 bg-gray-600/[.7] cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
        [routerLink]="['./']">
        <div class="h-20">
            <mat-icon class="icon-size-20 text-white" svgIcon="timeline">
            </mat-icon>
        </div>
        <div class="flex flex-col items-center font-semibold my-2">
            <span>Je suis</span>
            <span>mon crédit</span>
        </div>
    </a>
</div>