<div class="hidden md:flex flex-row justify-center">
    <div *ngIf="land === 3" class="w-1/5"></div>
    <div class="flex flex-row justify-center"
        [ngClass]="{'space-x-10': land === 2,
                    'space-x-7': land !== 2,
                    'w-3/5': land === 3}">
        <a class="w-32 py-2 flex flex-col items-center justify-start rounded-2xl border-2 border-primary-500 bg-gray-600/[.7] cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
            [routerLink]="['/projets-search']">
            <div class="h-16">
                <mat-icon class="icon-size-16 text-white" svgIcon="property">
                </mat-icon>
            </div>
            <div class="flex flex-col items-center text-md font-semibold text-white mt-1 mb-1.5">
                <span>Je recherche</span>
                <span>mon bien</span>
            </div>
        </a>
        <a class="w-32 py-2 flex flex-col items-center justify-start rounded-2xl border-2 border-primary-500 bg-gray-600/[.7] cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
            (click)="inputMethod()">
            <div class="h-16">
                <mat-icon class="icon-size-16 text-white" svgIcon="calculation">
                </mat-icon>
            </div>
            <div class="flex flex-col items-center text-md font-semibold text-white mt-1 mb-1.5">
                <span>Je simule </span>
                <span>mon crédit</span>
            </div>
        </a>
        <a class="w-32 py-2 flex flex-col items-center justify-start rounded-2xl border-2 border-primary-500 bg-gray-600/[.7] cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
            [routerLink]="['/espace-connecte/simulation-detaillee']">
            <div class="h-16">
                <mat-icon class="icon-size-16 text-white" svgIcon="survey">
                </mat-icon>
            </div>
            <div class="flex flex-col items-center text-md font-semibold text-white mt-1 mb-1.5">
                <span>Je demande</span>
                <span>mon crédit</span>
            </div>
        </a>
        <a class="relative w-32 py-2 flex flex-col items-center justify-start rounded-2xl border-2 border-primary-500 bg-gray-600/[.7] cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
            [routerLink]="['/espace-connecte/mes-demandes-credit']">

            <a *ngIf="land === 2"
                href="https://www.attijariwafabank.com/fr/profil/particulier/ouvrir-un-compte-bancaire-en-ligne"
                target="blank"
                class="absolute -top-8 -right-8 flex flex-col items-center justify-center h-18 w-18 rounded-full bg-second-500 ring-2 ring-primary-500">
                <img class="h-7 w-fit" src="assets/images/logo/logo-awb.jpg">
                <span class="mt-2 text-xs font-bold text-center leading-none">
                    Ouvrir un<br />compte
                </span>
            </a>

            <div class="h-16">
                <mat-icon class="-mt-1 icon-size-18 text-white" svgIcon="fork">
                </mat-icon>
            </div>
            <div class="flex flex-col items-center text-md font-semibold text-white mt-1 mb-1.5">
                <span>Je suis</span>
                <span>ma demande</span>
            </div>
        </a>
        <a *ngIf="land === 0" class="w-32 py-2 flex flex-col items-center justify-start rounded-2xl border-2 border-primary-500 bg-gray-600/[.7] cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
            href="https://www.attijariwafabank.com/fr/profil/particulier/ouvrir-un-compte-bancaire-en-ligne" target="blank">
            <div class="h-16 flex items-center">
                <img class="h-10" src="assets/images/logo/logo-awb.jpg" alt="Logo image">
            </div>
            <div class="flex flex-col items-center text-md font-semibold text-white mt-1 mb-1.5">
                <span>J'ouvre</span>
                <span>mon compte</span>
            </div>
        </a>
        <a class="w-32 py-2 flex flex-col items-center justify-start rounded-2xl border-2 border-primary-500 bg-gray-600/[.7] cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
            [routerLink]="['/espace-connecte/mes-credits']">
            <div class="h-16">
                <mat-icon class="icon-size-16 text-white" svgIcon="timeline">
                </mat-icon>
            </div>
            <div class="flex flex-col items-center text-md font-semibold text-white mt-1 mb-1.5">
                <span>Je gère</span>
                <span>mon crédit</span>
            </div>
        </a>
    </div>
    <div *ngIf="land === 3" class="w-1/5 flex flex-row justify-center">
        <a class="w-32 py-2 flex flex-col items-center justify-start rounded-2xl border-2 border-primary-500 bg-gray-600/[.7] cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.1] hover:bg-primary-500 hover:border-white"
            href="https://www.attijariwafabank.com/fr/profil/particulier/ouvrir-un-compte-bancaire-en-ligne" target="blank">
            <div class="h-16 flex items-center">
                <img class="h-12" src="assets/images/logo/logo-awb.jpg" alt="Logo image">
            </div>
            <div class="flex flex-col items-center text-md font-semibold text-white my-2">
                <span>J'ouvre</span>
                <span>mon compte</span>
            </div>
        </a>
    </div>
</div>