.b1-bg-header {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), url('/assets/images/pages/nos-guides-et-conseils/header.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (max-width: 959px) {
      background-image:  linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('/assets/images/pages/nos-guides-et-conseils/header-sm.png');
    }
}

.b3-bg {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), url('/assets/images/pages/nos-guides-et-conseils/Bannière 3.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media (max-width: 959px) {
    background-image:  linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), url('/assets/images/pages/nos-guides-et-conseils/Bannière 3-sm.png');
  }
}  

.b4-bg{
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), url('/assets/images/pages/nos-guides-et-conseils/Bannière 4.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media (max-width: 959px) {
    background-image:  linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), url('/assets/images/pages/nos-guides-et-conseils/Bannière 4-sm.png');
  }
} 
  