<mat-drawer-container
    class="bg-transparent rounded-md"
    [ngClass]="{'h-[86vh]': isScreenSmall && drawerOpened}"
    [hasBackdrop]="true"
    #drawerContainerResult>

    <mat-drawer
        class="w-full sm:w-[95%] lg:border-r lg:shadow-none dark:bg-gray-900"
        [autoFocus]="false"
        [(opened)]="drawerOpened"
        #drawerTableauSD>
        <tableau-amortissement [dossierId]="simulationResultat.dossierId" [drawer]="drawerTableauSD"></tableau-amortissement>
    </mat-drawer>

    <mat-drawer-content class="px-1 pt-5 pb-1">

        <fuse-card #resultat
            class="flex flex-col px-6 pb-8 pt-3 ring-1 ring-primary bg-default rounded-md shadow overflow-visible">
            
            <div class="absolute inset-x-0 -top-4 flex items-center justify-center">
                <div class="flex items-center h-8 px-8 rounded-full font-medium text-center leading-none bg-primary text-on-primary">
                    Votre simulation personnalisée
                </div>
            </div>

            <div class="flex flex-col">
                <!-- bouton tableau amortissement -->
                <div class="ml-auto mt-3 mb-5">
                    <button
                        mat-flat-button
                        class="fuse-mat-button-small"
                        type="button" 
                        [color]="'accent'"
                        (click)="openTableauAmortissement()">
                        Tableau d'amortissement
                    </button>
                </div>
                
                <div class="flex flex-col md:flex-row max-md:space-y-10 md:space-x-4">

                    <!-- mensualité -->
                    <div class="md:w-2/3">
                        <!-- header -->
                        <div class="min-h-36 flex flex-col justify-between py-3 px-5 shadow rounded-md bg-primary-500 dark:bg-white dark:bg-opacity-5 dark:text-primary-400">

                            <div class="flex flex-col md:flex-row md:items-end md:justify-between md:space-x-3 text-white">
                                <div class="flex flex-col md:w-[65%] md:border-r md:border-white md:pr-5">
                                    <div class="text-xl md:text-2xl font-semibold leading-tight tracking-tight">Mensualité</div>

                                    <div class="flex items-baseline whitespace-nowrap ml-auto mt-2">
                                        <div class="text-4xl font-bold leading-tight tracking-tight" #mensualiteId>
                                            {{simulationResultat.mensualite | number:'1.2-2'}}
                                        </div>
                                        <div class="ml-2 md:text-xl leading-none">Dhs/mois</div>
                                    </div>
                                </div>
                                <div class="flex flex-col md:items-center md:w-[35%]">
                                    <div class="flex flex-row md:flex-col max-md:items-baseline max-md:space-x-3">
                                        <div class="text-lg md:text-xl font-semibold leading-none">Durée</div>
                                        <div class="flex flex-col md:flex-row mt-2">
                                            <div class="flex flex-row items-baseline">
                                                <div class="font-medium text-2xl md:text-3xl leading-tight tracking-tight" #nbreAnneeId>
                                                    {{simulationResultat.nbreAnnee}}
                                                </div>
                                                <div class="ml-2 md:text-xl leading-none">ans</div>
                                            </div>
                                            <div class="flex flex-row items-baseline md:ml-2"
                                                [ngClass]="{'hidden' : simulationResultat.nbreMois === 0}">
                                                <div class="font-medium text-2xl md:text-3xl leading-tight tracking-tight" #nbreMoisId>
                                                    {{simulationResultat.nbreMois}}
                                                </div>
                                                <div class="ml-2 md:text-xl leading-none">mois</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col mt-2">
                                <div class="w-8 h-1 rounded-2xl bg-second-500"></div>
                                <div class="text-sm font-semibold leading-none tracking-tight text-second-500 mt-2">
                                    Cette échéance inclut les intérêts et frais d’assurance
                                </div>
                            </div>
                        </div>

                        <!-- details -->
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-3 gap-y-5 mt-7">
                            
                            <!-- Montant -->
                            <div class="relative p-3 bg-card rounded-md shadow overflow-hidden">
                                <!-- Border -->
                                <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>

                                <!-- Content -->
                                <div class="flex flex-col">
                                    <div class="font-medium tracking-tight leading-none">
                                        Montant de crédit
                                    </div>
                                    <div class="flex items-baseline whitespace-nowrap mt-2">
                                        <div class="font-semibold text-3xl leading-tight tracking-tight" #montantId>
                                            {{simulationResultat.montant | number:'1.2-2'}}
                                        </div>
                                        <div class="ml-2 text-xl leading-none">Dhs</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Total des intérêts -->
                            <div class="relative p-3 bg-card rounded-md shadow overflow-hidden">
                                <!-- Border -->
                                <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>

                                <!-- Content -->
                                <div class="flex flex-col">
                                    <div class="font-medium tracking-tight leading-none">
                                        Total des intérêts
                                    </div>
                                    <div class="flex items-baseline whitespace-nowrap mt-2">
                                        <div class="font-semibold text-3xl leading-tight tracking-tight" #totalInteretsId>
                                            {{simulationResultat.totalInterets | number:'1.2-2'}}
                                        </div>
                                        <div class="ml-2 text-xl leading-none">Dhs</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Coût total du crédit -->
                            <div class="relative p-3 bg-card rounded-md shadow overflow-hidden">
                                <!-- Border -->
                                <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>

                                <!-- Content -->
                                <div class="flex flex-col">
                                    <div class="font-medium tracking-tight leading-none">
                                        Coût total du crédit
                                    </div>
                                    <div class="flex items-baseline whitespace-nowrap mt-2">
                                        <div class="font-semibold text-3xl leading-tight tracking-tight" #coutTotalId>
                                            {{simulationResultat.coutTotal | number:'1.2-2'}}
                                        </div>
                                        <div class="ml-2 text-xl leading-none">Dhs</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Assurances -->
                            <div class="relative p-3 bg-card rounded-md shadow overflow-hidden">
                                <!-- Border -->
                                <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
    
                                <!-- Content -->
                                <div class="flex flex-col">
                                    <div class="font-medium tracking-tight leading-none">
                                        Assurances
                                    </div>
                                    <div class="flex items-baseline whitespace-nowrap mt-2">
                                        <div class="font-semibold text-3xl leading-tight tracking-tight" #assurancesId>
                                            {{simulationResultat.assurances | number:'1.2-2'}}
                                        </div>
                                        <div class="ml-2 text-xl leading-none">Dhs</div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Taux de participation -->
                            <div class="relative p-3 bg-card rounded-md shadow overflow-hidden">
                                <!-- Border -->
                                <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
    
                                <!-- Content -->
                                <div class="flex flex-col">
                                    <div class="font-medium tracking-tight leading-none">
                                        Taux de participation
                                    </div>
                                    <div class="flex items-baseline whitespace-nowrap mt-2">
                                        <div class="font-semibold text-3xl leading-tight tracking-tight" #tauxParticipationId>
                                            {{simulationResultat.tauxParticipation | number:'1.2-2'}}
                                        </div>
                                        <div class="ml-2 text-xl leading-none">%</div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- TEG -->
                            <div class="relative p-3 bg-card rounded-md shadow overflow-hidden">
                                <!-- Border -->
                                <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
    
                                <!-- Content -->
                                <div class="flex flex-col">
                                    <div class="font-medium tracking-tight leading-none">
                                        TEG
                                    </div>
                                    <div class="flex items-baseline whitespace-nowrap mt-2">
                                        <div class="font-semibold text-3xl leading-tight tracking-tight" #tauxEffectifGlobalId>
                                            {{simulationResultat.tauxEffectifGlobal | number:'1.3-3'}}
                                        </div>
                                        <div class="ml-2 text-xl leading-none">%</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Expertise immobilière -->
                            <div class="relative p-3 bg-card rounded-md shadow overflow-hidden">
                                <!-- Border -->
                                <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
    
                                <!-- Content -->
                                <div class="flex flex-col">
                                    <div class="font-medium tracking-tight leading-none">
                                        Expertise immobilière
                                    </div>
                                    <div class="flex items-baseline whitespace-nowrap mt-2">
                                        <div class="font-semibold text-3xl leading-tight tracking-tight"
                                            #expertiseImmobiliereId
                                            [ngClass]="{'text-green-600 ': !estExpImmoNum}">
                                            {{simulationResultat.expertiseImmobiliere | number:'1.2-2'}}
                                        </div>
                                        <div class="ml-2 text-xl leading-none" [ngClass]="{'hidden': !estExpImmoNum}">Dhs</div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Frais de dossier -->
                            <div class="relative p-3 bg-card rounded-md shadow overflow-hidden">
                                <!-- Border -->
                                <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
    
                                <!-- Content -->
                                <div class="flex flex-col">
                                    <span class="font-medium tracking-tight leading-none">
                                        Frais de dossier
                                    </span>
                                    <div class="flex items-baseline whitespace-nowrap mt-2">
                                        <div class="font-semibold text-3xl leading-tight tracking-tight" #fraisDossierId
                                            [ngClass]="{'text-green-600 ': !estFraisDossNum}">
                                            {{simulationResultat.fraisDossier | number:'1.2-2'}}
                                        </div>
                                        <div class="ml-2 text-xl leading-none" [ngClass]="{'hidden': !estFraisDossNum}">Dhs</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- frais annexes -->
                    <div class="w-full md:w-1/3">

                        <!-- header -->
                        <div class="min-h-36 flex flex-col justify-between py-3 px-5 ring-1 ring-second-500 bg-second-100 shadow rounded-md dark:bg-white dark:bg-opacity-5 dark:text-primary-400">

                            <div class="flex flex-col text-primary-600">
                                <div class="text-2xl font-semibold leading-tight tracking-tight">
                                    Frais annexes
                                </div>
                                <div class="flex items-baseline whitespace-nowrap md:ml-auto mt-2">
                                    <div class="text-3xl font-bold leading-tight tracking-tight" #totalFraisId>
                                        {{simulationResultat.totalFrais | number:'1.2-2'}}
                                    </div>
                                    <div class="ml-2 text-xl leading-none">Dhs</div>
                                </div>
                            </div>

                            <div class="flex flex-col mt-2">
                                <div class="w-8 h-1 rounded-2xl bg-amber-500"></div>
                                <div class="text-sm font-semibold leading-none tracking-tight text-amber-500 mt-2">
                                    Ces montants sont affichés à titre indicatif et ne sont aucunement contractuels
                                </div>
                            </div>
                        </div>

                        <!-- details -->
                        <div class="grid grid-cols-1 gap-y-5 mt-7">

                            <!-- Frais d'enregistrement -->
                            <div class="relative p-3 bg-card rounded-md shadow overflow-hidden">
                                <!-- Border -->
                                <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
    
                                <!-- Content -->
                                <div class="flex flex-col">
                                    <div class="font-medium tracking-tight leading-none">
                                        Frais d'enregistrement
                                    </div>
                                    <div class="flex items-baseline whitespace-nowrap mt-2">
                                        <div class="font-semibold text-3xl leading-tight tracking-tight" #droitsEnregistrementId>
                                            {{simulationResultat.droitsEnregistrement | number:'1.2-2'}}
                                        </div>
                                        <div class="ml-2 text-xl leading-none">Dhs</div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Frais de conservation financière -->
                            <div class="relative p-3 bg-card rounded-md shadow overflow-hidden">
                                <!-- Border -->
                                <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
    
                                <!-- Content -->
                                <div class="flex flex-col">
                                    <div class="font-medium tracking-tight leading-none">
                                        Frais de conservation financière
                                    </div>
                                    <div class="flex items-baseline whitespace-nowrap mt-2">
                                        <div class="font-semibold text-3xl leading-tight tracking-tight" #conservationFonciereId>
                                            {{simulationResultat.conservationFonciere | number:'1.2-2'}}
                                        </div>
                                        <div class="ml-2 text-xl leading-none">Dhs</div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Frais de dossier notaire -->
                            <div class="relative p-3 bg-card rounded-md shadow overflow-hidden">
                                <!-- Border -->
                                <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
    
                                <!-- Content -->
                                <div class="flex flex-col">
                                    <div class="font-medium tracking-tight leading-none">
                                        Frais de dossier notaire
                                    </div>
                                    <div class="flex items-baseline whitespace-nowrap mt-2">
                                        <div class="font-semibold text-3xl leading-tight tracking-tight" #fraisDiversId>
                                            {{simulationResultat.fraisDivers | number:'1.2-2'}}
                                        </div>
                                        <div class="ml-2 text-xl leading-none">Dhs</div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- Honoraires de notaire -->
                            <div class="relative p-3 bg-card rounded-md shadow overflow-hidden">
                                <!-- Border -->
                                <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary-500"></div>
    
                                <!-- Content -->
                                <div class="flex flex-col">
                                    <div class="font-medium tracking-tight leading-none">
                                        Honoraires de notaire
                                    </div>
                                    <div class="flex items-baseline whitespace-nowrap mt-2">
                                        <div class="font-semibold text-3xl leading-tight tracking-tight" #honorairesNotaireId>
                                            {{simulationResultat.honorairesNotaire | number:'1.2-2'}}
                                        </div>
                                        <div class="ml-2 text-xl leading-none">Dhs</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Actions -->
            <div class="flex flex-col max-md:space-y-2 md:flex-row items-center justify-center mt-5">
                <button 
                    class="max-md:w-full"
                    mat-flat-button
                    type="button"
                    [color]="'primary'"
                    (click)="navigateToDemandeCredit()">
                    Demander mon crédit
                </button>
                <button
                    *ngIf="simulationResultat.newSimulation"
                    class="max-md:w-full md:ml-2 bg-gray-200"
                    mat-stroked-button
                    type="button" 
                    [routerLink]="['/espace-connecte']">
                    Enregistrer ma simulation
                </button>
                <button 
                    class="max-md:w-full md:ml-2 bg-gray-200"
                    mat-stroked-button
                    type="button"
                    [color]="'warn'"
                    (click)="abandonner()">
                    Abandonner
                </button>
            </div>

        </fuse-card>

    </mat-drawer-content>

</mat-drawer-container>
