<div class="absolute inset-0 flex flex-col min-w-0 md:overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}">

    <div class="h-full grid grid-cols-1 md:grid-cols-2">

        <div class="reclamation-bg-header min-h-76 md:h-full"></div>

        <div #reclamationTag class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20 md:overflow-y-auto">

            <div class="text-2xl md:text-4xl uppercase font-extrabold tracking-tight leading-tight text-primary">
                Vous avez une réclamation ?
                <br />
                Nous sommes à l’écoute.
            </div>

            <fuse-card class="flex flex-col bg-card py-6 sm:py-8 mt-7">
                <!-- Header -->
                <div class="flex flex-0 items-center border-b px-6 sm:px-10 pb-3">
                    <div class="text-2xl font-semibold">Remplissez le formulaire ci-dessous et notre chargé de réclamation prendra contact avec vous dans les plus brefs délais</div>
                </div>

                <!-- Alert -->
                <fuse-alert class="px-6 sm:px-10 pt-6 w-full" *ngIf="alert" [appearance]="'outline'"
                    [type]="alert.type">
                    {{alert.message}}
                </fuse-alert>

                <!-- Main Form -->
                <form class="flex flex-col pt-5"
                    [formGroup]="reclamationForm"
                    #reclamationNgForm="ngForm">

                    <div class="w-full grid grid-cols-1 md:grid-cols-2 md:gap-x-2 gap-y-1 px-6 sm:px-10">

                        <!-- Objet réclamation -->
                        <mat-form-field class="w-full md:col-span-2" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon class="icon-size-5" [svgIcon]="'mat_solid:view_list'" matPrefix>
                            </mat-icon>
                            <mat-label class="max-md:text-sm max-md:font-semibold">Objet réclamation</mat-label>
                            <mat-select [formControlName]="'motif'">
                                <ng-container *ngFor="let motif of motifs">
                                    <mat-option [value]="motif.id">
                                        {{motif.libelleselfcare}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>

                        <ng-container *ngIf="pieces.length > 0">
                            <div class="flex flex-col space-y-3 p-3 border border-gray-300 shadow-sm rounded-md mb-3 md:col-span-2">
                                <check-list [pieces]="pieces"></check-list>
                            </div>
                        </ng-container>

                        <!-- Nom -->
                        <mat-form-field class="w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix>
                            </mat-icon>
                            <input matInput [formControlName]="'nom'">
                            <mat-label class="max-md:text-sm max-md:font-semibold">Nom<span
                                    *ngIf="notAlerteEthique">&nbsp;*</span></mat-label>
                            <mat-error *ngIf="reclamationForm.get('nom').hasError('required')">
                                Nom obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- Prénom -->
                        <mat-form-field class="w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix>
                            </mat-icon>
                            <input matInput [formControlName]="'prenom'">
                            <mat-label class="max-md:text-sm max-md:font-semibold">Prénom<span
                                    *ngIf="notAlerteEthique">&nbsp;*</span></mat-label>
                            <mat-error *ngIf="reclamationForm.get('prenom').hasError('required')">
                                Prénom obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- CIN -->
                        <mat-form-field class="w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:identification'" matPrefix>
                            </mat-icon>
                            <input matInput [formControlName]="'cin'">
                            <mat-label class="max-md:text-sm max-md:font-semibold">CIN<span
                                    *ngIf="notAlerteEthique">&nbsp;*</span></mat-label>
                            <mat-error *ngIf="reclamationForm.get('cin').hasError('required')">
                                CIN obligatoire
                            </mat-error>
                        </mat-form-field>

                        <div></div>

                        <!-- Numéro de dossier -->
                        <!-- <mat-form-field class="w-full"
                            [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix>
                            </mat-icon>
                            <input matInput [formControlName]="'numeroDossier'">
                            <mat-label class="max-md:text-sm max-md:font-semibold">Numéro de dossier</mat-label>
                        </mat-form-field> -->

                        <!-- Téléphone -->
                        <mat-form-field class="w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:phone'" matPrefix>
                            </mat-icon>
                            <input matInput [formControlName]="'telephone'" appFormatTelephone >
                            <mat-label class="max-md:text-sm max-md:font-semibold">Téléphone<span
                                    *ngIf="notAlerteEthique">&nbsp;*</span></mat-label>
                            <mat-error *ngIf="reclamationForm.get('telephone').hasError('required')">
                                Téléphone obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- Email -->
                        <mat-form-field class="w-full" [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'" matPrefix></mat-icon>
                            <input type="email" matInput [formControlName]="'email'">
                            <mat-label class="max-md:text-sm max-md:font-semibold">E-mail<span
                                    *ngIf="notAlerteEthique">&nbsp;*</span></mat-label>
                            <mat-error *ngIf="reclamationForm.get('email').hasError('email')">
                                Veuillez saisir une adresse mail valide
                            </mat-error>
                            <mat-error *ngIf="reclamationForm.get('email').hasError('required')">
                                Adresse mail obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- Message -->
                        <mat-form-field class="fuse-mat-textarea w-full md:col-span-2">
                            <textarea matInput 
                                [formControlName]="'text'"
                                [required]="true"
                                [rows]="3"
                                matTextareaAutosize>
                            </textarea>
                            <mat-label class="max-md:text-sm max-md:font-semibold">Message</mat-label>
                            <mat-error *ngIf="reclamationForm.get('text').hasError('required')">
                                Message obligatoire
                            </mat-error>
                        </mat-form-field>

                        <!-- Bonne foi -->
                        <mat-checkbox *ngIf="!notAlerteEthique" class="md:col-span-2" [color]="'primary'"
                            [formControlName]="'bonneFoi'">
                            <span>Déclaration de bonne foi et de la véracité des faits remontés *</span>
                        </mat-checkbox>

                    </div>

                    <div class="flex justify-center mt-9">
                        <app-captcha (captchaValid)="isCaptchaValid = $event"></app-captcha>
                    </div>
                    
                    <!-- Actions -->
                    <div class="flex items-center justify-end px-6 sm:px-10 mt-3">
                        <button mat-stroked-button
                            [color]="'accent'"
                            [disabled]="reclamationForm.pristine || reclamationForm.untouched"
                            (click)="clearForm()">
                            Vider
                        </button>
                        <button class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="reclamationForm.pristine || reclamationForm.invalid || !isCaptchaValid"
                            (click)="sendForm()">
                            Envoyer
                        </button>
                    </div>

                    <div *ngIf="!notAlerteEthique"
                        class="flex flex-row space-x-2 py-2 px-4 rounded-md shadow bg-amber-100 mx-6 sm:mx-10 mt-5">
                        <mat-icon class="icon-size-5 text-amber-500" [svgIcon]="'heroicons_solid:information-circle'">
                        </mat-icon>
                        <span class="text-sm font-semibold">Les informations saisies sont confidentielles et accessibles
                            uniquement par la Conformité Wafa Immobilier pour les besoins de la prise en charge de votre
                            alerte éthique. La confidentialité de vos données personnelles est garantie par les
                            conditions de sécurité de la plateforme. Ces informations ne peuvent être communiquées aux
                            autorités judiciaires qu’avec votre consentement.
                        </span>
                    </div>
                </form>

            </fuse-card>

        </div>
        
    </div>

</div>