
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Inscrivez-vous</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Vous avez déjà un compte ?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']">Ce connecter
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign Up form -->
            <form
                class="mt-8"
                [formGroup]="signUpForm">
                <div *ngIf="choix">
                <mat-radio-group class="flex flex-col md:col-span-2 w-full"
                    [formControlName]="'client'">
                    <mat-label class="text-sm font-semibold">êtes-vous client Wafaimmobilier ? </mat-label>
                    <div class="flex flex-row mt-1.5 bg-card px-4 py-2 md:py-3 rounded-md shadow ring-1 ring-gray-300 w-full">
                        <mat-radio-button [value]="'true'">Oui</mat-radio-button>
                        <mat-radio-button class="ml-5" [value]="'false'">Non</mat-radio-button>
                    </div>
                </mat-radio-group>
                </div>
                <div *ngIf="abonne">
                <!-- Name field -->
                <mat-form-field class="w-full">
                    <mat-label>Nom</mat-label>
                    <input
                        id="name"
                        matInput
                        [formControlName]="'name'">
                    <mat-error *ngIf="signUpForm.get('name').hasError('required')">
                        Full name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Prenom *</mat-label>
                    <input
                        id="prenom"
                        matInput
                        [formControlName]="'prenom'">
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Téléphone *</mat-label>
                    <input
                        id="telephone"
                        matInput
                        [formControlName]="'telephone'" appFormatTelephone>
                </mat-form-field>

                <!-- ToS and PP -->
                <div class="inline-flex items-end w-full mt-1.5">
                    <mat-checkbox
                        [color]="'primary'"
                        [formControlName]="'agreements'">
                        <span>I agree to the</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']">Terms of Service
                        </a>
                        <span>and</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']">Privacy Policy
                        </a>
                    </mat-checkbox>
                </div>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.disabled"
                    (click)="signUp()">
                    <span *ngIf="!signUpForm.disabled">
                        Inscription
                    </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
                </div>
                <div *ngIf="connecte">
                    <!-- Name field -->
                    <mat-form-field class="w-full">
                        <mat-label>Nom</mat-label>
                        <input
                            id="name"
                            matInput
                            [formControlName]="'name'">
                        <mat-error *ngIf="signUpForm.get('name').hasError('required')">
                            Full name is required
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field class="w-full">
                        <mat-label>Prenom *</mat-label>
                        <input
                            id="prenom"
                            matInput
                            [formControlName]="'prenom'">
                    </mat-form-field>
    
                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <mat-label>Email</mat-label>
                        <input
                            id="email"
                            matInput
                            [formControlName]="'email'">
                        <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                            Email address is required
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
    
                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <mat-label>Téléphone *</mat-label>
                        <input
                            id="telephone"
                            matInput
                            [formControlName]="'telephone'" appFormatTelephone>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>CIN *</mat-label>
                        <input
                            id="CIN"
                            matInput
                            [formControlName]="'CIN'">
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>Date naissance *</mat-label>
                        <input
                            id="datenaissance"
                            matInput
                            [formControlName]="'datenaissance'">
                    </mat-form-field>
    
                    <!-- ToS and PP -->
                    <div class="inline-flex items-end w-full mt-1.5">
                        <mat-checkbox
                            [color]="'primary'"
                            [formControlName]="'agreements'">
                            <span>I agree to the</span>
                            <a
                                class="ml-1 text-primary-500 hover:underline"
                                [routerLink]="['./']">Terms of Service
                            </a>
                            <span>and</span>
                            <a
                                class="ml-1 text-primary-500 hover:underline"
                                [routerLink]="['./']">Privacy Policy
                            </a>
                        </mat-checkbox>
                    </div>
    
                    <!-- Submit button -->
                    <button
                        class="fuse-mat-button-large w-full mt-6"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="signUpForm.disabled"
                        (click)="signUp()">
                        <span *ngIf="!signUpForm.disabled">
                            Inscription
                        </span>
                        <mat-progress-spinner
                            *ngIf="signUpForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                    </div>
            </form>
        </div>
