.espace-connected-bg-header-vice {
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('/assets/images/admin/espace-conn/espace-abonne-vd.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (max-width: 959px) {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('/assets/images/admin/espace-conn/shutterstock_2133541715.jpg');
    color: rgb(255 255 255);
  }
}
