<div class="flex flex-col flex-auto min-w-0 min-h-[85vh]" [@fadeInRight]="{value:'', params: {duration: 700}}">

    <!-- [headerLibelle]="'Mon espace'" -->
    <page-header-connecte
        [headerStyle]="'espace-connected-bg-header-vice'"
        [showUser]="'true'">
    </page-header-connecte>

    <!-- notification -->
    <!-- <section class="px-5 sm:px-16 mt-5">
        <div class="w-full max-w-400 mx-auto">
            <div class="ml-auto max-w-70">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="font-medium leading-tight">
                                Impayé<span class="text-warn">&nbsp;(0)</span>
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <p>Vous n'avez pas de nouveaux impayés</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </section> -->

    <!-- le menu principale xs,sm -->
    <div class="md:hidden flex flex-col items-center w-full bg-card px-6 sm:px-16 py-10 sm:pt-18 sm:pb-20">
        <div class="grid grid-cols-1 gap-y-3 text-primary">

            <div class="flex flex-row items-center max-md:rounded-lg max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-2">
                <mat-icon class="icon-size-8 text-primary" [svgIcon]="'home-heart'">
                </mat-icon>
                <a routerLink="/espace-connecte/mes-projets-favoris" 
                    class="ml-2">
                    Mes Projets Favoris ( {{ countProjetFavoris }} )
                </a>
            </div>

            <div class="flex flex-row items-center max-md:rounded-lg max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-2">
                <mat-icon class="icon-size-8 text-primary" [svgIcon]="'calculation'">
                </mat-icon>
                <a routerLink="/espace-connecte/mes-simulations"
                    class="ml-2">
                    Mes Simulations réalisées ( {{ countSimulation }} )
                </a>
            </div>

            <div class="flex flex-row items-center max-md:rounded-lg max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-2">
                <mat-icon class="icon-size-8 text-primary" [svgIcon]="'survey'">
                </mat-icon>
                <a routerLink="/espace-connecte/mes-demandes-credit"
                    class="ml-2">
                    Mes Demandes de crédit ( {{ countDemandesCredits }} )
                </a>
            </div>

            <div class="flex flex-row items-center max-md:rounded-lg max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-2">
                <mat-icon class="icon-size-8 text-primary" [svgIcon]="'finance'">
                </mat-icon>
                <a routerLink="/espace-connecte/mes-credits"
                    class="ml-2">
                    Mes crédits en cours ( {{ countCredit }} )
                </a>
            </div>

            <div class="flex flex-row items-center max-md:rounded-lg max-md:border-2 max-md:border-primary px-3 sm:max-md:px-5 py-2">
                <mat-icon class="icon-size-8 text-primary" [svgIcon]="'home-repair'">
                </mat-icon>
                <a routerLink="/espace-connecte/mes-operations-sav"
                    class="ml-2">
                    Mes opérations SAV ( {{ countDemandesSAV }} )
                </a>
            </div>
        </div>
    </div>

    <!-- Menu principale md -->
    <div class="flex-auto hidden md:flex flex-col items-center px-6 sm:px-16 py-10 sm:pt-18 sm:pb-20">

        <div class="grid grid-cols-5 gap-x-10 mt-7">

            <fuse-card class="w-60 relative flex flex-col items-center px-5 pb-7 overflow-visible ring-1 ring-primary-500 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.05] hover:bg-[#fae7e8]"
                routerLink="/espace-connecte/mes-projets-favoris">

                <div class="mx-auto absolute inset-x-0 -top-8 flex items-center justify-center h-16 w-16 rounded-full bg-primary-500">
                    <mat-icon class="icon-size-12 text-on-primary -mt-1" svgIcon="home-heart">
                    </mat-icon>
                </div>

                <div class="flex flex-col space-y-7 items-center mt-14">
                    <div class="flex flex-col items-center text-xl md:text-2xl font-semibold">
                        <span>Mes Projets</span>
                        <span>favoris</span>
                    </div>
                    
                    <div class="flex items-center justify-center w-16 h-16 rounded-full bg-[#f4ced0] text-4xl font-bold">
                        {{ countProjetFavoris }}
                    </div>
                </div>

            </fuse-card>

            <fuse-card class="w-60 relative flex flex-col items-center px-5 pb-7 overflow-visible ring-1 ring-primary-500 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.05] hover:bg-[#fae7e8]"
                routerLink="/espace-connecte/mes-simulations">

                <div class="mx-auto absolute inset-x-0 -top-8 flex items-center justify-center h-16 w-16 rounded-full bg-primary-500">
                    <mat-icon class="icon-size-14 text-on-primary -mt-1" svgIcon="calculation">
                    </mat-icon>
                </div>

                <div class="flex flex-col space-y-7 items-center mt-14">
                    <div class="flex flex-col items-center text-xl md:text-2xl font-semibold">
                        <span>Mes Simulations</span>
                        <span>réalisées</span>
                    </div>
                    
                    <div class="flex items-center justify-center w-16 h-16 rounded-full bg-[#f4ced0] text-4xl font-bold">
                        {{ countSimulation }}
                    </div>
                </div>

            </fuse-card>
            
            <fuse-card class="w-60 relative flex flex-col items-center px-5 pb-7 overflow-visible ring-1 ring-primary-500 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.05] hover:bg-[#fae7e8]"
                routerLink="/espace-connecte/mes-demandes-credit">

                <div class="mx-auto absolute inset-x-0 -top-8 flex items-center justify-center h-16 w-16 rounded-full bg-primary-500">
                    <mat-icon class="icon-size-14 text-on-primary ml-2" svgIcon="survey">
                    </mat-icon>
                </div>

                <div class="flex flex-col space-y-7 items-center mt-14">
                    <div class="flex flex-col items-center text-xl md:text-2xl font-semibold">
                        <span>Mes Demandes</span>
                        <span>de crédit</span>
                    </div>
                    
                    <div class="flex items-center justify-center w-16 h-16 rounded-full bg-[#f4ced0] text-4xl font-bold">
                        {{ countDemandesCredits }}
                    </div>
                </div>

            </fuse-card>

            <fuse-card class="w-60 relative flex flex-col items-center px-5 pb-7 overflow-visible ring-1 ring-primary-500 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.05] hover:bg-[#fae7e8]"
                routerLink="/espace-connecte/mes-credits">

                <div class="mx-auto absolute inset-x-0 -top-8 flex items-center justify-center h-16 w-16 rounded-full bg-primary-500">
                    <mat-icon class="icon-size-16 text-on-primary ml-0.5" svgIcon="finance">
                    </mat-icon>
                </div>

                <div class="flex flex-col space-y-7 items-center mt-14">
                    <div class="flex flex-col items-center text-xl md:text-2xl font-semibold">
                        <span>Mes crédits</span>
                        <span>en cours</span>
                    </div>
                    
                    <div class="flex items-center justify-center w-16 h-16 rounded-full bg-[#f4ced0] text-4xl font-bold">
                        {{ countCredit }}
                    </div>
                </div>

            </fuse-card>
            
            <fuse-card class="w-60 relative flex flex-col items-center px-5 pb-7 overflow-visible ring-1 ring-primary-500 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.05] hover:bg-[#fae7e8]"
                routerLink="/espace-connecte/mes-operations-sav">

                <div class="mx-auto absolute inset-x-0 -top-8 flex items-center justify-center h-16 w-16 rounded-full bg-primary-500">
                    <mat-icon class="icon-size-14 text-on-primary -mt-2" svgIcon="home-repair">
                    </mat-icon>
                </div>

                <div class="flex flex-col space-y-7 items-center mt-14">
                    <div class="flex flex-col items-center text-xl md:text-2xl font-semibold">
                        <span>Mes opérations</span>
                        <span>SAV</span>
                    </div>
                    
                    <div class="flex items-center justify-center w-16 h-16 rounded-full bg-[#f4ced0] text-4xl font-bold">
                        {{ countDemandesSAV }}
                    </div>
                </div>

            </fuse-card>

        </div>

    </div>

    <div class="px-6 sm:px-16 py-10 sm:py-12 bg-primary-600 text-on-primary-600">
        <div class="flex flex-col items-center w-full max-w-7xl mx-auto text-center">
            <div class="text-2xl sm:text-3xl md:text-4xl font-extrabold leading-6 sm:leading-10">Je réalise mon projet immobilier</div>
            <div class="mt-2 text-2xl sm:text-3xl md:text-4xl font-extrabold leading-6 sm:leading-10 text-black text-opacity-70">avec un parcours simplifié et 100% digital</div>
        </div>
    </div>

    <!-- Parcours xs,sm -->
    <div class="md:hidden mt-3 mb-5">
        <parcours-small></parcours-small>
    </div>

    <!-- Parcours MD -->
    <div class="hidden md:flex flex-col items-center px-6 sm:px-16 py-10 sm:pt-18 sm:pb-20 bg-gray-300">
        
        <div class="flex flex-row items-center space-x-7">
        
            <div class="relative flex flex-row items-center justify-center rounded-full ring-1 ring-gray-600 p-2 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.05]"
                routerLink='/projets-search'>
                <div class="z-20 flex flex-row items-center rounded-full bg-card p-1.5 shadow-md">
                    <div class="flex items-center justify-center h-14 w-14 rounded-full bg-second-500">
                        <mat-icon class="icon-size-12 text-black -ml-0.5" svgIcon="property">
                        </mat-icon>
                    </div>
                    <div class="mx-5 flex flex-col text-xl font-semibold">
                        <span>Je recherche</span>
                        <span>mon bien</span>
                    </div>
                </div>
                <span class="z-10 absolute -right-4 bg-gray-300 rounded-full h-10 w-10">
                </span>
                <span class="z-30 absolute -right-2.5 bg-black rounded-full h-6 w-6">
                </span>
                <mat-icon class="z-40 absolute -right-3 icon-size-7 text-second-500" svgIcon="arrow-right">
                </mat-icon>
            </div>

            <div class="relative flex flex-row items-center justify-center rounded-full ring-1 ring-gray-600 p-2 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.05]"
                routerLink='/simulation-personnalisee'>
                <div class="z-20 flex flex-row items-center rounded-full bg-card p-1.5 shadow-md">
                    <div class="flex items-center justify-center h-14 w-14 rounded-full bg-second-500">
                        <mat-icon class="icon-size-12 text-black ml-0.5" svgIcon="calculation">
                        </mat-icon>
                    </div>
                    <div class="mx-5 flex flex-col text-xl font-semibold text-black">
                        <span>Je simule</span>
                        <span>mon crédit</span>
                    </div>
                </div>
                <span class="z-10 absolute -right-4 bg-gray-300 rounded-full h-10 w-10">
                </span>
                <span class="z-30 absolute -right-2.5 bg-black rounded-full h-6 w-6">
                </span>
                <mat-icon class="z-40 absolute -right-3 icon-size-7 text-second-500" svgIcon="arrow-right">
                </mat-icon>
            </div>

            <div class="relative flex flex-row items-center justify-center rounded-full ring-1 ring-gray-600 p-2 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.05]"
                routerLink='/espace-connecte/simulation-detaillee'>
                <div class="z-20 flex flex-row items-center rounded-full bg-card p-1.5 shadow-md">
                    <div class="flex items-center justify-center h-14 w-14 rounded-full bg-second-500">
                        <mat-icon class="icon-size-12 text-black ml-1" svgIcon="survey">
                        </mat-icon>
                    </div>
                    <div class="mx-5 flex flex-col text-xl font-semibold text-black">
                        <span>Je demande</span>
                        <span>mon crédit</span>
                    </div>
                </div>
                <span class="z-10 absolute -right-4 bg-gray-300 rounded-full h-10 w-10">
                </span>
                <span class="z-30 absolute -right-2.5 bg-black rounded-full h-6 w-6">
                </span>
                <mat-icon class="z-40 absolute -right-3 icon-size-7 text-second-500" svgIcon="arrow-right">
                </mat-icon>
            </div>

            <div class="relative flex flex-row items-center justify-center rounded-full ring-1 ring-gray-600 p-2 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.05]"
                routerLink='/espace-connecte/mes-demandes-credit'>
                <div class="z-20 flex flex-row items-center rounded-full bg-card p-1.5 shadow-md">
                    <div class="flex items-center justify-center h-14 w-14 rounded-full bg-second-500">
                        <mat-icon class="icon-size-14 text-black -mt-0.5" svgIcon="fork">
                        </mat-icon>
                    </div>
                    <div class="mx-5 flex flex-col text-xl font-semibold text-black">
                        <span>Je suis</span>
                        <span>ma demande</span>
                    </div>
                </div>
                <span class="z-10 absolute -right-4 bg-gray-300 rounded-full h-10 w-10">
                </span>
                <span class="z-30 absolute -right-2.5 bg-black rounded-full h-6 w-6">
                </span>
                <mat-icon class="z-40 absolute -right-3 icon-size-7 text-second-500" svgIcon="arrow-right">
                </mat-icon>
            </div>

            <div class="relative flex flex-row items-center justify-center rounded-full ring-1 ring-gray-600 p-2 cursor-pointer transition-transform duration-500 ease-in-out hover:-translate-y-3 hover:scale-[1.05]"
                routerLink='/espace-connecte/mes-credits'>
                <div class="z-20 flex flex-row items-center rounded-full bg-card p-1.5 shadow-md">
                    <div class="flex items-center justify-center h-14 w-14 rounded-full bg-second-500">
                        <mat-icon class="icon-size-12 text-black" svgIcon="timeline">
                        </mat-icon>
                    </div>
                    <div class="mx-5 flex flex-col text-xl font-semibold text-black">
                        <span>Je gère</span>
                        <span>mon crédit</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>