.espace-connected-bg-header-vice {
  background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('/assets/images/pages/landingBis/espace abonne.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.absolute {
  position: fixed;
  bottom: 0;
}


.chiffre-bg {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.chiffre-bg2 {
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('/assets/images/pages/nous-connaitre/backgd.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

//**************************************************************************************
// nous connaitre FZ
//**************************************************************************************
.u-section-2 {
  position: relative;
  display: block;
  width: 100%;
}

.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
}


// .u-section-2 .u-layout-wrap-1 {
  // width: 1029px;
  // margin: -758px auto 0;
  // background-color: yellow;
// }

// amine

.btn {
  border: 1px solid white;
  border-radius: 5px;
  background-color: #b4272f

}
.bg-primary-2 {
  background-color:#b4272f
}