<div class=" flex flex-col flex-auto min-w-0 overflow-hidden bg-white "
  [@fadeInRight]="{value:'', params: {duration: 700}}">

  <!-- Header -->
  <section class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20 w-full min-h-[45vh] sm:min-h-[30vh] b1-bg-header">
    <div class="w-full max-w-400 mx-auto flex flex-col items-start justify-end">
      <div class="py-8  flex flex-col justify-start items-center ">
        <div class="hidden sm:block text-2xl sm:text-3xl  md:text-4xl uppercase font-bold tracking-tight leading-tight ">
          Espace multimédia
        </div>
      </div>
      
    </div>
  </section>
  <section class="sm:hidden px-5 py-4  w-full min-h-10 ">
    <div class="w-full max-w-400 mx-auto flex flex-col items-start justify-end">
      <div class="py-8  flex flex-col justify-start items-center ">
        <div class=" text-2xl uppercase font-bold tracking-tight leading-tight ">
          Espace multimédia
        </div>
      </div>
      
    </div>
  </section>

  <section class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20  min-h-80 md:min-h-76 bg-white">
    <div class="w-full max-w-400 mx-auto flex flex-col ">
      <div class="text-2xl md:text-4xl items-start uppercase font-large tracking-tight leading-tight text-primary ">
        NOS vidéos
      </div>
      <div class=" grid grid-cols-1 sm:p-10 sm:grid-cols-3  gap-y-8 sm:gap-y-6 md:gap-y-8 gap-x-8 sm:gap-x-12 md:gap-x-15  ">
        <div
          class="rounded-xl min-h-50 overflow-hidden shadow-md bg-primary mt-5 flex-left  divide-y-4 divide-white ">
          <div >
            <iframe class="w-full sm:min-h-60"
            src="https://www.youtube.com/embed/FEwywKvpETA?controls=1&autoplay=0&mute=1&loop=0&modestbranding=1&fs=0&rel=0&showinfo=1&disablekb=0"
            frameborder="1">
          </iframe>
          </div>
          <div>
            <div class=" mx-4 grid grid-cols-1 ">
              <div class="p-4 text-justify ">
                <h2 class="font-bold text-white">Marketplace immobilière de Wafa Immobilier - Version française  </h2>
              </div>
             </div>
          </div>
        </div>
        <div
          class="rounded-xl min-h-50 overflow-hidden shadow-md bg-primary mt-5 flex-left  divide-y-4 divide-white ">
          <div >
            <iframe class="w-full sm:min-h-60"
            src="https://www.youtube.com/embed/Xdb205fO_2s?controls=1&autoplay=0&mute=1&loop=0&modestbranding=1&fs=0&rel=0&showinfo=1&disablekb=0"
            frameborder="1">
          </iframe>
          </div>
          <div>
            <div class=" mx-4 grid grid-cols-1 ">
              <div class="p-4 text-justify">
                <h2 class="font-bold text-white">Wafa immobilier 2022 - Accompagner vos projets - version française</h2>
              </div>
             </div>
          </div>
        </div>
        <div
          class="rounded-xl min-h-50 overflow-hidden shadow-md bg-primary mt-5 flex-left  divide-y-4 divide-white ">
          <div >
            <iframe class="w-full sm:min-h-60"
            src="https://www.youtube.com/embed/WzhdLOCPvFg?controls=1&autoplay=0&mute=1&loop=0&modestbranding=1&fs=0&rel=0&showinfo=1&disablekb=0"
            frameborder="1">
          </iframe>
          </div>
          <div>
            <div class=" mx-4 grid grid-cols-1 ">
              <div class="p-4 text-justify">
                <h2 class="font-bold text-white">Wafa Immobilier - Accompagner vos projets - version arabe   </h2>
              </div>
             </div>
          </div>
        </div>    

      </div> 
      <div class="py-8 mx-auto flex flex-col items-center justify-center"> 
        <div
            class=" group  w-fit sm:min-h-8 p-1 sm:p-2 px-3 sm:px-5 rounded-3xl  cursor-pointer bg-gray-700  transition-transform duration-500 ease-in-out hover:scale-[1.1] hover:border-primary"
            >
            <a href="https://www.youtube.com/@wafaimmobilier9643" target="_blank">
              <label class=" font-medium  sm:text-2xl text-white  group-hover:cursor-pointer p-2">Voir plus sur la chaine Youtube 
              </label>
            </a>
          </div>
      </div>
      
      
    </div>
  </section>

    <section class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20  min-h-80 md:min-h-76 bg-primary">
    <div class="w-full  max-w-400 mx-auto md:flex flex-col flex-wrap  justify-start  ">
      <div class="sm:grid sm:grid-cols-2">
        <div>
          <div
            class="text-2xl sm:text-3xl md:text-4xl  items-center sm:items-start uppercase font-bold tracking-tight leading-tight text-white ">
            S'informer en un seul clic !
          </div>

          <div>
            <div
              class=" sm:text-xl  pt-5 pb-2 sm:pt-9 sm:pb-4 items-center sm:items-start  font-medium tracking-tight leading-tight text-white text-justify  ">
              La lettre Wafa Immobilier vous facilite d’avoir toutes les actualités de l’immobilier !
            </div>
            <div
              class=" sm:text-xl  pb-2  sm:pb-4 items-center sm:items-start  font-medium tracking-tight leading-tight text-white text-justify  ">
              Découvrez dans chaque numéro, toutes les nouveautés du secteur, ses chiffres clés, des dossiers
              immobiliers et bien plus encore.
            </div>
            <div class="py-5  mx-auto flex flex-col items-center justify-center">
              <div
                class="group p-1 sm:p-2 w-fit px-3 sm:px-5 sm:min-h-8 items-center text-center justify-center rounded-3xl  cursor-pointer bg-gray-800  transition-transform duration-500 ease-in-out hover:scale-[1.1] hover:border-primary-200"
                [routerLink]="'/nos-lettres-wi'">
                <label class=" font-medium  sm:text-2xl text-white  group-hover:cursor-pointer p-2">Découvrir
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="flex justify-center ">
          <img class=" div-1 h-20 w-auto object-cover" [src]="'/assets/images/pages/espace-multimedia/livres.png'"
            class="w-2/5 h-full" />
        </div>
      </div>

    </div>
  </section>

  <section class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20  min-h-80 md:min-h-76 bg-white">
    <div class="w-full  max-w-400 mx-auto md:flex flex-col flex-wrap  justify-start  ">
      <div
        class="text-2xl sm:text-3xl md:text-4xl  items-center sm:items-start uppercase font-bold tracking-tight leading-tight text-primary ">
        Nos produits
      </div>
      <div class="sm:grid sm:grid-cols-2">
        <div>
          <div
            class=" sm:text-xl  pt-5 pb-2 sm:pt-9 sm:pb-4 items-center sm:items-start  font-medium tracking-tight leading-tight   text-justify">
            Pour vous aider à concrétiser vos projets immobiliers, les spécialistes Wafa Immobilier s’engagent à vous accompagner et mettre à votre disposition des formules de financement personnalisées et adaptées à vos besoins .
          </div>
          <div
            class=" sm:text-xl  pb-2  sm:pb-4 items-center sm:items-start  font-medium tracking-tight leading-tight  text-justify ">
            Découvrez nos offres Miftah et profitez de nos formules de financement avantageuses. 
          </div>
          <div class="py-5 mx-auto flex flex-col items-center justify-center">
            <div
            class="group  w-fit p-1 sm:p-2 px-3 sm:px-5 sm:min-h-8 items-center text-center justify-center rounded-3xl  cursor-pointer bg-gray-800  transition-transform duration-500 ease-in-out hover:scale-[1.1] hover:border-primary-200"
            [routerLink]="'/nos-offres-miftah'">
            <label class=" font-medium p-2 sm:text-2xl text-white  group-hover:cursor-pointer ">Tout voir
            </label>
          </div>
          </div>
          
        </div>
        <div>
          <!-- container image !-->
        </div>
      </div>

    </div>
  </section>

  <contactez-nous [isScreenSmall]="isScreenSmall"></contactez-nous>

































</div>
