<!-- cinq étapes -->
<section class="flex flex-col items-center px-6 sm:px-16 py-10 sm:pt-18 sm:pb-20 bg-card dark:bg-gray-800">
    <div class="w-full max-w-360">
        <div class="text-2xl md:text-4xl uppercase font-extrabold tracking-tight leading-tight text-primary">
            Je finance mon bien en cinq étapes
        </div>
        <div class="flex flex-col items-center sm:flex-row sm:items-start w-full pt-7 pb-10 sm:pt-30">
            <div class="relative sm:w-1/5 sm:aspect-square mr-36 sm:mr-0 sm:-mt-18"
                [animateAfterAppear]="isXsScreen? 'fadeInLeft' : 'fadeInTop'"
                [animationOptions]="{params: {duration: 1000}}">
                <figure style="transform: translate(-50%, -20px);"
                    class="absolute h-40 w-40 md:w-full md:h-full left-1/2 top-5">
                    <img class="object-cover" src="assets/images/pages/landing/cercle1.png">
                </figure>

                <div class="h-full flex flex-col items-center mt-3 md:mt-5 text-center">
                    <span class="text-8xl md:text-10xl font-extrabold leading-tight">1</span>
                    <span class="text-sm md:text-xl uppercase font-bold">Je simule<br />mon crédit</span>
                </div>
            </div>
            <div class="relative sm:w-1/5 sm:aspect-square ml-36 sm:ml-0 -mt-10 sm:mt-20"
                [animateAfterAppear]="isXsScreen? 'fadeInRight' : 'fadeInBottom'" 
                [animationOptions]="{params: {duration: 1000, delay: 200}}">

                <figure style="transform: translate(-50%, -20px);"
                    class="absolute h-40 w-40 md:w-full md:h-full left-1/2 top-5">
                    <img class="object-cover" src="assets/images/pages/landing/cercle2.png">
                </figure>

                <div class="h-full flex flex-col items-center mt-3 md:mt-5 text-center">
                    <span class="text-8xl md:text-10xl font-extrabold leading-tight">2</span>
                    <span class="text-sm md:text-xl uppercase font-bold">Je fais<br />ma demande</span>
                </div>
            </div>
            <div class="relative sm:w-1/5 sm:aspect-square mr-36 sm:mr-0 -mt-10 sm:-mt-18"
                [animateAfterAppear]="isXsScreen? 'fadeInLeft' : 'fadeInTop'" 
                [animationOptions]="{params: {duration: 1000, delay: 400}}">

                <figure style="transform: translate(-50%, -20px);"
                    class="absolute h-40 w-40 md:w-full md:h-full left-1/2 top-5">
                    <img class="object-cover" src="assets/images/pages/landing/cercle3.png">
                </figure>

                <div class="h-full flex flex-col items-center mt-3 md:mt-5 text-center">
                    <span class="text-8xl md:text-10xl font-extrabold leading-tight">3</span>
                    <span class="text-sm md:text-xl uppercase font-bold">J'obtiens<br />mon accord</span>
                </div>
            </div>
            <div class="relative sm:w-1/5 sm:aspect-square ml-36 sm:ml-0 -mt-10 sm:mt-20"
                [animateAfterAppear]="isXsScreen? 'fadeInRight' : 'fadeInBottom'" 
                [animationOptions]="{params: {duration: 1000, delay: 600}}">

                <figure style="transform: translate(-50%, -20px);"
                    class="absolute h-40 w-40 md:w-full md:h-full left-1/2 top-5">
                    <img class="object-cover" src="assets/images/pages/landing/cercle4.png">
                </figure>

                <div class="h-full flex flex-col items-center mt-3 md:mt-5 text-center">
                    <span class="text-8xl md:text-10xl font-extrabold leading-tight">4</span>
                    <span class="text-sm md:text-xl uppercase font-bold">Je justifie<br />mon dossier</span>
                </div>
            </div>
            <div class="relative sm:w-1/5 sm:aspect-square mr-36 sm:mr-0 -mt-10 sm:-mt-18"
                [animateAfterAppear]="isXsScreen? 'fadeInLeft' : 'fadeInTop'" 
                [animationOptions]="{params: {duration: 1000, delay: 800}}">

                <figure style="transform: translate(-50%, -20px);"
                    class="absolute h-40 w-40 md:w-full md:h-full left-1/2 top-5">
                    <img class="object-cover" src="assets/images/pages/landing/cercle5.png">
                </figure>

                <div class="h-full flex flex-col items-center mt-3 md:mt-5 text-center">
                    <span class="text-8xl md:text-10xl font-extrabold leading-tight">5</span>
                    <span class="text-sm md:text-xl uppercase font-bold">Je signe !</span>
                </div>
            </div>
        </div>
    </div>
</section>