/* ----------------------------------------------------------------------------------------------------- */
/*  @ Slider
/* ----------------------------------------------------------------------------------------------------- */
.mat-slider.mat-slider-horizontal .mat-slider-ticks-container {
    height: 5px !important;
    // top: -1px !important;
    // transform: translateX(0%);

    .mat-slider-ticks {
        height: 5px !important;
        color: white !important;
        // background-color: var(--fuse-second) !important;
        // opacity: 1 !important;
    }
}

// .mat-slider.mat-slider-horizontal .mat-slider-ticks {
//     height: 5px !important;
//     opacity: 1 !important;

//     // background-size: 0% 2px; 
//     // transform: translateZ(0px) translateX(0%);

//     // background-size: 10.101% 2px !important;
//     // transform: translateZ(0px) translateX(5.05051%);
//     // background-size: 16.6667% 2px; transform: translateZ(0px) translateX(8.33333%);
// }

// .mat-slider.mat-slider-horizontal .mat-slider-ticks {
//     // make ticks fill full height
//     height: 8px !important;
//     // this will force show the ticks
//     opacity: 1;
//     background-size: 10.101% 2px !important;
//     transform: translateZ(0px) translateX(5.05051%); // I adjusted my slider to be thicker, so the correct values for you here may be different
//   }





// .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
//     top: 18px;
// }
.mat-slider.mat-slider-horizontal .mat-slider-wrapper,
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 10px;
    border-radius: 9999px;
}

// .mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100%;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background {
    top: 2px;
    height: 60%;
    // background-color: transparent !important;
    background-color: black;
    border-radius: 9999px;
}

// .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
//     outline: 3px solid var(--fuse-primary) !important;
// }

// .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
//     background-color: blue !important;
// }

.mat-slider.mat-slider-horizontal .mat-slider-thumb {
    // opacity: 1 !important;
    // height: 30px;
    // width: 30px;
    // // outline: 5px solid #fff !important;
    background-color: var(--fuse-primary) !important;
    border: solid 2px rgba(255, 255, 255, .5) !important;
    bottom: -10px;
    right: -10px;
}

// :not(.mat-slider-thumb-label-showing)
.mat-slider.mat-slider-min-value .mat-slider-thumb {
    background-color: var(--fuse-second) !important;
    border: solid 2px rgba(255, 255, 255, .5) !important;
}

// .mat-slider.mat-slider-horizontal:hover .mat-slider-wrapper,.cdk-focused
.mat-slider.mat-slider-horizontal:not(.mat-slider-disabled):not(.mat-slider-min-value) .mat-slider-wrapper {

    .mat-slider-track-background {
        background-color: rgba(0, 0, 0, .6);
    }

    .mat-slider-thumb-container {

        .mat-slider-thumb {
            transform: scale(1.2) !important;
        }

        .mat-slider-thumb-label {
            white-space: pre;
            transform: rotate(0deg) !important;
            border-radius: 12px 12px 0 !important;
            width: fit-content !important; // 5rem !important;
            right: 0px !important;
            top: -41px !important;

            //solution 2
            //     // transform: rotate(45deg) !important;
            //     // border-radius: 50% 50% 0 !important;
            //     // border-radius: 12px !important;

            //solution 3
            //     //         width: 50px;
            //     //         height: 50px;
            //     //         top: -62px;
            //     //         right: -25px;
        }

        .mat-slider-thumb-label-text {
            transform: rotate(0deg) !important;
            opacity: 1 !important;
            // color: black !important;
        }
    }
}