<!-- Je simule mon crédit -->
<div class="text-2xl md:text-3xl uppercase font-extrabold tracking-tight leading-tight text-primary"
    [ngClass]="{'md:text-4xl': isFull}">
    Je simule mon crédit
</div>

<div class="grid grid-cols-1 sm:grid-cols-3 gap-1 w-full mt-7 items-center"
    [ngClass]="{'md:grid-cols-2': !isFull, 
                'md:mt-16 md:grid-cols-4 md:gap-6': isFull}">
    <div class="text-sm md:text-base font-bold uppercase col-span-1 md:col-span-2"
        [ngClass]="{'sm:mt-3 md:text-lg': isFull}">
        Montant du crédit (Dhs)
    </div>
    <div class="relative flex flex-row items-center col-span-1 sm:col-span-2 max-sm:mt-3"
        [ngClass]="{'md:mt-3': !isFull,
                    'md:col-span-3': isFull}">
        <span class="absolute left-0 top-0 text-xs md:text-sm">0</span>
        <mat-slider class="w-full" 
            [color]="'primary'"
            min="0"
            max="5000000"
            step="50000"
            thumbLabel
            [displayWith]="formatLabelMontant"
            [(ngModel)]="montantValue"
            (change)="updateMontant($event)"
            (input)="updateMontant($event)">
        </mat-slider>
        <span class="flex items-center justify-center w-fit h-fit rounded-full hover:bg-default hover:cursor-pointer"
            [matTooltip]="'Précisez le montant de votre crédit'">
            <mat-icon
                class="icon-size-5 text-primary"
                [svgIcon]="'heroicons_solid:information-circle'">
            </mat-icon>
        </span>
        <span class="absolute right-8 -bottom-2 text-xs md:text-sm">5 000 000.00</span>
    </div>

    <div class="text-sm md:text-base font-bold uppercase col-span-1 md:col-span-2"
        [ngClass]="{'sm:mt-3 md:text-lg': isFull}">
        Durée (ans)
    </div>
    <div class="relative flex flex-row items-center col-span-1 sm:col-span-2 max-sm:mt-3"
        [ngClass]="{'md:mt-3': !isFull,
                    'md:col-span-3': isFull}">
        <span class="absolute left-0 top-0 text-xs md:text-sm">1</span>
        <mat-slider class="w-full" 
            [color]="'primary'"
            min="1"
            max="30"
            step="1"
            thumbLabel
            [displayWith]="formatLabelDuree"
            [(ngModel)]="dureeValue"
            (change)="updateDuree($event)"
            (input)="updateDuree($event)">
        </mat-slider>
        <span class="flex items-center justify-center w-fit h-fit rounded-full hover:bg-default hover:cursor-pointer"
            [matTooltip]="'Précisez votre durée de remboursement'">
            <mat-icon
                class="icon-size-5 text-primary"
                [svgIcon]="'heroicons_solid:information-circle'">
            </mat-icon>
        </span>
        <span class="absolute right-8 -bottom-2 text-xs md:text-sm">30</span>
    </div>

    <div class="text-sm md:text-base font-bold uppercase col-span-1 md:col-span-2"
        [ngClass]="{'sm:mt-3 md:text-lg': isFull}">
        Taux du crédit (%)
    </div>
    <div class="relative flex flex-row items-center col-span-1 sm:col-span-2 max-sm:mt-3"
        [ngClass]="{'md:mt-3': !isFull,
                    'md:col-span-3': isFull}">
        <span class="absolute left-0 top-0 text-xs md:text-sm">1</span>
        <mat-slider class="w-full" 
            [color]="'primary'"
            min="1"
            max="10"
            step="0.1"
            thumbLabel
            [displayWith]="formatLabelTaux"
            [(ngModel)]="tauxValue"
            (change)="updateTaux($event)"
            (input)="updateTaux($event)">
        </mat-slider>
        <span class="flex items-center justify-center w-fit h-fit rounded-full hover:bg-default hover:cursor-pointer"
            [matTooltip]="'Choisissez votre taux d’intérêt pour effectuer vos différentes simulations'">
            <mat-icon
                class="icon-size-5 text-primary"
                [svgIcon]="'heroicons_solid:information-circle'">
            </mat-icon>
        </span>
        <span class="absolute right-8 -bottom-2 text-xs md:text-sm">10</span>
    </div>
</div>

<div class="flex flex-col w-full mt-7 p-3 pt-6 ring-1 ring-second-500 bg-second-100 rounded-md"
    [ngClass]="{'hidden': isFull}">
    <div class="flex flex-row">
        <div class="uppercase text-sm sm:text-base md:text-lg font-bold tracking-tight leading-6 truncate">
            Mensualité HT
        </div>
        <div class="flex items-baseline justify-center ml-auto">
            <div class="text-xl sm:text-2xl md:text-3xl font-bold tracking-tight leading-none truncate">
                {{mensualite}}
            </div>
            <div class="ml-1.5 text-sm sm:text-base md:text-lg font-semibold">
                Dhs
            </div>
        </div>
    </div>
    <div class="flex flex-row space-x-2 mt-3">
        <mat-icon
            class="icon-size-4 text-secondary"
            [svgIcon]="'heroicons_solid:information-circle'">
        </mat-icon>
        <span class="text-sm">Le résultat de cette simulation est non contractuel et revêt un caractère strictement informatif</span>
    </div>
</div>

<div class="flex flex-col items-center mt-7"
    [ngClass]="{'md:mt-10': isFull}">
    <div class="font-semibold mb-5">
        Besoin d’une simulation personnalisée ? Calculez la mensualité de votre crédit la plus adaptée à votre profil  !
    </div>
    <button 
        mat-flat-button
        [ngClass]="{'fuse-mat-button-small': isScreenSmall}"
        [color]="'primary'"
        (click)="navigateToSimulationPersonnalisee()">
        Continuer
    </button>
</div>