<!-- Je simule mon crédit -->
<div class="text-2xl md:text-3xl uppercase font-extrabold tracking-tight leading-tight text-primary"
    [ngClass]="{'md:text-4xl': isFull}">
    Je simule mon crédit
</div>

<!-- [animateAfterAppear]="'fadeInTop'"
[animationOptions]="{params: {duration: 1000, delay: 100}}" -->
<div class="grid grid-cols-1 sm:grid-cols-3 gap-1 w-full mt-7"
    [ngClass]="{'md:grid-cols-2': !isFull, 
                'md:mt-16 md:grid-cols-4 md:gap-6': isFull}">
    <div class="col-span-1 text-sm sm:text-base font-bold uppercase"
        [ngClass]="{'sm:mt-3 md:text-lg': isFull}">
        Montant du crédit
    </div>
    <!-- [animateAfterAppear]="'fadeInTop'" 
    [animationOptions]="{params: {duration: 1000, delay: 200}}" -->
    <div class="relative flex flex-col col-span-1 sm:col-span-2 max-md:mt-3"
        [ngClass]="{'md:mt-3': !isFull,
                    'md:col-span-3': isFull}">
        <span class="absolute left-0 top-0 text-xs md:text-sm">0 dhs</span>
        <mat-slider class="w-full" 
            [color]="'primary'"
            min="0"
            max="5000000"
            step="10000"
            thumbLabel
            [displayWith]="formatLabelMontant"
            [(ngModel)]="montantValue"
            (change)="updateMontant($event)"
            (input)="updateMontant($event)">
        </mat-slider>
        <span class="absolute right-0 top-0 text-xs md:text-sm">5 000 000,00 Dhs</span>
    </div>

    <!-- [animateAfterAppear]="'fadeInTop'" 
    [animationOptions]="{params: {duration: 1000, delay: 300}}" -->
    <div class="col-span-1 text-sm sm:text-base font-bold uppercase"
        [ngClass]="{'sm:mt-3 md:text-lg': isFull}">
        Durée
    </div>
    <!-- [animateAfterAppear]="'fadeInTop'" 
    [animationOptions]="{params: {duration: 1000, delay: 400}}" -->
    <div class="relative flex flex-col col-span-1 sm:col-span-2 max-md:mt-3"
        [ngClass]="{'md:mt-3': !isFull,
                    'md:col-span-3': isFull}">
        <span class="absolute left-0 top-0 text-xs md:text-sm">1 an</span>
        <mat-slider class="w-full" 
            [color]="'primary'"
            min="1"
            max="30"
            step="1"
            thumbLabel
            [displayWith]="formatLabelDuree"
            [(ngModel)]="dureeValue"
            (change)="updateDuree($event)"
            (input)="updateDuree($event)">
        </mat-slider>
        <span class="absolute right-0 top-0 text-xs md:text-sm">30 ans</span>
    </div>

    <!-- [animateAfterAppear]="'fadeInTop'" 
    [animationOptions]="{params: {duration: 1000, delay: 500}}" -->
    <div class="col-span-1 text-sm sm:text-base font-bold uppercase"
        [ngClass]="{'sm:mt-3 md:text-lg': isFull}">
        Taux du crédit
    </div>
    <!-- [animateAfterAppear]="'fadeInTop'" 
    [animationOptions]="{params: {duration: 1000, delay: 600}}" -->
    <div class="relative flex flex-col col-span-1 sm:col-span-2 max-md:mt-3"
        [ngClass]="{'md:mt-3': !isFull,
                    'md:col-span-3': isFull}">
        <span class="absolute left-0 top-0 text-xs md:text-sm">1 %</span>
        <mat-slider class="w-full" 
            [color]="'primary'"
            min="1"
            max="10"
            step="0.1"
            thumbLabel
            [displayWith]="formatLabelTaux"
            [(ngModel)]="tauxValue"
            (change)="updateTaux($event)"
            (input)="updateTaux($event)">
        </mat-slider>
        <span class="absolute right-0 top-0 text-xs md:text-sm">10 %</span>
    </div>
</div>

<div class="grid grid-cols-2 gap-3 md:gap-6 w-full mt-5"
    [ngClass]="{'md:mt-16 md:grid-cols-4': isFull}">

    <!-- [animateAfterAppear]="'fadeInTop'" 
    [animationOptions]="{params: {duration: 1000, delay: 700}}" -->
    <div class="flex flex-col flex-auto"
        [ngClass]="{'md:p-3': isFull}">
        <div class="flex items-start uppercase text-sm sm:text-base font-bold tracking-tight leading-6 truncate">
            Montant du crédit
        </div>
        <div class="flex items-baseline justify-center w-full bg-primary-150 shadow rounded-full p-2 mt-2"
            [ngClass]="{'md:mt-5': isFull}">
            <div class="sm:text-2xl font-bold tracking-tight leading-none text-primary truncate"
                [ngClass]="{'md:text-3xl': isFull}">
                <!-- {{montantValue.toLocaleString('fr-FR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}} -->
                {{montantValue | number:'1.2-2'}}
            </div>
            <div class="ml-1.5 text-sm sm:text-base font-semibold text-primary-600 dark:text-primary-400"
                [ngClass]="{'md:text-lg': isFull}">
                Dhs
            </div>
        </div>
    </div>

    <!-- [animateAfterAppear]="'fadeInTop'" 
    [animationOptions]="{params: {duration: 1000, delay: 800}}" -->
    <div class="flex flex-col flex-auto"
        [ngClass]="{'md:p-3': isFull}">
        <div class="uppercase text-sm sm:text-base font-bold tracking-tight leading-6 truncate">
            Mensualité HT
        </div>
        <div class="flex items-baseline justify-center w-full bg-primary-150 shadow rounded-full p-2 mt-2"
            [ngClass]="{'md:mt-5': isFull}">
            <div class="sm:text-2xl font-bold tracking-tight leading-none text-primary truncate"
                [ngClass]="{'md:text-3xl': isFull}">
                {{mensualite}}</div>
            <div class="ml-1.5 text-sm sm:text-base font-semibold text-primary-600 dark:text-primary-400"
                [ngClass]="{'md:text-lg': isFull}">
                Dhs
            </div>
        </div>
    </div>

    <!-- [animateAfterAppear]="'fadeInTop'" 
    [animationOptions]="{params: {duration: 1000, delay: 900}}" -->
    <div class="flex flex-col flex-auto"
        [ngClass]="{'md:p-3': isFull}">
        <div class="uppercase text-sm sm:text-base font-bold tracking-tight leading-6 truncate">
            Taux
        </div>
        <div class="flex items-baseline justify-center w-full bg-primary-150 shadow rounded-full p-2 mt-2"
            [ngClass]="{'md:mt-5': isFull}">
            <div class="sm:text-2xl font-bold tracking-tight leading-none text-primary truncate"
                [ngClass]="{'md:text-3xl': isFull}">
                <!-- {{tauxValue.toLocaleString('fr-FR', { minimumFractionDigits: 1, maximumFractionDigits: 1 })}} -->
                {{tauxValue | number:'1.1-1'}}
            </div>
            <div class="ml-1.5 text-sm sm:text-base font-semibold text-primary-600 dark:text-primary-400"
                [ngClass]="{'md:text-lg': isFull}">
                %
            </div>
        </div>
    </div>

    <!-- [animateAfterAppear]="'fadeInTop'" 
    [animationOptions]="{params: {duration: 1000, delay: 1000}}" -->
    <div class="flex flex-col flex-auto"
        [ngClass]="{'md:p-3': isFull}">
        <div class="uppercase text-sm sm:text-base font-bold tracking-tight leading-6 truncate">
            Durée
        </div>
        <div class="flex items-baseline justify-center w-full bg-primary-150 shadow rounded-full p-2 mt-2"
            [ngClass]="{'md:mt-5': isFull}">
            <div class="sm:text-2xl font-bold tracking-tight leading-none text-primary truncate"
                [ngClass]="{'md:text-3xl': isFull}">
                {{dureeValue | number:'1.0-0'}}</div>
            <div class="ml-1.5 text-sm sm:text-base font-semibold text-primary-600 dark:text-primary-400"
                [ngClass]="{'md:text-lg': isFull}">
                ans
            </div>
        </div>
    </div>
</div>

<!-- [animateAfterAppear]="'fadeInTop'" 
[animationOptions]="{params: {duration: 1000, delay: 1100}}" -->
<div class="flex flex-col items-center mt-7"
    [ngClass]="{'md:mt-10': isFull}">
    <button 
        [ngClass]="{'fuse-mat-button-large': !isScreenSmall}"
        mat-flat-button
        [color]="'primary'"
        (click)="navigateToSimulationPersonnalisee()">
        Continuer
    </button>
</div>