

.b1-bg {
  background-image:  url('/assets/images/pages/nos-guides-et-conseils/details/detail1md.jpg');
  background-repeat: no-repeat;

  background-size:  cover ;
  @media (max-width: 600px) {
    background-image:   url('/assets/images/pages/nos-guides-et-conseils/detail1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover ;
  }
}  


  