<div class=" flex flex-col flex-auto min-w-0 overflow-hidden  " [@fadeInRight]="{value:'', params: {duration: 700}}">

  <!-- Header -->
  

  <section class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20 grid grid-cols-12 min-h-[45vh] sm:min-h-[30vh] b1-bg">
    <button class="group col-span-1 w-full md:w-1/2  sm:cursor-pointer sm:transition-transform sm:duration-500 sm:ease-in-out sm:hover:scale-[1.2]" routerLink="/conseil-detail-4">
      <mat-icon class="h-full text-primary w-full  group-hover:text-primary-700 " svgIcon="navigate_before"></mat-icon></button>
    
    <div class="w-full col-span-10 max-w-400 mx-auto flex flex-col items-center justify-center">

      <div class=" grid grid-cols-1 sm:grid-cols-2  gap-y-4 sm:gap-y-6 md:gap-y-8 gap-x-8 sm:gap-x-12 md:gap-x-15  ">
        <div class="hidden sm:block text-2xl sm:text-3xl md:text-4xl uppercase font-bold tracking-tight leading-tight  ">
          Achat immobilier : 10 règles à respecter
        </div>
        <div></div>
      </div>
    </div>
    <button class="group col-span-1 w-full md:w-1/2 sm:cursor-pointer sm:transition-transform sm:duration-500 sm:ease-in-out sm:hover:scale-[1.2] " routerLink="/conseil-detail-2">
      <mat-icon class="h-full text-primary w-full group-hover:text-primary-700 " svgIcon="navigate_next"></mat-icon></button>
  </section>

  <section class="sm:hidden px-5 py-4 min-h-10  ">
  <div class="w-full max-w-400 mx-auto flex flex-col items-center justify-center">

      <div class="  text-2xl uppercase font-bold tracking-tight leading-tight  ">
        Achat immobilier : 10 règles à respecter
      </div>
   
  </div>
</section>


  <section class="px-5 sm:px-16 py-3   min-h-80 md:min-h-76 b3-gray-100">
    <div class="sm:w-full  max-w-400 mx-auto md:flex flex-col flex-wrap  justify-start text-justify ">
      <div class="  py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl ">Investir dans l’immobilier est l’un des moyens sûrs pour se constituer un patrimoine.
        Voici quelques règles à respecter pour réussir votre achat immobilier
        
      </div>
      <div class=" py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl">
        <h3 class="text-primary font-bold">Règle n°1: Investissez-vous !</h3>
        <p> Vous devez maîtriser les notions et termes qu'utilise votre établissement prêteur pour mieux négocier avec lui. Préférez-vous un taux fixe ou variable ? Pour choisir librement, les termes ne doivent pas avoir de secret pour vous (consultez notre glossaire).</p>
      </div>

      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl">
        <h3 class=" text-primary font-bold ">Règle n°2: Constituez-vous une épargne </h3>
        <p>Un apport personnel est souvent indispensable à l'obtention d'un prêt. De plus il fait la preuve de votre capacité à épargner.</p>
      </div>


      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl">
        <h3 class="text-primary font-bold">Règle n°3: Profitez des prêts auxquels vous avez droit</h3>
        <p class="mt-2 sm:mt-1">Profitez des prêts auxquels vous avez droit
          Différents prêts et aides existent pour vous aider à financer votre projet (prêt employeur, prêt conventionné..). Certains sont constitutifs d'apport personnel. Si vous pouvez en bénéficier, n'hésitez pas: ils sont très avantageux
          </p>
      </div>
      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl">
        <h3 class="text-primary font-bold">Règle n°4: Faites jouer la concurrence</h3>
        <p class="mt-2 sm:mt-1">Faites le tour de toutes les possibilités (établissements de crédit traditionnel, prêt sur internet, courtage de prêt...) et choisissez un partenaire financier fiable.</p>
      </div>
      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl">
        <h3 class="text-primary font-bold">Règle n°5: Ne voyez pas que le taux du crédit!</h3>
        <p class="mt-2 sm:mt-1">Prenez en compte le TEG, véritable indicateur du coût du crédit.
          </p>

          <p class="mt-2 sm:mt-1">Le taux effectif global (TEG) comprend les frais de dossier, le montant de l'assurance décès-invalidité-incapacité et la marge de la banque en cas de taux révisables.
          </p>
      </div>
      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl">
        <h3 class="text-primary font-bold">Règle n°6: Demandez des simulations</h3>
        <p class="mt-2 sm:mt-1">Demander à votre société de financement un plan de financement personnalisé qui prend en compte vos capacités de remboursement. Cette simulation détaillée (mensualités, capital amorti, intérêts...) vous permettra d'y voir plus clair dans vos remboursements et ce, pour toute la durée du prêt.
          </p>
      </div>
      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl">
        <h3 class="text-primary font-bold">Règle n°7: Prévoyez une certaine souplesse du crédit</h3>
        <p class="mt-2 sm:mt-1">Peut-être pourrez-vous rembourser des mensualités plus importantes (promotion professionnelle) ou au contraire avoir des difficultés à rembourser. Vous devez prévoir ces situations et vous renseigner quant à la souplesse des remboursements
          </p>
      </div>
      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl">
        <h3 class="text-primary font-bold">Règle n°8: Négociez!</h3>
        <p class="mt-2 sm:mt-1">Si votre dossier est solide, vous pouvez négocier les éléments annexes du contrat (frais de dossier, frais d'assurance, garantie, souplesse des remboursements...). Ces frais peuvent avoir des répercussions importantes, ne les oubliez pas lors de la négociation.
          </p>
      </div>
      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl">
        <h3 class="text-primary font-bold">Règle n°9: Prévoyez large</h3>
        <p class="mt-2 sm:mt-1">Personne n'est à l'abri de frais imprévus, ou d'une situation financière difficile. Réservez-vous une marge de sécurité afin d'éviter toutes pénalités liées à des retards de paiement.
          </p>
      </div>
      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-lg sm:text-xl">
        <h3 class="text-primary font-bold">Règle n°10: Avant de signer</h3>
        <p class="mt-2 sm:mt-1">Prenez un délai de réflexion pour réexaminer votre plan de financement et votre dossier dans les détails.
          </p>
      </div>

      <div class="py-3 sm:py-3 sm:px-20 md:px-40 text-xl sm:text-2xl">
        <h3 class="text-primary font-bold">Vous souhaitez investir dans un bien immobilier et vous souhaitez être accompagnés par des experts de l’immobilier ?</h3>
        
      </div>


      

      <div class="py-10 sm:pt-18 sm:px-20 md:px-40 sm:pb-20 grid grid-cols-1 sm:grid-cols-3 space-y-5 sm:space-x-30 sm:place-items-center">
        <button  mat-flat-button  [color]="'primary'"
          [routerLink]="'/nous-contacter'">
          Contactez-vous 
        </button>

        <button  mat-flat-button  [color]="'primary'"
          [routerLink]="'/simulation-personnalisee'">
          Simulez votre crédit
        </button>

        <button  mat-flat-button  [color]="'primary'"
          [routerLink]="'/nos-offres-miftah'">
          Découvrez nos offres
        </button>
      </div>


    </div>
  </section>
  <contactez-nous [isScreenSmall]="isScreenSmall"></contactez-nous>

</div>