<div class="flex flex-col flex-auto min-w-0 overflow-hidden" [@fadeInRight]="{value:'', params: {duration: 700}}">

    <!-- Header -->
    <header class="hidden md:flex flex-col items-center justify-center px-16 w-full md:min-h-76 support-bg-header">
        <div class="w-full max-w-400">
            <div class="max-w-xl text-2xl md:text-3xl font-bold uppercase tracking-tight leading-tight text-white">
                Nous contacter
            </div>
        </div>
    </header>

    <div class="px-5 sm:px-16 py-10 sm:pt-18 sm:pb-20">
        <div class="w-full max-w-400 mx-auto flex flex-col max-md:space-y-7 md:flex-row md:space-x-7">
            <div class="flex flex-col space-y-3">
                <fuse-card class="flex flex-col md:flex-row">
                    <div class="flex-0 w-full md:w-60">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/pages/support/phone.jpg"
                            alt="Card cover image">
                    </div>
                    <div class="flex flex-col flex-auto m-8 mb-4">
                        <div class="text-3xl font-semibold leading-tight">Nous appeler</div>
                        <div class="prose prose-sm leading-7 mt-4">
                            <p>Vous pouvez nous joindre au
                                <!-- <a class="relative rounded-full px-3 py-1 bg-primary-100 hover:bg-primary-200 whitespace-nowrap"
                                    [href]="'tel:2626'">
                                    <mat-icon
                                        class="absolute bottom-1 icon-size-5 text-primary"
                                        [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                                    <span class="ml-6 text-primary">05 22 *</span>
                                </a>
                                <span> depuis le Maroc et au </span> -->
                                <a class="relative rounded-full px-3 py-1 bg-primary-100 hover:bg-primary-200 whitespace-nowrap"
                                    [href]="'tel:00212529060606'">
                                    <mat-icon
                                        class="absolute bottom-1 icon-size-5 text-primary"
                                        [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                                    <span class="ml-6 text-primary">+212 5 29 06 06 06 *</span>
                                </a>
                                <span> pour toute information ou demande</span>
                            </p>
                        </div>
                        <div class="mt-4">Du lundi au vendredi de 08h30 à 16h30.</div>
                        <hr class="w-full border-b mt-3 mb-1">
                        <div class="text-sm italic font-medium text-secondary mt-1">* Prix d’un appel local</div>
                    </div>
                </fuse-card>

                <fuse-card class="flex flex-col md:flex-row">
                    <div class="flex-0 w-full md:w-60">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/pages/support/agence.jpg"
                            alt="Card cover image">
                    </div>
                    <div class="flex flex-col flex-auto m-8 mb-4">
                        <div class="text-3xl font-semibold leading-tight">Nous rendre visite</div>
                        <div class="mt-4">
                            Nos conseillers se feront le plaisir de vous accueillir 
                            dans nos agences pour vous conseiller et vous aider
                            à réaliser votre projet immobilier.
                        </div>
                        <button
                            class="w-fit mt-3"
                            mat-flat-button
                            [color]="'primary'"
                            [routerLink]="['/agences']">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            <span class="ml-2">Rechercher une agence</span>
                        </button>
                    </div>
                </fuse-card>

                <fuse-card class="flex flex-col md:flex-row">
                    <div class="flex-0 w-full md:w-60">
                        <img
                            class="w-full h-full object-cover"
                            src="assets/images/pages/support/reseaux-sociaux.jpg"
                            alt="Card cover image">
                    </div>
                    <div class="flex flex-col flex-auto m-8 mb-4">
                        <div class="text-3xl font-semibold leading-tight">Nous suivre</div>
                        <div class="mt-4">
                            Nous vous invitons à suivre nos offres et actualités sur les réseaux sociaux. 
                            <br/>
                            Suivez-nous sur :
                        </div>
                        <div class="max-w-60 flex items-center space-x-3 mt-3">
                            <button class="flex-auto" type="button" mat-icon-button mat-stroked-button>
                                <mat-icon class="icon-size-5" [svgIcon]="'feather:linkedin'"></mat-icon>
                            </button>
                            <button class="flex-auto" type="button" mat-icon-button mat-stroked-button>
                                <mat-icon class="icon-size-5" [svgIcon]="'feather:facebook'"></mat-icon>
                            </button>
                            <button class="flex-auto" type="button" mat-icon-button mat-stroked-button>
                                <mat-icon class="icon-size-5" [svgIcon]="'feather:twitter'"></mat-icon>
                            </button>
                            <button class="flex-auto" type="button" mat-icon-button mat-stroked-button>
                                <mat-icon class="icon-size-5" [svgIcon]="'feather:instagram'"></mat-icon>
                            </button>
                            <button class="flex-auto" type="button" mat-icon-button mat-stroked-button>
                                <mat-icon class="icon-size-5" [svgIcon]="'feather:youtube'"></mat-icon>
                            </button>
                        </div>
                    </div>
                </fuse-card>
            </div>

            <fuse-card class="w-full flex flex-col bg-card py-6 sm:py-8 px-6 sm:px-10">
                <!-- Header -->
                <div class="flex flex-0 items-center pb-3 border-b">
                    <div class="text-2xl font-semibold">En renseignant le formulaire ci-dessous</div>
                </div>

                <!-- Alert -->
                <fuse-alert class="pt-6 w-120" 
                    *ngIf="alert"
                    [type]="alert.type"
                    [showIcon]="false"
                    [appearance]="'outline'">
                    {{alert.message}}
                </fuse-alert>

                <form class="space-y-1 mt-5 overflow-y-auto" [formGroup]="supportForm" #supportNgForm="ngForm">
                    <!-- Nom -->
                    <mat-form-field class="w-full"
                        [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix>
                        </mat-icon>
                        <input matInput [formControlName]="'nom'" [required]="true">
                        <mat-label class="max-md:text-sm max-md:font-semibold">Nom</mat-label>
                        <mat-error *ngIf="supportForm.get('nom').hasError('required')">
                            Nom obligatoire
                        </mat-error>
                    </mat-form-field>

                    <!-- Prénom -->
                    <mat-form-field class="w-full"
                        [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix>
                        </mat-icon>
                        <input matInput [formControlName]="'prenom'" [required]="true">
                        <mat-label class="max-md:text-sm max-md:font-semibold">Prénom</mat-label>
                        <mat-error *ngIf="supportForm.get('prenom').hasError('required')">
                            Prénom obligatoire
                        </mat-error>
                    </mat-form-field>

                    <!-- Téléphone -->
                    <mat-form-field class="w-full"
                        [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:phone'" matPrefix></mat-icon>
                        <input matInput [formControlName]="'telephone'" [required]="true">
                        <mat-label class="max-md:text-sm max-md:font-semibold">Téléphone</mat-label>
                        <mat-error *ngIf="supportForm.get('telephone').hasError('required')">
                            Téléphone obligatoire
                        </mat-error>
                    </mat-form-field>

                    <!-- Email -->
                    <mat-form-field class="w-full"
                        [ngClass]="{'fuse-mat-dense': isScreenSmall}">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'" matPrefix></mat-icon>
                        <input type="email" matInput [formControlName]="'email'" [required]="true">
                        <mat-label class="max-md:text-sm max-md:font-semibold">E-mail</mat-label>
                        <mat-error *ngIf="supportForm.get('email').hasError('email')">
                            Enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="supportForm.get('email').hasError('required')">
                            Email obligatoire
                        </mat-error>
                    </mat-form-field>

                    <!-- Message -->
                    <mat-form-field class="fuse-mat-textarea w-full">
                        <textarea matInput
                            [formControlName]="'message'"
                            [rows]="3"
                            matTextareaAutosize>
                        </textarea>
                        <mat-label class="max-md:text-sm max-md:font-semibold">Message</mat-label>
                    </mat-form-field>

                    <!-- Actions -->
                    <div class="flex items-center justify-end">
                        <button mat-stroked-button
                            [color]="'accent'"
                            [disabled]="supportForm.pristine || supportForm.untouched"
                            (click)="clearForm()">
                            Vider
                        </button>
                        <button class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="supportForm.pristine || supportForm.invalid"
                            (click)="sendForm()">
                            Envoyer
                        </button>
                    </div>
                </form>
            </fuse-card>
        </div>
    </div>

</div>