.support-bg-header {
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('/assets/images/pages/support/header.jpg');
    // background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('/assets/images/pages/no-image.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

a:link { text-decoration: none; }