.nous-connaitre-bg-header {
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('/assets/images/pages/nous-connaitre/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.chiffre-bg {
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('/assets/images/pages/nous-connaitre/backgd.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

//**************************************************************************************
// Nous connaitre FZ
//**************************************************************************************
.section-header {
    position: relative;
    display: block;
    width: 100%;
}

.container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}

.nc-image {
    object-fit: cover;
    // height: 100%;
    // display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    // overflow: visible;
}

// .section-header .layout-wrap-1 {
    // width: 1029px;
    // margin: -758px auto 0;
    // background-color: yellow;
// }

.section-header .image-1 {
    // min-height: 421px;
    min-height: 592px;
    background-image: url('/assets/images/pages/nous-connaitre/aboutus.jpg');
    background-position: 50% 50%;
    margin: 5px 5px 0 0;
}

.section-header .layout-cell-2 {
    // min-height: 269px;
    min-height: 382px;
    margin: 0 5px 5px 0;
}


.section-header .layout-cell-3 {
    // min-height: 273px;
    min-height: 385px;
    margin: 5px 5px 0 5px;
}

.section-header .image-2 {
    min-height: 589px;
    // min-height: 417px;
    background-image: url('/assets/images/pages/nous-connaitre/team.jpg');
    background-position: 50% 50%;
    margin: 0 5px 5px 5px;
}


.section-header .image-3 {
    // min-height: 359px;
    min-height: 509px;
    background-image: url('/assets/images/pages/nous-connaitre/groupe.jpeg');
    background-position: 50% 50%;
    margin: 5px 0 0 5px;
}

.section-header .layout-cell-6 {
    // min-height: 331px;
    min-height: 465px;
    margin: 0 0 5px 5px;
}

.section-header .text-2 {
    font-size: 1.25rem;
}

.section-header .text-3 {
    font-size: 1rem;
}


@media (max-width: 1199px) {
    // .section-header .layout-wrap-1 {
        // width: 90%;
        // margin-top: -695px;
        // background-color: aqua;
    // }

    .section-header .image-1 {
        min-height: 366px;
    }
    .section-header .layout-cell-2 {
        min-height: 234px;
    }

    .section-header .layout-cell-3 {
        min-height: 237px;
    }
    .section-header .image-2 {
        min-height: 363px;
    }

    .section-header .image-3 {
        min-height: 312px;
    }
    .section-header .layout-cell-6 {
        min-height: 288px;
    }

}

// @media (max-width: 991px) {
//     // .section-header .sheet {
//     //     min-height: 790px;
//     // }

//     .section-header .layout-wrap-1 {
//         // margin-top: -673px;
//        background-color: pink;
//     }

//     // .section-header .text-2 {
//     //     font-size: 1rem;
//     // }

// }

@media (max-width: 767px) {
    // .section-header .layout-wrap-1 {
        // margin-top: -2160px;
        // background-color: green;
    // }

    .section-header .image-1 {
        min-height: 475px;
        margin: 0 0 10px 0;

    }
    .section-header .layout-cell-2 {
        min-height: 235px;
        margin: 0 0 10px 0;
    }

    .section-header .image-2 {
        min-height: 472px;
        margin: 0 0 10px 0;
        order: 1;
    }
    .section-header .layout-cell-3 {
        min-height: 253px;
        margin: 0 0 10px 0;
        order: 0;
    }

    .section-header .image-3 {
        min-height: 407px;
        margin: 0 0 10px 0;
    }
    .section-header .layout-cell-6 {
        min-height: 267px;
        margin: 0 0 10px 0;
    }
}

@media (max-width: 575px) {
    // .section-header .layout-wrap-1 {
        // margin-top: -2055px;
        // width: 100%;
        // background-color: purple;
    // }

    .section-header .image-1 {
        min-height: 421px;
    }
    .section-header .layout-cell-2 {
        min-height: 234px;
    }


    .section-header .image-2 {
        min-height: 417px;
    }
    .section-header .layout-cell-3 {
        min-height: 276px;
    }


    .section-header .image-3 {
        min-height: 359px;
    }
    .section-header .layout-cell-6 {
        min-height: 300px;
    }
}


// tableau
.layout-col,
.layout-row,
.layout-col>* {
    display: flex;
}

.layout-col,
.layout-row {
    flex: 1 1 100%;
}

.layout-row>* {
    min-height: -webkit-fit-content;
    min-height: fit-content;
    max-height: 100%;
}
@media (max-width: 767px) {
    .layout-row>* {
        min-width: 100%;
    }
}
.layout-row {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100%;
    max-width: 100%;
}
.layout-row>.size-20 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}


.layout-col>* {
    min-height: -webkit-fit-content;
    min-height: fit-content;
    max-width: 100%;
}
.layout-col {
    flex-direction: column;
    min-height: 100%;
}
.layout-col>.size-20 {
    flex: 20 0 33.33333333%;
}
.layout-col>.size-40 {
    flex: 40 0 66.66666667%;
}





.section-group-awb .image-1 {
    width: 434px;
    height: 363px;
    object-position: 50% 0%;
    background-position: 50% 0%;
    margin: 0 0 0 auto;
}
.section-group-awb .image-2 {
    width: 471px;
    height: 359px;
    object-position: 50% 22.76%;
    background-position: 50% 22.76%;
    margin: -147px auto 0 0;
}
.section-group-awb .image-3 {
    width: 300px;
    height: 232px;
    margin: -54px 0 0 auto;
}

@media (max-width: 1199px) {
    .section-group-awb .image-1 {
        width: 411px;
    }
    .section-group-awb .image-2 {
        width: 403px;
        height: 332px;
        margin-top: -109px;
    }
    .section-group-awb .image-3 {
        margin-top: -66px;
    }
}

@media (max-width: 991px) {
    .section-group-awb .image-1 {
        width: 320px;
        height: 261px;
    }
    .section-group-awb .image-2 {
        width: 316px;
        height: 259px;
        margin-top: -89px;
    }
    .section-group-awb .image-3 {
        width: 226px;
        height: 195px;
        margin-top: -65px;
    }
}

@media (max-width: 767px) {
    .section-group-awb .image-2 {
        width: 427px;
        height: 296px;
    }
    .section-group-awb .image-3 {
        width: 261px;
        height: 203px;
        margin-top: -110px;
    }
}

@media (max-width: 575px) {
    .section-group-awb .image-1 {
        width: 300px;
        height: 233px;
    }
    .section-group-awb .image-2 {
        width: 287px;
        height: 219px;
        margin-top: -54px;
    }
    .section-group-awb .image-3 {
        width: 197px;
        height: 154px;
        margin-top: -58px;
    }
}